.svg-graph {
    width: unset;
    height: unset;
}

.x-axis path,
.y-axis path {
    visibility: hidden;
}

.tick line {
    visibility: hidden;
}

.tooltip-graph {
    border: solid 1px #b5b5b5;
    background-color: white;
    color: #363636;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 12px;
    border-radius: 2px;
    z-index: 10;
    box-shadow: 0 0 6px 4px #f5f5f5;
    font-size: 11px;
    pointer-events: none;
}

.tooltip-graph p {
    margin: 0px;
    line-height: 1.4;
}