.descriptor-container__upload-button:hover {
    background: var(--B600);
}

.scoped-variables-tab-container {
    display: flex;
    padding: 0px 20px;
    align-self: stretch;
    align-items: center;
    border-bottom: 1px solid var(--N200);
    background: var(--N0);
}

.scoped-variables-tab {
    outline: none;
    border: none;
    background: none;
    display: flex;
    padding: 8px 16px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--N900);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: capitalize;
}

.scoped-variables-tab div {
    padding-bottom: 6px;
}

.scoped-variables-tab:hover {
    color: var(--B500);
}

.scoped-variables-active-tab div {
    border-bottom: 2px solid var(--B500);
    color: var(--B500);
    font-weight: 600;
    margin-bottom: -1px;
}

.scoped-variables-editor-infobar {
    display: flex;
    padding: 8px 12px;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid var(--N200);
    background: var(--N0);
    position: relative;
}

.scoped-variables-editor-infobar__btn {
    outline: none;
    border: none;
    background: none;
    padding: 0px;
    width: 20px;
    height: 20px;
}

.scoped-variables-editor-infobar__dropdown {
    position: absolute;
    top: 37px;
    right: 0;
    display: flex;
    width: 185px;
    padding: 4px 0px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid var(--N200);
    background: var(--N0);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.scoped-variables-editor-infobar__dropdown-item {
    cursor: pointer;
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    background: var(--N0);
    color: var(--N900);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.scoped-variables-editor-infobar__dropdown-item:hover {
    background: var(--N50);
}

.scoped-variables-editor-infobar__dropdown-item:active {
    background: var(--B100);
    color: var(--B500);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.saved-variables-editor-background {
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
    background: var(--window-bg);
}

.saved-variables-editor-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--N200);
}

.scoped-variables-editor-infobar__typography {
    flex: 1 0 0;
    color: var(--N900);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0px;
}

.scoped-variables-list-item:hover {
    background: var(--N50);
}
