.guide-body {
    height: calc(100vh - 454px);
}

.guide-container {
    .guide-cards__wrap {
        display: grid;
        grid-template-columns: 300px 300px;
        grid-gap: 20px;
        position: absolute;
        top: -80px;
    }

    .guide-card__img {
        width: 300px;
        height: 210px;
    }
}
