.chart-group-deployment-radio {
  .form__radio-group {
    border: none;
  }

  .form__radio-item {
    border-right: none;
    padding: 4px;
  }

  .form__radio-item-content {
    padding: 0px;
  }
}