.deploy-chart-container {
    display: grid;
    grid-template-rows: 0px 1fr 64px;
    grid-template-columns: auto 100%;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow-x: hidden;
    .code-editor {
        .CodeMirror {
            height: 100%;
        }
    }
    .header-container {
        transition: all 0.2s ease-out;
        width: calc( 100% - 20px);
        justify-content: space-around;
        grid-column: 2 / span 1;
        .title {
            font-weight: 600;
            font-size: 18px;
            color: var(--N900);
        }
        .subtitle {
            font-size: 12px;
            color: var(--N700);
        }
        .border {
            width: 600px;
            border-bottom: 1px solid var(--N100);
        }
    }
    &.readmeOpen {
        .deploy-chart__readme-column {
            width: 50vw;
            grid-template-columns: 1fr 32px;
            grid-row: 1 / span 3;
            aside {
                background: var(--N700);
                color: var(--B500);
                border-top-right-radius: unset;
            }
            .deploy-chart__readme-markdown {
                padding: 32px;
            }
        }
        .header-container {
            width: calc( 50% - 20px);
        }
        .deploy-chart-body {
            width: 50%;
            .overflown {
                .hide-scroll {
                    width: 100%;
                    padding: 0 8px;
                }
            }
        }
        .cta-container {
            margin: 0 10px;
            width: calc(50% - 20px);
        }
    }
    .deploy-chart__readme-column {
        grid-row: 2 / span 2;
        width: 72px;
        transition: all 0.2s ease-out;
        display: grid;
        grid-template-columns: 1fr 72px;
        aside {
            background: var(--N100);
            color: var(--B500);
            cursor: pointer;
            border-top-right-radius: 8px;
        }
        .deploy-chart__readme-markdown {
            max-height: 100%;
            overflow-y: auto;
            padding: 0;
            transition: all 0.2s ease-out;
        }
        .rotate.not-available {
            color: #f32e2e;
            font-weight: 600;
        }
    }
    .deploy-chart-body {
        width: 100%;
        overflow: hidden;
        transition: all 0.2s ease-out;
        .overflown {
            overflow-y: auto;
            height: 100%;
            width: calc( 100% + 40px);
            padding-right: 40px;
            .hide-scroll {
                width: 100%;
                max-width: 1000px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                margin: 20px auto 0 auto;
                transition: all 0.2s ease-out;
            }
        }
        .code-editor-container .react-monaco-editor-container {
            min-height: 450px;
        }
    }
    .cta-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        transition: all 0.2s ease-out;
        .cta.delete {
            width: 200px;
        }
    }
}

.code-editor-container .react-monaco-editor-container {
    height: calc(100vh - 170px) !important;
}

.form__row.form__row--w-100 {
    width: 100%;
}

.dropdown__deprecated-text {
    font-size: 12px;
    line-height: 1.33;
    color: var(--Y700);
}

.deprecated-text-image,
.no-helm-chart-linked {
    font-size: 11px;
    margin: 4px 0 0 0;
    line-height: 1.45;
    color: var(--Y700);

    .deprecated-text,
    .no-helm-chart-linked-text {
        margin: 0 0 0 4px;
    }
}

.no-helm-chart-linked {
    color: var(--R500);
}

.no-helm-chart-linked svg path:nth-child(2) {
    fill: var(--R500);
}

.repo-chart-selector {
    div:first-child {
        width: 100%;
    }

    .code-editor__information-info-icon path:nth-child(2) {
        fill: var(--V500);
    }

    .sticky-information__bottom {
        background-color: var(--V100);
        justify-content: flex-start;
        padding: 10px 12px;
        margin: 8px 8px;
        border-radius: 4px;

        a {
            color: var(--B500);
        }
    }

    .refetch-charts {
        background-color: var(--N100);
        border: solid 1px var(--N200);
        border-radius: 4px;
        margin-left: 8px;

        svg path {
            fill: var(--N600);
        }

        &.refetching {
            cursor: not-allowed;

            svg {
                animation-name: refetch;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }

            @keyframes refetch {
                0% {
                    transform: rotate(360deg);
                }
                100% {
                    transform: rotate(0deg);
                }
            }
        }
    }
}

.repochart-dropdown-wrap {
    padding: 12px 16px 12px 52px;
    cursor: pointer;
    &:hover {
        background-color: var(--N100)
    }
    .select__check-icon {
        position: absolute;
        // top: 10px;
        left: 20px;
    }
}

.info__container--update-chart {
    padding: 16px;
    align-items: center;
    background-color: #fff8eb;
    border: solid 1px #ffcb5d;
    border-radius: 4px;
    margin: 0 0 20px 0;
    width: 100%;
}

.info__container--update-chart-disclaimer {
    margin: 2px 0 0;
    font-size: 12px;
    line-height: 1.67;
    color: var(--N700);
    padding: 0 0 0 32px;
}

.info__container--update-chart-text {
    padding: 0 0 0 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    color: var(--N900);
}

.update-chart path {
    fill: var(--Y700)
}

.update_deploy-chart-container_header {
    grid-template-rows: 60px 1fr 64px;
}