.app-compose {
    display: grid;
    grid-template-columns: 240px 1fr;
    height: calc(100vh - 80px);
    background: white;
    overflow: hidden;

    .app-compose__nav {
        padding: 16px;
        border-right: solid 1px #d6dbdf;
        background: white;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 110px 40px 40px 40px 40px 40px 40px 1fr auto;
        overflow: hidden;
        &.hide-app-config-help {
            grid-template-rows: 40px 40px 40px 40px 40px 40px 1fr auto;
        }
        .help-container {
            background-color: #f3f0ff;
            padding: 8px 12px;
            border-radius: 4px;
            height: 100px;
            .progress-container {
                background-color: #ffffff;
                margin: 5px 0 10px 0;
                font-size: 12px;
                .progress-tracker {
                    background-color: #1dad70;
                    height: 4px;
                    width: 1%;
                }
            }
            .font-weight-600 {
                font-weight: 600;
            }
            .need-help {
                color: var(--B500);
            }
        }
    }

    .app-compose__main {
        overflow: auto;
        background-color: var(--window-bg);
    }

    .app-compose__nav-item {
        font-size: 13px;
        line-height: 40px;
        color: var(--N700);
        width: 100%;
        border-radius: 4px;
        padding: 0 8px;
        display: flex;
        justify-content: space-between;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }

        &.active {
            color: var(--B500);
            font-weight: 600;
            background: #f0f7ff;
        }
    }

    .shebang {
        padding: 0 60px;
        color: #151515;
        opacity: 0.6;
    }

    .yaml-container {
        border: 1px solid var(--N200);
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 8px;
    }

    .validation-error-block {
        padding: 8px 16px;
        background: var(--R100);
        display: grid;
        grid-template-columns: 16px 1fr;
        grid-column-gap: 8px;
        align-content: initial;
        color: #f32e2e;
        font-size: 12px;

        svg {
            height: 16px;
            width: 16px;
        }

        white-space: pre;
    }

    .app-compose__next-section {
        position: fixed;
        bottom: 0;
        width: calc(100% - 240px - 72px);
        height: 64px;
        padding: 12px 24px;
        background-color: rgba(242, 244, 247, 0.8);
        box-shadow: inset 0 1px 0 0 #d6dbdf;
        z-index: var(--index-next-section);
    }

    .app-compose__nav-icon {
        margin-left: auto;
    }

    .environment-routes {
        width: 100%;
        margin-left: 8px;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;

        .app-compose__nav-item {
            width: 96%;
        }
    }

    .environment-routes-container {
        width: 100%;
        height: 100%;
        overflow: hidden;

        & > .app-compose__nav-item {
            height: 40px;
            line-height: 40px;
            width: 100%;
            cursor: pointer;
        }
    }
}
