.env-list {
    &.no-result-container {
        height: calc(100vh - 48px);
        overflow: hidden;
    }
    .env-list-row {
        display: grid;
        grid-template-columns: 20px 250px repeat(3, 200px);
        column-gap: 16px;
    }
}

.bulk-ci-trigger-container {
    .bulk-ci-trigger {
        display: grid;
        grid-template-columns: 234px 1fr;
        min-height: calc(100vh - 128px);
        &.webhook-modal {
            grid-template-columns: 1fr;
        }
        .sidebar {
            .material-list {
                .material-list__item {
                    padding: 10px;
                    border-radius: 4px;
                    border: 1px solid var(--N200);
                    &.material-selected {
                        box-shadow: none;
                        border-color: var(--B500);
                    }
                }
            }
        }
        .main-content {
            .material-history {
                width: auto;
            }
        }
    }
}

.env-modal-width {
    width: 75%;
    min-width: 1024px;
    max-width: 1200px;
}
