.historical-diff{
    display: grid;
    grid-template-rows: 60px auto ;
    height: 100%;
    background-color: var(--white);
}

.historical-diff__container{
    display: grid;
    overflow: hidden;
    flex-basis: 280px;
    transition: flex-basis 0.3s;
    grid-template-columns: 280px auto;
    height: calc(100vh - 160px);
}

.deployment-diff__upper{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.historical-diff__left {
    padding: 16px 12px;
    overflow: hidden;
    flex-basis: 280px;
    transition: flex-basis 0.3s;
}

.ml-20{
    margin-left: 20px !important;
}

.border-bottom{
    border-bottom: 1px solid var(--N200);
}

.history_diff__wrapper{
    .tab-list__tab-link.active{
        color: var(--N900);
        background: #E5F2FF;
        font-weight: 600;
        border-bottom: 0px
     }
}
