.no-apps {
    height: calc(100vh - 160px);
    padding-top: 70px;
}

.no-results {
    height: calc(100vh - 250px);
    padding-top: 50px;
}

.empty {
    width: 320px;
    margin: auto;
}

.empty__img {
    display: block;
    margin: auto;
}

.empty__title {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--N900);
    margin-bottom: 4px;
}

.empty__message {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--N700);
    margin: 0px;
    margin-bottom: 20px;
}

.round-button--empty {
    display: block;
    width: 142px;
    height: 40px;
    margin: auto;
    border: none;
}

.clear-buttons {
    display: flex;
    justify-content: center;
}