.trigger-view-config-diff__container {
    display: grid;
    grid-template-columns: 280px auto;
    height: calc(100vh - 141px);

    .trigger-view-config-diff__side-nav {
        display: grid;
        grid-auto-rows: max-content;
    }
    .trigger-view-config-diff__values {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }
}