.expand-incoming-payload{
    height: calc(100vh - 400px);
}

.collapsed-incoming-payload{
    max-height: 200px;
}

.empty-payload{
   min-height: 186px;
}

.empty-payload-wrapper{
    height: calc(100vh - 70px);
}

.payload-wrapper{
    height: calc(100vh - 130px);   
}