# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

src/setupProxy.js

npm-debug.log
npm-error.log
npm.lock
yarn-debug.log
yarn-error.log
/public/env-config.js
env-config.js
.idea/
/test-results/
/playwright-report/
/playwright/.cache/
playwright/.auth/
.npmrc

package-lock.json

*storybook.log
storybook-static

.yalc
yalc.lock
