/*
 * Although this is duplicated but this would help us with consistent loader in case
 * the theme is same as the system theme.
 */
:root {
    /* Using the same name as in color palette to ensure this is applied when styles are loading */
    --bg-tertiary: #f2f4f7;
    --bg-devtron-loader: #e5f2ff;
    --fill-devtron-loader: #0066cc;


    @media (prefers-color-scheme: dark) {
        --bg-tertiary: #0d0f1c;
        --bg-devtron-loader: #172433;
        --fill-devtron-loader: #74B5FF;
    }
}

body {
    margin: 0;
    background: var(--bg-tertiary);
}
