.img-width {
    max-width: 100px;
}

.applist__checklist-img {
    height: 140px;
}

/* 
.checklist__custom-input {
    box-shadow: inset 0 -1px 0 0 var(--N200);
} */

.checklist__divider {
    border: 0;
    height: 1px;
    box-shadow: inset 0 -1px 0 0 var(--N200);
}

.checklist__dropdown {
    margin: auto;
    margin-right: 0;
}

.global__checklist {
    background-color: inherit;
    width: 226px;
    flex-shrink: 0;
}

.applist__checklist {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}