.clipboard-toast{
    position:absolute;
    height:0px;
    width:0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: height 0.25s, width 0.25s, opacity 0.25s;
    overflow: hidden;
    text-align:center;
    display: block;
    z-index: 1;
    opacity: 0;
    &.clipboard-toast--show{
        height:80px;
        width:80px;
        padding: 16px;
        opacity: 0.95;
        transition: height 0.25s, width 0.25s, opacity 0.25s;
    }
}