.deployment-page {
    height: 100%;
    width: clamp(100%, 100%, 100%);
    display: grid;
    height: 100%;
    grid-template-rows: 80px 1fr;
    overflow: hidden;

    .deployment-page__body {
        max-width: 100%;
        overflow: auto;
    }

    .app-details {
        max-width: 100%;
    }
}

.deployment-detail-page {
    display: flex;
    height: calc(100vh - 32px);
    grid-template-rows: 80px 1fr;
    grid-row-gap: 2px;
}

.deployment {
    background-color: var(--N100);
    padding: 16px 24px;
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 24px;
}

.cd-trigger-status--deployment-summary {
    display: unset;
    margin-left: 2px;
}

.env-indicator {
    position: relative;
    align-items: center;
    display: flex;
}

.env-badge--env-name {
    padding: 0px 8px;
    border-radius: 10px;
    background-color: var(--B500);
    color: var(--white);
    display: block;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
}

.env-name {
    font-weight: 600;
}

.env-svg {
    max-width: 76px;
    height: 24px;
    margin-right: 10px;
}

.chart-link {
    padding: 14px 20px;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.67;
    letter-spacing: normal;
    color: var(--N700);
    box-shadow: inset 0 1px 0 0 var(--N100);
}

.chart-link__href {
    font-weight: 600;
    margin-left: 5px;
    color: var(--B500);
}

.full-screen-modal {
    &.deploy-update {
        background: white;
    }
}

.update-chart-button {
    width: 128px;
}