.external-links-container {
    min-width: 720px;
    padding: 16px 8%  20px;

    &.error-view {
        min-width: 100%;
        height: 100%;
    }

    .empty-state {
        width: 100%;
        height: calc(100vh - 120px) !important;

        img {
            margin-bottom: 20px;
        }

        .title,
        .subtitle {
            width: 300px;
            text-align: center;
        }

        .title {
            font-size: 16px;
            margin-bottom: 8px;
        }

        .subtitle {
            font-size: 13px;
            margin-bottom: 20px;
        }
    }

    .external-links-divider {
        border: 0;
        height: 1px;
        box-shadow: inset 0 -1px 0 0 var(--N200);
    }

    .add-link.cta {
        width: 108px;
        height: 36px;
        font-size: 13px;
        padding: 0;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    .external-links-wrapper {
        max-width: 962px;
        margin: auto;
        .cta-search-filter-container {
            margin-top: 20px;

            .add-link.cta {
                height: 32px;
            }
        }

        .search-filter-wrapper {
            display: flex;
            align-items: center;

            .search-wrapper {
                display: flex;
                align-items: center;
                width: 250px;
                height: 32px;
                position: relative;
                margin-right: 12px;

                .search__input {
                    height: 32px;
                    outline: none;
                    border: solid 1px var(--N200);
                    background-color: var(--N50);

                    &:hover,
                    &:focus {
                        border: solid 1px var(--N400);
                    }
                }
            }

            .filters-wrapper {
                .badge {
                    margin-left: 4px;
                }

                .apply-filter {
                    width: 100%;
                    height: 28px;
                }
            }
        }

        .saved-filters__wrap {
            display: flex;
            flex-wrap: wrap;
            background-color: var(--window-bg);

            .saved-filter {
                display: flex;
                align-items: center;
                border: solid 1px var(--N200);
                background-color: #f7fafc;
                text-transform: none;
                padding-left: 6px;
                padding-right: 6px;
                margin: 0 12px 6px 0;
                min-height: 24px;

                .saved-filter-divider {
                    height: 24px;
                    width: 1px;
                    background-color: var(--N200);
                }

                .saved-filter__clear-btn {
                    border: none;
                    margin: 0;
                    margin-left: 4px;
                    padding: 0;
                    line-height: 0;
                    background-color: #f7fafc;

                    svg {
                        stroke: var(--N600);

                        path {
                            fill: var(--N600);
                        }
                    }
                }
            }

            .saved-filters__clear-btn {
                background: none;
                margin: 0 0 6px;
                padding: 0;
            }
        }
    }

    .external-links {
        min-height: 465px;
        background: #ffffff;
        border: 1px solid #d0d4d9;
        box-sizing: border-box;
        border-radius: 8px;

        .empty-state {
            height: 465px !important;
        }

        .external-link {
            display: grid;
            grid-template-columns: 24px 144px 84px minmax(100px, 59%) 56px;
            column-gap: 16px;
            padding: 12px 20px;

            .external-link-actions {
                display: none;
                width: 56px;
            }

            &:hover {
                background-color: var(--N50);

                .external-link-actions {
                    display: flex;
                }
            }
        }
    }

    .external-link__divider {
        height: 1px;
        width: 100%;
        background-color: #EDF1F5;
    }

    .external-links__header {
        height: 40px;
        display: grid;
        grid-template-columns: 24px 144px 84px minmax(100px, 59%) 56px;
        column-gap: 16px;
        align-items: center;
        justify-content: stretch;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        padding-left: 20px;
        box-shadow: 0 1px 0 0 var(--N200);
        background: white;
        text-transform: uppercase;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin-bottom: 1px;
    }
}
