.app-level__external-links {
    min-height: 56px;
    padding: 16px 20px;

    .app-level__external-links-icon {
        margin: 4px 16px 4px 0;
    }

    .external-links-icon {
        path:nth-of-type(2) {
            fill: var(--N900);
        }
    }

    .external-link-chip {
        max-width: 250px;
        padding: 4px 6px;
        margin: 4px 8px 4px 0;
    }
}

.node-level__external-links {
    min-height: 40px;

    .external-link-option {
        padding: 6px 10px;

        &:hover {
            background-color: var(--N50);
        }
    }
}

.data-row:hover {
    .node-level__external-links {
        background-color: var(--N100);
    }
}