.external-links-container {
    min-width: 1024px;
    padding: 16px 8%  20px;

    &.error-view {
        min-width: 100%;
        height: 100%;
    }

    .empty-state {
        img {
            margin-bottom: 20px;
        }

        .title,
        .subtitle {
            width: 300px;
            text-align: center;
        }

        .title {
            font-size: 16px;
            margin-bottom: 8px;
        }

        .subtitle {
            font-size: 13px;
            margin-bottom: 20px;
        }
    }

    .external-links-divider {
        border: 0;
        height: 1px;
        box-shadow: inset 0 -1px 0 0 var(--N200);
    }

    .add-link.cta {
        width: 108px;
        height: 36px;
        font-size: 13px;
        padding: 0;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    .external-links-wrapper {
        .title {
            font-size: 16px;
            margin-bottom: 5px;
        }

        .subtitle {
            font-size: 12px;
        }

        .cta-search-filter-container {
            margin-top: 20px;

            .add-link.cta {
                height: 32px;
            }
        }

        .search-filter-wrapper {
            display: flex;
            align-items: center;

            .search-wrapper {
                display: flex;
                align-items: center;
                width: 250px;
                height: 32px;
                position: relative;
                margin-right: 12px;

                .search__input {
                    height: 32px;
                    outline: none;
                    border: solid 1px var(--N200);
                    background-color: var(--N50);

                    &:hover,
                    &:focus {
                        border: solid 1px var(--N400);
                    }
                }
            }

            .filters-wrapper {
                .badge {
                    margin-left: 4px;
                }

                .apply-filter {
                    width: 100%;
                    height: 28px;
                }
            }
        }

        .saved-filters__wrap {
            padding: 16px 20px 0 0;
            display: flex;
            flex-wrap: wrap;

            .saved-filter {
                display: flex;
                align-items: center;
                border: solid 1px var(--N200);
                background-color: #f7fafc;
                text-transform: none;
                padding-left: 6px;
                padding-right: 6px;
                margin: 0 12px 6px 0;
                min-height: 24px;

                .saved-filter-divider {
                    height: 24px;
                    width: 1px;
                    background-color: var(--N200);
                }

                .saved-filter__clear-btn {
                    border: none;
                    margin: 0;
                    margin-left: 4px;
                    padding: 0;
                    line-height: 0;
                    background-color: #f7fafc;

                    svg {
                        stroke: var(--N600);

                        path {
                            fill: var(--N600);
                        }
                    }
                }
            }

            .saved-filters__clear-btn {
                background: none;
                margin: 0 0 6px;
                padding: 0;
            }
        }
    }

    .external-links {
        width: 962px;
        height: 697px;
        background: #ffffff;
        border: 1px solid #d0d4d9;
        box-sizing: border-box;
        border-radius: 8px;
        margin-top: 16px;

        .external-link {
            padding: 12px 20px;

            .external-link-actions {
                display: none;
            }

            &:hover {
                background-color: var(--N50);

                .external-link-actions {
                    display: flex;
                }
            }
        }
    }

    .external-link__divider {
        height: 1px;
        width: 100%;
        background-color: #EDF1F5;
    }

    .external-links__header {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: stretch;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        padding-left: 20px;
        box-shadow: 0 1px 0 0 var(--N200);
        background: white;
        text-transform: uppercase;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin-bottom: 1px;
    }

    .external-links__cell--icon {
        width: 40px;
    }

    // .external-links__cell {
    //     min-width: 0px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     height: 100%;
    //     padding: 0px 20px;
    //     background-color: inherit;
    // }

    .external-links__cell--tool__name {
        width: 160px;
        text-overflow: ellipsis;
    }

    .external-links__cell--cluster {
        width: 100px;
        text-overflow: ellipsis;
    }

    .external-links__cell--url__template {
        width: 518px;
        text-overflow: ellipsis;
    }
}

.add-external-link-dialog {
    .modal__body {
        width: 1000px;
        height: calc(100% - 125px);
        // min-height: 585px;
        // max-height: calc(100% - 40px);
        border-radius: 0 0 8px 8px;
        margin-top: 0;
        padding: 20px 0;

        .modal__divider {
            border: 0;
            height: 1px;
            box-shadow: inset 0 -1px 0 0 var(--N200);
        }

        .modal__dropdown-divider {
            height: 3px;
            width: 100%;
            margin-left: -40px;
            position: absolute;
            top: 59px;
            border-bottom: 1px solid var(--N200);
        }

        .modal__header {
            padding: 0 16px 20px;
            margin: 0;

            h1 {
                font-size: 16px;
            }
        }

        .modal__content {
            display: flex;
            height: calc(100% - 116px);

            .configure-link-action-container,
            .configure-link-info-container {
                overflow-wrap: break-word;
                overflow-y: scroll;
            }

            .configure-link-action-container {
                width: 720px;
                padding: 20px;
                border-right: 1px solid var(--N200);

                .link-add-another {
                    display: flex;
                    align-items: center;
                    color: var(--B500);

                    svg {
                        width: 12px;
                        height: 12px;

                        path {
                            fill: var(--B500);
                        }
                    }
                }

                .configure-link-action-wrapper,
                label {
                    color: var(--N700);
                    font-size: 13px;
                    font-weight: 400;
                }

                .configure-link-action-wrapper {
                    .error-label {
                        svg g path:nth-of-type(2) {
                            fill: var(--R500);
                        }
                    }

                    .link-monitoring-tool {
                        display: flex;
                        align-items: flex-start;

                        .link-name {
                            display: flex;
                            flex-direction: column;
                            width: 200px;

                            input {
                                height: 32px;
                                padding: 10px 6px;
                                background-color: var(--N50);
                                color: var(--N900);
                                border: 1px solid var(--N200);
                                border-radius: 4px;
                            }
                        }

                        .monitoring-tool {
                            width: 150px;
                        }

                        .link-clusters {
                            width: 278px;
                        }
                    }
                }

                .link-text-area {
                    display: flex;
                    flex-direction: column;

                    textarea {
                        width: 648px;
                        min-height: 72px;
                        resize: vertical;
                        padding: 10px 8px;
                        background-color: var(--N50);
                        color: var(--N900);
                        border: 1px solid var(--N200);
                        border-radius: 4px;

                        &::placeholder {
                            color: var(--N500);
                        }

                        &:-ms-input-placeholder {
                            color: var(--N500);
                        }
                    }
                }
            }

            .configure-link-info-container {
                width: 279px;
                padding: 20px;

                .configure-link-info-heading {
                    display: flex;
                    align-items: center;
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 1.5;

                    svg {
                        width: 16px;
                        height: 16px;
                        margin-right: 10px;

                        path {
                            fill: var(--V500);
                        }
                    }
                }

                .configure-link-info-list {
                    padding: 20px 15px 0;
                    margin-bottom: 0;
                    color: var(--N900);

                    li,
                    p {
                        font-size: 13px;
                    }

                    li,
                    p,
                    a {
                        line-height: 1.5;
                    }

                    li {
                        font-weight: 600;
                        margin-bottom: 4px;
                    }

                    li:last-of-type {
                        list-style: none;
                    }

                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        li {
                            font-size: 12px;
                            font-weight: 400;
                            background-color: var(--N100);
                            width: fit-content;
                            padding: 2px 4px;
                            margin-bottom: 8px;
                        }
                    }

                    p {
                        font-weight: 400;
                        margin-bottom: 16px;
                    }

                    a {
                        color: var(--B500);
                        font-size: 12px;
                        font-weight: 600;
                    }
                }
            }
        }

        .modal__buttons {
            display: flex;
            justify-content: flex-end;
            padding: 20px;
        }
    }
}
