.app-level__external-links {
    width: 100%;
    min-height: 56px;
    background-color: white;
    padding: 16px 20px;

    .app-level__external-links-icon {
        width: 20px;
        height: 20px;
        margin: 4px 16px 4px 0;
    }

    .external-links-icon {
        path:nth-of-type(2) {
            fill: var(--N900);
        }
    }

    .external-link-chip {
        border: 1px solid var(--N200);
        background-color: var(--N50);
        max-width: 250px;
        height: 24px;
        padding: 4px 6px;
        margin: 4px 8px 4px 0;
        text-decoration: none;
        color: var(--N700);

        img {
            width: 16px;
            height: 16px;
            margin-right: 8px;
        }
    }
}

.node-level__external-links {
    min-height: 40px;

    .external-link-option {
        height: 32px;
        padding: 6px 10px;
        text-decoration: none;
        color: var(--N900);

        img {
            width: 20px;
            height: 20px;
            margin-right: 12px;
        }

        &:hover {
            background-color: var(--N50);
        }
    }
}

.data-row:hover {
    .node-level__external-links {
        background-color: var(--N100);
    }
}
