.app-details-page {
    display: grid;
    grid-template-rows: 77px 1fr;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.page-header {
    position: sticky;
    top: 0;
}

.old-new-switch-container {
    box-shadow: inset 0 -1px 0 0 var(--N200);
    height: 64px;
}

.old-new-link {
    color: var(--N900);
    height: 100%;
    min-width: 250px;
    border-top: 2px solid transparent;

    &.active {
        color: var(--B500);
        border-top: 2px solid var(--B500);
        border-bottom: 1px solid white;

        &:last-child {
            border-right: 1px solid var(--N200);
        }
    }

    &:nth-child(2) {
        border-left: 1px solid var(--N200);
    }
}

.material-sync-card {
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--N200);
    justify-content: space-between;

    .material-sync-card--message {
        background-color: var(--window-bg);
        padding: 12px;
        border-radius: 2px;
        width: 100%;
    }
}

.expand-collapse-pf,
#logs {
    background: white;
}

.app-details {
    overflow: auto;
    max-height: 100%;
}

.app-instances {
    vertical-align: top;
    border: 1px solid #eaeaea;
}

.app-info-title {
    font-size: 12px;
    margin: 0px;
    padding: 8px 5px;
    font-weight: bold;
}

.app-info-row {
    height: 30px;
    line-height: 30px;
    padding: 0px 5px;
    background: var(--white);
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-instances .row-wrapper {
    min-height: 135px;
    overflow: auto;
}

.info-block {
    margin: 0px;
    padding: 12px 24px;
    width: 50%;
}

.info-block .heading {
    color: #262626;
    font-size: 20px;
    text-transform: lowercase;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 0.005em;
}

.info-block .small-text {
    width: 100%;
    font-size: 13px;
    color: #262626;
    text-transform: lowercase;
    font-weight: 500;
    margin-bottom: 0px;
    letter-spacing: 0.005em;
}

.info-block .small-text a {
    display: block;
}

.no-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
    margin: auto;
}

.event-log-tab {
    min-height: 400px;
    padding: 10px;
    cursor: pointer;
}

.event-block {
    background-color: white;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.event-block > div {
    display: inline-block;
    vertical-align: middle;
}

.event-labels {
    background-color: white;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    border-left: solid 6px white;
}

.event-labels > div {
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
    font-weight: bold;
}

.text-wrap {
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap !important;
    word-wrap: break-word;
    white-space: -webkit-pre-wrap;
    word-break: break-all;
    white-space: normal;
}

table.source-info th,
table.source-info td {
    text-align: center;
    padding: 15px 0;
}

table.source-info tr {
    border-bottom: var(--N200);
}

table.source-info th:first-child,
table.source-info td:first-child {
    padding-left: 20px;
}

table.source-info th:last-child,
table.source-info td:last-child {
    padding-right: 20px;
}

table.pod__table th,
table.pod__table td {
    text-align: left;
    padding: 8px 0;
}

table.pod__table tr {
    border-bottom: var(--N200);
}

table.pod__table th:first-child,
table.pod__table td:first-child {
    padding-left: 20px;
}

table.pod__table th:last-child,
table.pod__table td:last-child {
    padding-right: 20px;
}

.no-pod {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .no-pod__container-icon {
        height: 34px;
        width: 48px;
        display: grid;
        grid-template-columns: 11px 11px 11px;
        grid-row-gap: 4px;
        grid-column-gap: 4px;
        margin-bottom: 16px;

        .no-pod__container-sub-icon {
            background: var(--N400);
            height: 100%;
        }
    }

    p {
        color: var(--N400);
    }
}

.enable-app-metrics {
    border-radius: unset;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    padding: 16px 20px;
    background: white;
}

.enable-app-metrics--button {
    border: unset;
    position: relative;
    height: 24px;
    width: 24px;
    margin: 0 6px 0 16px;

    &:hover,
    &:focus {
        border: unset;
    }

    &:after {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        top: -6px;
        right: -6px;
        position: absolute;
        background: radial-gradient(circle, var(--B500) 0%, var(--B500) 50%, var(--B300) 51%, var(--B300) 100%);
        border-radius: 100%;
    }

    svg {
        height: 18px;
        width: 18px;
    }
}

.pods-container {
    display: flex;
    margin: 20px;

    .pods-services-ingress-container.white-card {
        padding: 0;
        overflow: hidden;
    }
}

.services-info,
.ingress-info {
    width: 100%;
    height: 450px;
    overflow-y: auto;
}

.generic_row {
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 9px;

    &.header {
        font-weight: 600;
        border-bottom: 1px solid var(--N100);
        position: sticky;
        top: 0;
        background: white;
        &:hover {
            background: white;
        }
    }

    &:hover {
        background: var(--B100);
    }

    &.header {
        height: 36px;
    }

    .hover-only {
        display: none;
        margin-left: 6px;
    }

    &:hover {
        .hover-only {
            display: block;
        }
    }
}

.services-info {
    .generic_row {
        svg {
            path[fill='black'] {
                fill: --N500;
            }

            &:hover {
                path[fill='black'] {
                    fill: var(--N900);
                }
            }
        }

        & > div {
            flex: 0 0 50%;
            justify-content: flex-start;

            input {
                opacity: 0;
                height: 3px;
                width: 3px;
                border: unset;
            }
        }
    }
}

.generic-info-container {
    display: flex;

    .services-info {
        flex-basis: 100%;
    }

    .status-info {
        flex-basis: 0px;
        overflow: hidden;
    }

    .services-info,
    .status-info {
        transition: all 0.3s;
    }

    &.detailed {
        .services-info,
        .status-info {
            flex-basis: 50%;
            overflow-y: auto;
        }
    }

    .generic-info-header {
        height: 60px;
        box-shadow: inset 0 -1px 0 0 var(--N100);
        position: sticky;
        top: 0;
        background: var(--N000);
    }
}

.node-status__detail {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 36px 1fr;
    height: 100%;

    .node-status__header {
        width: 100%;
        background-color: #2c3354;
        padding: 0 12px;
    }

    .CodeMirror {
        height: 420px;
    }

    .code-editor {
        border: 1px solid transparent;
        border-left: 1px solid #2c3354;
        border-radius: 0;
    }
}

.pod-info__popup-container {
    padding: 8px 0px;
    width: 160px;

    .pod-info__popup-row {
        justify-content: flex-start;
        height: 36px;
        cursor: pointer;
        padding: 0 12px;

        &:hover {
            background: #f5f5f5;
        }
    }

    .pod-info__popup-row--red {
        justify-content: space-between;
        color: red;
    }
}

.pod-info {
    height: 100%;
    background: white;

    &:nth-child(2) {
        border-left: 1px solid var(--N200);
    }

    .pod-info__dots {
        display: block;
        margin-left: auto;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .pod-info__header {
        display: flex;
        height: 64px;
        align-items: center;
        border-bottom: 1px solid var(--N100);
        padding: 12px 20px;
        justify-content: space-between;
        border-bottom: 1px solid var(--N100);

        .pod-info__stats {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .pod-info__title {
                font-size: 14px;
                font-weight: 600;
                color: var(--N900);
                display: flex;
                align-items: center;
            }

            .pod-info__run-status {
                margin-bottom: 0;
                padding-inline-start: 0;

                li {
                    list-style: none;
                    display: inline;

                    &:not(:last-child):after {
                        content: '•';
                        padding: 0 4px;
                    }
                }
            }
        }

        .pod-info__pc-status-container {
            display: flex;
            width: 300px;
            justify-content: space-around;

            .pod-info__pc-status {
                display: flex;
                align-items: center;

                img {
                    height: 24px;
                    margin-right: 8px;
                }

                span {
                    font-size: 18px;
                    color: var(--N900);
                    font-weight: 600;
                }
            }
        }
    }

    .pod-info__table-container {
        height: 386px;
        overflow-y: auto;
        overflow-x: visible;
        width: 100%;

        .pod-info__table {
            .pod-info__row {
                display: grid;
                grid-template-columns: 24px auto 20% 20px;
                grid-template-rows: 48px;
                grid-auto-rows: 48px;
                grid-column-gap: 8px;
                padding: 0 20px;
                align-items: center;
                width: 100%;

                &:hover {
                    background: var(--B100);

                    .pod-info__hidden-cta {
                        display: flex;
                        align-items: center;

                        svg {
                            padding-left: 4px;
                        }

                        .pod-info__open-events {
                            color: var(--B500);
                            font-size: 10px;
                            text-decoration: underline;
                            text-transform: uppercase;
                            cursor: pointer;
                            margin-left: 12px;
                            font-weight: 600;
                        }
                    }
                }
            }

            .pod-info__row--header {
                font-weight: 600;
                position: sticky;
                top: 0px;
                background: white;
                border-bottom: 1px solid var(--N100);
                grid-template-rows: 36px;

                &:hover {
                    background: white;
                }

                .select-button {
                    text-transform: capitalize;
                }

                .select-option {
                    text-transform: capitalize;
                }
            }
        }

        .header-column:nth-child(-n + 5) {
            position: sticky;
            top: 0;
            font-weight: 600;
            height: 48px;
            line-height: 48px;
            background: white;
        }

        .pod-info__cpu-usage,
        .pod-info__memory-usage {
            text-align: right;
        }
    }

    .pod-info__pod-name-column {
        display: flex;
        flex-direction: column;
        justify-content: center;

        input {
            opacity: 0;
        }

        .pod-info__pod-status-container {
            display: flex;
            justify-content: space-between;
            height: 20px;
        }
    }

    .pod-info__pod-name-container {
        display: flex;
        justify-content: flex-start;
        padding-right: 8px;
        max-width: 80%;

        input {
            opacity: 0;
        }

        .pod-info__pod-name {
            display: flex;
            justify-content: flex-start;
            flex: 0 1 auto;
            min-width: 0;

            .pod-info__ellipsis {
                display: inline-block;
                text-overflow: ellipsis;
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: content;
                white-space: nowrap;
                overflow: hidden;
            }

            .pod-info__indent {
                text-overflow: ellipsis;
                display: inline-block;
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: content;
            }
        }

        .pod-info__hidden-cta {
            display: none;
            flex: 1 0 min-content;
        }
    }
}

.app-summary {
    .app-summary__header {
        height: 68px;
        justify-content: space-between;
    }

    .app-summary__env-container {
        width: 33%;
        display: flex;
        justify-content: space-between;
        padding-right: 3px;
        align-items: center;
    }

    .app-summary__status-container {
        width: 55%;
        display: grid;
        justify-content: end;
        align-items: center;
        grid-template-columns: repeat(3, minmax(min-content, max-content));
        grid-column-gap: 40px;

        .stat {
            display: flex;

            .key,
            .value {
                font-size: 12px;
                color: var(--N700);
                margin-right: 10px;
            }

            .value {
                font-weight: 600;
            }
        }
    }

    .app-summary__env-selector {
        display: flex;
        align-items: center;

        svg {
            width: 24px;
            height: 24px;
        }

        .popup-button .select-button {
            background: white;
        }
    }

    .app-summary__env-name {
        background: var(--B500);
        padding: 4px 8px;
        border-radius: 10px;
        height: 16px;
        font-size: 10px;
        display: flex;
        align-items: center;
        color: white;
    }

    .app-summary__status-name {
        font-weight: 600;
        font-size: 12px;
    }

    .app-summary__status-name {
        &.f-healthy,
        &.f-scalingreplicasetdown {
            color: var(--green);
        }

        &.f-suspended,
        &.f-switchedtoactiveservice {
            color: var(--orange);
        }

        &.f-degraded {
            color: var(--red);
        }

        &.f-progressing,
        &.f-inprogress,
        &.f-unknown,
        &.initiated {
            color: var(--yellow);
        }

        .tooltip-button {
            display: flex;
            align-items: center;
        }
    }

    .time-range {
        .select-button {
            border: 1px solid transparent;
            background: white;
            padding: 4px 0px 4px 8px;
            width: 155px;
        }

        .select-popup {
            width: 155px;
        }
    }

    .chart-containers {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 192px;
        grid-gap: 16px;

        .upgrade-chart-container {
            background: white;
            border: 1px solid #d6dbdf;
            border-radius: 8px;
            grid-column: 2 / span 2;

            .upgrade-chart-main {
                display: grid;
                grid-template-columns: 200px 1fr;
                grid-column-gap: 20px;
                padding: 30px;

                .upgrade-chart-text {
                    a {
                        text-decoration: unset;
                    }

                    * {
                        margin-bottom: 8px;
                    }

                    b {
                        font-size: 16px;
                        font-weight: 600px;
                        color: var(--N900);
                    }

                    span {
                        font-size: 12px;
                        color: var(--N700);
                    }
                }
            }
        }

        .chart {
            background: white;

            &.material {
                display: grid;
                grid-template-rows: 1fr 53px;
                padding: 0;
                overflow: hidden;

                .material__summary {
                    padding: 16px;
                    display: grid;
                    grid-template-columns: 1fr;
                    justify-items: left;
                }

                .fa {
                    margin-left: 6px;
                    font-weight: 600;
                    cursor: pointer;
                    font-size: 18px;
                }

                .b-healthy,
                .b-scalingreplicasetdown {
                    background-color: #ebfff6;
                }

                .b-suspended,
                .b-switchedtoactiveservice {
                    background-color: #fff0cf;
                }

                .b-degraded {
                    background-color: #ffebeb;
                }

                .b-progressing,
                .b-inprogress,
                .b-unknown,
                .initiated {
                    background-color: #fff0cf;
                }

                b,
                span {
                    margin-bottom: 4px;
                }

                .anchor {
                    color: var(--B500);
                    cursor: pointer;
                }

                span {
                    font-size: 12px;
                }

                .app-summary__icon {
                    width: 32px;
                    height: 32px;
                    background-size: cover;
                    position: unset;
                }

                .deployment-summary {
                    height: 53px;
                    background: var(--window-bg);
                    padding: 0 16px;
                    display: grid;
                    grid-template-columns: 20px 1fr auto;
                    grid-column-gap: 8px;
                    align-items: center;
                }

                .flex.hibernate {
                    width: 100%;
                    justify-content: space-between;
                }

                .cta.hibernate {
                    width: auto;

                    svg {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }
}

.events-logs {
    position: fixed;
    bottom: 0;
    left: 64px;
    width: calc(100vw - 64px);
    background: #0b0f22;
    display: grid;
    grid-template-rows: 36px 40px 1fr;
    grid-template-columns: 1fr 1fr;
    box-shadow: inset 0 -1px 8px 0 var(--N900);
    z-index: var(--events-logs);

    .event-logs__logs {
        color: white;
        padding-left: 20px;
    }

    .events-logs__dropdown-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0 20px;
        border-bottom: 1px solid #2c3354;

        .tab-container {
            padding-left: 16px;
            border-left: 1px solid #2c3354;
        }
    }

    .events-logs__events-table-row {
        width: 100%;
    }

    .events-logs__event,
    .events-logs__log {
        color: white;
        font-family: monospace;
        font-size: 12px;
        margin-bottom: 0px;
    }

    .events-logs__events-table {
        width: 100%;
        padding: 0 20px;

        .events-logs__events-table-row {
            display: grid;
            grid-template-columns: 180px auto 50px 140px;
            grid-column-gap: 60px;
            grid-auto-rows: minmax(56px, max-content);
            justify-items: start;
            align-items: center;

            // margin: 12px 0;
            &.header {
                font-weight: 600;
                position: sticky;
                top: 0;
                background: #0b0f22;
                grid-template-rows: 32px;
            }
        }
    }

    .events-logs__title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        cursor: pointer;
        padding: 0 20px;
        background: #2c3354;
    }

    .events-logs__title-container--resize {
        cursor: row-resize;
    }

    .events-logs__toggle-btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 100%;
    }

    .events-logs__label {
        margin-right: 10px;
        color: white;
        opacity: 0.6;
    }

    .events-logs__dropdown-selector {
        display: flex;
        align-items: center;
        padding: 0 20px;
        border-left: 1px solid #2c3354;
        height: calc(100% - 16px);

        .pod-selector-button,
        .container-selector-button {
            width: 200px;
            background: transparent;
            border: 1px solid transparent;
            justify-content: space-between;
            border-radius: 4px;

            span.ellipsis-left {
                border-radius: 4px;
                padding: 8px 10px 8px 12px;
                font-size: 12px;
                color: white;
                text-align: left;
            }
        }

        .popup-button {
            border: unset;
        }
    }

    .log-viewer-container {
        height: 100%;
        width: 100%;
        align-items: flex-start;
        position: relative;

        &:focus {
            outline: none;
        }

        .log-viewer {
            height: 100%;
            width: 100%;
            padding: 0 0 0 20px;
            overflow: hidden;

            &:focus {
                outline: none;
            }

            .xterm {
                height: 100%;
            }
        }

        .logs {
            font-family: monospace;

            .log {
                grid-template-columns: 100%;

                .content {
                    padding-right: 16px;
                }
            }
        }
    }
}

.pod-readyState {
    position: relative;
    left: 0;
    right: 0;
    height: 0;
    transition: height 200ms;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    z-index: 4;
    padding-left: 16px;

    &:focus {
        outline: none;
    }

    &.pod-readyState--top {
        top: 0;
    }

    &.pod-readyState--bottom {
        bottom: 0;
        background: #0b0f22;
        right: 24px;
    }

    &.pod-readyState--show {
        height: 24px;
        transition: height 200ms;
    }
}

.app-not-configured,
.app-not-deployed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 110px);

    img {
        width: 250px;
        height: 200px;
        margin-bottom: 12px;
    }

    h3{
        font-weight: 600;
        text-align: center;
    }

    p {
        text-align: center;
    }

    button {
       font-size: 13px;
       height: 36px;
    }
}

.env-not-configured {
    padding: 0 20px;
    display: flex;
    height: calc(100vh - 152px);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .env-selector-wrapper {
        height: 68px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid var(--N200);
        border-radius: 4px;
        margin-top: 20px;
        width: 100%;

        .app-summary__env-selector {
            display: flex;
            align-items: center;

            svg {
                width: 24px;
                height: 24px;
            }

            .app-summary__env-name {
                background: var(--B500);
                padding: 4px 8px;
                border-radius: 10px;
                height: 16px;
                font-size: 10px;
                display: flex;
                align-items: center;
                color: white;
            }
        }
    }

    .env-not-configured__instructions {
        height: calc(100% - 68px - 20px);
        display: flex;
        flex-direction: column;
        justify-content: center;

        img.no-configuration {
            display: flex;
            justify-content: center;
            width: 250px;
            height: 200px;
            margin: 0 auto 12px auto;
        }

        p {
            font-size: 16px;
            text-align: center;
            width: 250px;
        }

        button {
            padding: 8px 16px;
            color: var(--B500);
            border: 1px solid var(--B500);
            border-radius: 4px;
            outline: none;
            font-size: 14px;
            font-weight: 600;
        }
    }
}

.app-summary__source-info {
    .app-summary__source-table {
        width: 80%;
        margin: 0 auto;
        border-radius: 4px;
        background: white;
        margin-top: 80px;
        overflow: hidden;
        position: relative;

        .app-summary__source-row {
            display: grid;
            grid-template-columns: 13% auto 20% 10% 18%;
            grid-column-gap: 40px;
            grid-auto-rows: minmax(48px, max-content);
            align-items: center;
            justify-items: start;

            & > span:first-child {
                padding-left: 20px;
            }

            & > span:last-child {
                padding-right: 20px;
            }

            &:nth-child(even) {
                background: #f5f5f5;
            }

            &.app-summary__source-row--header {
                font-weight: 600;
                border-bottom: 1px solid var(--N200);
            }

            .tag-container {
                max-width: calc(100% - 20px);
                color: var(--B500);
                background: var(--B100);
                border-radius: 4px;
                padding: 5px 7px;
                font-size: 12px;
                margin-right: 20px;

                svg {
                    flex-shrink: 0;
                }

                .tag {
                    max-width: calc(100% - 12px);
                    font-family: monospace;
                }
            }
        }

        .fa.fa-close {
            position: absolute;
            right: 16px;
            top: 16px;
        }

        .app-summary__commit-url-container {
            width: 100%;

            .app-summary__commit-url {
                max-width: calc(100% - 12px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;
                color: var(--B500);
                line-height: 100%;
            }
        }
    }

    .app-summary__toggle-source {
        width: 100%;
        height: 36px;
        cursor: pointer;

        .app-summary__toggle-source-text {
            color: var(--B500);
            font-weight: 600;
        }
    }

    &.detailed {
        .app-summary__toggle-source {
            border-top: 1px solid var(--N200);
        }
    }
}

.app-status__material-modal .modal-dialog {
    min-width: 900px;
    border-radius: 8px;
    overflow: hidden;

    .modal-content {
        border: unset;
    }
}

.poup-body--app-switch:focus,
.poup-body--app-switch:hover {
    border: none;
}

.poup-body--app-switch {
    display: inline-block;
    border: none;
    width: auto;
}

.env-selector-button {
    border: unset;
    min-width: 200px;

    &:hover,
    &:focus {
        border: unset;
    }

    .select-button {
        height: 40px;
        font-weight: 600;
        background: white;
        border: 1px solid var(--B500);
        border-radius: 4px;
        padding-left: 8px;
        color: var(--B500);
        font-size: 14px;
    }
}

.select-button.select-button--app-switch {
    border: none;
}

.select-popup.poup-body--app-switch {
    width: 218px;
}

.visible-modal__body.app-status__material-modal {
    .app-status-detai {
        background: white;
        margin: 80px auto 120px auto;
        max-width: 1200px;
        min-width: 800px;
        padding: 24px;
        border-radius: 8px;
        height: calc(100% - 200px);
        min-height: 300px;
        display: grid;
        grid-template-rows: 45px auto 1fr;

        .title {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 8px;
        }

        & > div {
            overflow: auto;
            position: relative;
        }

        .kind-name {
            width: 100%;
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: 1fr;

            .ellipsis-left {
                text-align: left;
            }
        }

        table {
            width: 100%;
            table-layout: fixed;

            thead {
                height: 44px;

                th {
                    background: white;
                    position: sticky;
                    top: 0;
                }
            }

            border-collapse: separate;
            border-spacing: 15px;

            tr,
            th {
                height: 44px;
            }

            th:nth-child(1),
            td:nth-child(1) {
                width: 20%;
            }

            th:nth-child(2),
            td:nth-child(2) {
                width: 15%;
            }

            th:nth-child(3),
            td:nth-child(3) {
                width: 65%;
            }
        }

        .fa.fa-close {
            margin-left: auto;
            cursor: pointer;
        }
    }
}

.pod-manifest-status {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #0b0f22;
    color: white;
    border: unset;
    resize: none;
    padding: 20px;
}

table.trigger-history {
    width: 100%;
    margin: unset;

    thead {
        tr {
            th {
                position: sticky;
                top: 0;
                background: #e5e5e5;
            }
        }
    }

    tr {
        &:nth-child(2n + 2) {
            background: #f5f5f5;
        }
    }

    th:first-child,
    td:first-child {
        padding-left: 20px;
    }

    th,
    td {
        padding: 12px 0;
    }

    td.trigger-history__cell.trigger-history__cell--artifact span {
        background-color: #f2f2f2;
        border-radius: 2px;
        padding: 2px 4px;

        img {
            width: 12px;
            margin-right: 4px;
        }
    }
}

form.log-search-form {
    margin-left: auto;
    width: 100%;
    margin-right: 20px;
    border-radius: 4px;

    input {
        width: calc(100% - 24px);
        border: unset;
        padding: 0 8px;
    }
}

.toggle-logs {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: unset;
    cursor: pointer;

    svg {
        height: 24px;
        width: 24px;
        overflow: visible;
    }

    .stop-btn {
        background: var(--R500);
        height: 14px;
        width: 14px;
        overflow: hidden;
        display: block;
        border-radius: 2px;
    }
}

.node-link {
    &.active {
        background: var(--B100);
        color: var(--B500);
    }
}

table.resource-tree {
    width: calc(100%);
    height: 1px;

    thead {
        border-bottom: 1px solid #eee;
    }

    th {
        height: 36px;
        color: var(--N700);
        font-weight: 600;
        text-transform: uppercase;

        &:first-child {
            width: 24px;
        }
    }

    tr.data-row {
        td {
            height: 56px;
        }

        &:hover {
            td {
                background: var(--N100);
            }
        }
    }

    th,
    td {
        padding: 0;
    }

    td.indent-line {
        width: 24px;
        padding: 0;
        height: 1px;
        background-image: linear-gradient(to right, transparent calc(50% - 1px), var(--N200) 1px, transparent 50%);
        background-repeat: no-repeat;
    }

    .hover-trigger {
        .hover-only {
            visibility: hidden;
            margin-left: 6px;

            &:hover {
                text-decoration: underline;
            }
        }

        &:hover {
            .hover-only {
                visibility: visible;
            }
        }
    }
}

.security-vulnerabilities {
    width: 100%;
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    display: flex;
    justify-content: space-between;
    letter-spacing: normal;
    color: var(--Y700);
    background-color: var(--Y100);
    border-top: solid 1px var(--N200);
    border-bottom: solid 1px var(--N200);
}

.security-vulnerabilities__count {
    text-transform: capitalize;
    font-family: monospace;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: var(--N900);
    margin: 0 24px;
}

.app-summary .DayPicker__horizontal {
    left: unset;
    top: 462px;
    right: 40px;
}

.graph-modal {
    height: calc(100% - 140px);
}

.graph-modal__title {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: normal;
    color: var(--N700);
}

.graph-modal__left {
    width: 320px;
    height: 100%;
    overflow: auto;
    padding-right: 16px;
    border-right: solid 1px var(--N200);
}

.graph-modal__right {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.graph-modal__main-chart {
    height: calc(100% - 0px);
    width: 100%;
    border: none;
}

.app-metrics-graph {
    padding-bottom: 12px;
}

.app-metrics-graph__iframe {
    border: none;
    width: 100%;
    height: 170px;
}

.app-metrics-graph__empty-state-wrapper {
    border-bottom: solid 1px var(--N200);
    border-top: solid 1px var(--N200);
}

.app-metrics-graph__empty-state {
    display: grid;
    grid-template-columns: 150px 615px;
    gap: 32px;
    margin: 42px 0 20px 0;
}

.app-metrics-graph__title {
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--N700);
    height: 28px;
    align-items: center;
}

.app-details-graph {
    padding-bottom: 12px;
    width: 100%;
    border-left: solid 4px transparent;
}

.graph-modal__right .DayPicker__horizontal {
    left: unset;
    top: 296px;
    right: 50px;
}

.app-details-graph__iframe-container {
    position: relative;
    height: 150px;
    width: 100%;
}

.app-details-graph__transparent-div {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.app-details-graph__iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-width: 0;
}

.app-details-graph__iframe--selected {
    border-left: solid 4px var(--B500);
}

.app-details-graph__iframe--selected h3 {
    color: var(--B500);
}

.app-details-graph__title {
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--N700);
    height: 28px;
    align-items: center;
}

.modal__body--ci-mat-trigger-info {
    width: 800px;
    padding: 0px;
    border: none;
}

.select-material--h450 {
    height: 450px;
}

.app-details-page-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}
