.app-status-card {
    min-width: 150px;
    min-height: 92px;
}

.app-status-detail-modal{
   width: 50%;
   margin: auto;
   margin-right: 0;
   height: 100%;
}

.config-error-wrap{
    word-wrap: break-word;
}

.table__padding-left{
    padding-left: 20px !important;
}

.table__padding-row{
    padding-right: 20px !important;
}

.text-capitalize{
    text-transform: capitalize;
}