.navigation {
    $navigation-expanded-width: 224px;

    &__default {
        grid-template-rows: 56px repeat(auto-fill, 52px);
        background-image: url('../../../../assets/img/devtron-bg.webp');
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
        z-index: calc(#{var(--navigation-index)} + 1);
        transition: all 5s ease-out;

        &.is-expanded {
            background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%),
                url('../../../../assets/img/devtron-bg.webp');
        }
    }

    &__expanded {
        width: #{$navigation-expanded-width};
        background:
            linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%),
            url('../../../../assets/img/devtron-bg.webp') -56px / 100vw 100vh no-repeat;
        z-index: var(--navigation-index);

        &__search-bar > div {
            min-width: 0;
        }

        &__backdrop {
            height: 100%;
            width: calc(100vw - 100% - #{$navigation-expanded-width});
            transform: translateX(calc(100vw - 100%));
            z-index: var(--modal-index);
        }

        &__logo {
            width: 76px;
            height: 16px;
        }
    }

    .nav-group {
        &.is-selected .nav-group__icon-container {
            background-color: rgba(255, 255, 255, 0.25);
        }

        &.is-expanded.is-selected {
            .nav-group__icon-container {
                background-color: rgba(0, 0, 0, 0.75);
            }
        }

        &:hover .nav-group__icon-container {
            background-color: rgba(0, 0, 0, 0.75);
        }

        &:last-child {
            .nav-group__divider-container {
                display: none;
            }
        }
    }

    .nav-item {
        &:hover {
            background-color: rgba(255, 255, 255, 0.25);
        }

        &.is-selected {
            background-color: rgba(255, 255, 255, 0.25);
        }
    }
}
