.terminal-view-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.terminal-view-wrapper {
    position: relative;
    min-height: 600px; 
    background: #0b0f22; 
    flex: 1;
}

.connection-status {
    position: absolute; 
    bottom: 0;
    width: 100%;
    background: #0a0f22;
}

.terminal-container {
    height: calc(100% - 30px);
    width: auto;
    overflow: hidden;
}
