.k8s-resource-view-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 118px);
}

.terminal-view-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 146px);
}

.terminal-view-wrapper {
    position: relative;
    min-height: 600px;
    background: #0b0f22;
    flex: 1;
}

.connection-status {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #0a0f22;
}

.terminal-container {
    height: calc(100% - 30px);
    width: auto;
    overflow: hidden;
}

.terminal-strip {
    z-index: 4;
}

.terminal-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: hidden;
    flex: 1;
    .terminal-component {
        overflow: hidden;
        background-color: #0b0f22;
        flex: 1;
    }
}

.connection-status-strip {
    animation-name: connection-status-strip;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    opacity: 0;
    height: 0px;
}

@keyframes connection-status-strip {
    0% {
        height: 0px;
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        height: 22px;
        opacity: 1;
    }
}

.connection-status-strip.unmount {
    animation-name: connection-status-strip-unmount;
    animation-direction: reverse;
}

@keyframes connection-status-strip-unmount {
    0% {
        height: 22px;
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        height: 0px;
        opacity: 0;
    }
}

.toggle-icon-dim {
    width: 24px;
    height: 16px
}
