.terminal-view-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.terminal-view-wrapper {
    position: relative;
    min-height: 600px;
    background: #0b0f22;
    flex: 1;
}

.connection-status {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #0a0f22;
}

.terminal-container {
    height: calc(100% - 30px);
    width: auto;
    overflow: hidden;
}

.terminal-strip {
    z-index: 4;
}

.terminal-wrapper {
    display: flex;
    flex-direction: column;
}

.terminal-wrapper .terminal-component {
    overflow: hidden;
    background-color: #0b0f22;
    ;
    flex: 1;
}

.connection-status-strip {
    animation-name: connection-status-strip;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    opacity: 0;
    height: 0px;
}

@keyframes connection-status-strip {
    0% {
        height: 0px;
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        height: 22px;
        opacity: 1;
    }
}