.aside-drag {
    &__handle {
        height: 32px;
        background-color: var(--white-60);
        transition: all 0.2s;
    }

    &:hover, &--dragging {
        .aside-drag__handle {
            height: 48px;
            background-color: var(--white);
        }
    }
}

.side-panel-content {
    &--hidden {
        visibility: hidden;
        height: 0;
    }
}
