.bulk-action-page {
    &.bulk-action-page--edit {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        $minWidth: 800px;
        .form-section {
            width: 100%;
            flex: 1 0 calc(100% - 64px);
            .form-container {
                width: $minWidth;
                margin: 0 auto;
            }
            .form__title {
                margin: 26px 0;
            }
            .form__error {
                margin-top: 4px;
                svg {
                    margin-right: 4px;
                }
            }
            .warning {
                padding: 16px;
                border: solid 1px var(--B200);
                background-color: #f0f7ff;
                border-radius: 4px;
                margin-bottom: 16px;
                svg {
                    height: 20px;
                    width: 20px;
                    margin-right: 4px;
                }
                b {
                    font-size: 16px;
                    color: var(--N900);
                    font-weight: 600;
                }
            }
            .white-card--titled {
                border-radius: 4px;
                margin-bottom: 16px;
                overflow: hidden;
                border-radius: 4px;
                max-height: 450px;
                display: grid;
                border: 1px solid var(--N200);
                grid-template-rows: 48px 1fr;
                .title-container {
                    display: grid;
                    grid-template-columns: 24px 1fr 60px;
                    grid-column-gap: 16px;
                    background-blend-mode: multiply;
                    background-image: linear-gradient(to bottom, var(--N100), var(--N100));
                    align-items: center;
                    padding: 0 16px;
                    &.active {
                        .index {
                            background: var(--G500);
                        }
                    }
                    .index {
                        font-weight: 600;
                        background: var(--N500);
                        color: white;
                        height: 24px;
                        border-radius: 50%;
                    }
                    .title {
                        font-size: 14px;
                        font-weight: 600;
                    }
                    .cta {
                        padding: 0;
                        min-width: 60px;
                        height: 30px;
                        line-height: 30px;
                    }
                }
                .ci-pipelines,
                .environments {
                    overflow: auto;
                    input[type='radio'] {
                        margin-right: 4px;
                    }
                }
                .ci-pipelines {
                    padding: 16px;
                    .pipeline {
                        span.radio {
                            height: 16px;
                            width: 16px;
                            border-radius: 50%;
                            border: 1px solid #d2d2d2;
                            margin: 4px 4px 0 0;
                            &.active {
                                background: radial-gradient(var(--B500) 0 50%, white 50% 100%);
                            }
                        }
                        &:not(:last-child) {
                            border-bottom: 1px solid var(--N200);
                        }
                        &:not(:first-child),
                        &:not(:last-child) {
                            padding: 16px 0;
                        }
                        &:first-child {
                            padding: 0 0 16px 0;
                        }
                        &:last-child {
                            padding: 16px 0 0 0;
                        }
                        b {
                            font-size: 14px;
                            margin-right: 16px;
                        }
                        .pipeline--info {
                            font-size: 14px;
                            color: var(--N700);
                            margin-bottom: 8px;
                            b {
                                font-weight: 600;
                                color: var(--N900);
                            }
                        }
                    }
                    .repo {
                        white-space: pre-line;
                        margin-bottom: 4px;
                    }
                    .repo-name {
                        font-size: 14px;
                        color: var(--N900);
                        margin-right: 4px;
                    }
                    .branch-name {
                        font-size: 14px;
                        color: var(--N500);
                        font-weight: 500;
                        font-family: monospace;
                        svg {
                            height: 16px;
                            width: 16px;
                        }
                    }
                }
                .environments {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    .environments-select {
                        .env-select-card {
                            padding: 12px 16px;
                            border: 1px solid var(--N200);
                            margin-bottom: 12px;
                            border-radius: 4px;
                            height: 64px;
                            b {
                                color: var(--N900);
                                font-size: 14px;
                                font-weight: normal;
                            }
                            svg {
                                margin-right: 4px;
                            }
                            &.active {
                                border: solid 1px var(--B500);
                                background-color: var(--B100);
                            }
                            .namespace {
                                color: var(--N400);
                                font-size: 12px;
                            }
                        }
                    }
                    .environments-select,
                    .apps-select {
                        box-shadow: inset -1px 0 0 0 var(--N200);
                    }
                    .apps-select {
                        .app-search {
                            height: 40px;
                            border-radius: 4px;
                            background-color: #f5f5f5;
                            svg {
                                margin: 0 10px;
                                height: 16px;
                                width: 16px;
                            }
                            input {
                                border: unset;
                                background: transparent;
                                width: calc(100% - 24px);
                            }
                        }
                    }
                    .environments-select,
                    .apps-select,
                    .selected-apps {
                        height: 100%;
                        overflow: auto;
                        padding: 0 20px;
                        h5 {
                            margin: 0;
                            padding: 16px 0;
                            font-weight: 600;
                            color: var(--N900);
                            font-size: 14px;
                            position: sticky;
                            top: 0px;
                            background: white;
                        }
                    }
                    .app-select-card,
                    .selected-app-card {
                        height: 40px;
                        font-size: 14px;
                        color: var(--N900);
                        input[type='checkbox'] {
                            margin-right: 12px;
                            height: 16px;
                            width: 16px;
                        }
                    }
                }
            }
        }
        .cta-section {
            width: 100%;
            flex: 0 0 64px;
            position: sticky;
            bottom: 0;
            background: rgba(255, 255, 255, 0.9);
            .cta {
                width: $minWidth;
            }
        }
    }
}

.page.deployment-detail-page {
    width: 100%;
    margin: unset;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr;
    .page-title {
        font-size: 20px;
        font-weight: 600;
        color: var(--N900);
    }
}

.deployment-details-body {
    background-color: var(--window-bg);
    padding: 20px 24px;
    height: calc(100vh - 82px);
    overflow: auto;
}

.popup-menu {
    height: 36px;
    width: 150px;
    padding: 0 8px;
    cursor: pointer;
    &:hover {
        background: #f5f5f5;
    }
}

.deployment-details-metadata {
    width: 100%;
    padding: 24px;
    margin-bottom: 20px;
}

.sources,
.targets {
    width: 50%;
    font-size: 14px;
    .title {
        font-size: 14px;
        font-weight: 600;
        color: var(--N900);
        margin-bottom: 8px;
    }
}

.repo-info {
    .repo-name {
        margin-right: 4px;
    }
    svg {
        height: 16px;
        width: 16px;
        margin: 0 4px;
    }
    .branch-name {
        font-size: 14px;
        font-weight: 500;
        color: var(--N700);
        font-family: monospace;
    }
}

table.group-details {
    width: 100%;
    font-size: 14px;
    th {
        height: 36px;
        background: white;
        font-size: 12px;
        font-weight: 600;
        color: #404040;
        position: sticky;
        top: 0;
    }
    td {
        height: 56px;
        color: var(--N900);
        font-size: 14px;
        a {
            color: unset;
            text-decoration: none;
        }
    }
    th,
    td {
        &:first-child {
            padding-left: 24px;
        }
        &:last-child {
            padding-right: 24px;
        }
    }
    .multi-status {
        .status-progress {
            height: 40px;
            margin: 0 auto;
            width: 150px;
            position: relative;
            justify-content: space-around;
            &:before {
                content: '';
                display: block;
                background: var(--N700);
                position: absolute;
                height: 1px;
                top: 20px;
                left: 0px;
                width: 100%;
                z-index: 1;
            }
            &:after {
                content: '';
                display: block;
                background: transparent;
                position: absolute;
                height: 10px;
                top: 15px;
                left: 0px;
                width: 100%;
                z-index: 1;
                border-left: 1px solid var(--N700);
                border-right: 1px solid var(--N700);
            }
        }
    }
}

.bulk-action-list__row {
    display: flex;
    padding: 16px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: normal;
    justify-content: space-between;
    color: #404040;
    cursor: default;
}

.hw-100 {
    height: 100%;
    width: 100%;
}

.bulk-action-list__row.bulk-action-list__row--header {
    padding: 9px 16px;
    font-weight: 600;
}

.bulk-action-list__cell--name {
    flex-basis: 20%;
}

.bulk-action-list__cell--source {
    flex: 1;
}

.bulk-action-list__cell--action {
    flex-basis: 16%;
    padding-right: 16px;
    display: flex;
    justify-content: flex-end;
}

.deployment-group__repo-list {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.bulk-action-list__row:nth-child(even) {
    background-color: var(--white);
}

.bulk-action-list__row:nth-child(odd) {
    background-color: var(--window-bg);
}

.bulk-action-list__row:not(.bulk-action-list__row--header):hover {
    background-color: var(--B100);
}

.deployment-group-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--N900);
    margin-bottom: 4px;
}

.deployment-group-title:hover {
    color: var(--N900);
}

.deployment-group__desc {
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--N900);
}

.deployment-group__repo-name {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--N900);
}

.deployment-group__branch-name {
    font-family: monospace;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--N500);
}

.deployment-group__actions {
    margin-top: 4px;
}

.deployment-group__deploy {
    position: relative;
}

.cta--create-group {
    width: 160px;
    margin: auto;
}

.kebab-menu__list--bulk-action {
    width: 130px;
}

.bulk-action-list__row:last-child {
    border-bottom: 1px solid #d6dbdf;
}

.deployment-group__deploy:hover svg path {
    fill: var(--N600);
}

.deployment-group__actions .popup-button:hover svg path[fill='#999'] {
    fill: var(--N600);
}

.deployment-detail-page__more-actions--body {
    padding: 16px 0;
    div {
        width: 100%;
        height: 40px;
        padding: 0 16px;
        line-height: 40px;
        cursor: pointer;
        &:hover {
            background: var(--window-bg);
        }
    }
}

.deployment-detail-page__more-actions--button {
    padding: 0 16px;
    height: 40px;
}
