.app-overview-container {
    grid-template-columns: 250px 1fr;

    .app-overview-wrapper {
        .app-level__external-links {
            padding: 0;
            margin-bottom: 0 !important;
            min-height: 0;
        }

        .env-deployments-info-wrapper {

            .env-deployments-info-header,
            .env-deployments-info-row {
                grid-template-columns: 250px 110px 1fr;
                column-gap: 16px;
                grid-auto-rows: 36px;
            }
        }

        .tags-icon {
            path {
                &:first-of-type {
                    stroke: var(--N900);
                }

                &:last-of-type {
                    fill: var(--N900);
                }
            }
        }
    }
}

.app-status__material-modal {
    .modal__body {
        width: 600px;
    }
}
