.app-overview-container {
    grid-template-columns: 0 1fr;
    background: linear-gradient(249deg, #D4E6F7 0%, var(--N50) 50.58%);
    overflow: auto;
    transition: grid-template-columns 0.2s ease-out;

    &.sidebar-open {
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 32px;
    }

    .app-overview-wrapper {
        .env-deployments-info-wrapper {
            border-radius: 4px;
            border: 1px solid var(--N200);
            background: var(--N0);

            .env-deployments-info-header,
            .env-deployments-info-row {
                grid-template-columns: 20px 250px 1fr;
                column-gap: 16px;
                grid-auto-rows: 36px;
            }

            .env-deployments-info-row {
                grid-auto-rows: 40px;
            }

            &--argo-installed {
                .env-deployments-info-header,
                .env-deployments-info-row {
                    grid-template-columns: 20px 20px 250px 1fr;
                }
            }
        }

        .tags-icon {
            path {
                &:first-of-type {
                    stroke: var(--N900);
                }

                &:last-of-type {
                    fill: var(--N900);
                }
            }
        }

        .empty-state-content {
            max-width: 368px;
        }

        // Increasing the specificity for the existing class
        .deploy-chart__readme-markdown a.anchor {
            color: var(--N900)
        }
    }
}

.app-status__material-modal {
    .modal__body {
        width: 600px;
    }
}
