.chart-grid__check {
    position: absolute;
    right: 16px;
    top: 16px;
}

.chart-grid__check.chart-grid__check--hidden {
    display: none;
}

.chart-grid__check--hide {
    display: none;
}

.show-checkbox-onhover:hover .chart-grid__check.devtron-stepper {
    display: grid;
}

.modal__body--deploy-selected-charts {
    width: 600px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    max-height: 80vh;
    display: grid;
    grid-template-rows: 34px 1fr;
    grid-row-gap: 24px;
    padding: 24px 0 0 0;
}

.modal__body--deploy-selected-charts form {
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 72px;
    height: 100%;
}

.modal__body--deploy-selected-charts .deploy-selected-charts__body {
    overflow: auto;
    max-height: 100%;
    padding: 0 24px 24px 24px;
}

.modal__body--deploy-selected-charts .modal__header {
    padding: 0 24px;
    margin-bottom: unset;
}

.devtron-stepper {
    height: 24px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid var(--N200);
    border-radius: 2px;
    display: grid;
    grid-template-columns: repeat(3, 20px);
    place-items: center;
    grid-column-gap: 0px;
    background-color: var(--N000);
    cursor: default;
}

.devtron-stepper__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.devtron-stepper__item:disabled {
    cursor: not-allowed;
}

.devtron-stepper__item:disabled .fill-color {
    fill: var(--N600);
    cursor: not-allowed;
}

.devtron-stepper__item .fill-color {
    fill: var(--B500);
}

.chart-group-deployments {
    padding: 16px 24px;
    flex: 1;
}

.white-card.white-card--chart-store {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.white-card--running-deployments {
    height: calc(100vh - 266px);
    display: flex;
    flex-direction: column;
    padding: 0;
}

.deploy-and-details-view {
    display: flex;
    height: calc(100vh - 80px);
}

.deploy-and-details-view--details {
    max-height: 100%;
    width: 100%;
    overflow: auto;
}

.chart-grid__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: normal;
    color: var(--N900);
    margin: 0px;
    margin-right: 16px;
}

.chart-grid-item.chart-grid-item--selected {
    border: solid 1px var(--B500);
    background-color: var(--B100);
}

.chart-group-item__title {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--N900);
    margin-bottom: 4px;
}

.chart-group-item__desc {
    font-size: 12px;
    height: 20px;
    font-weight: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #404040;
}

.chart-grid-item--chart-group {
    height: 200px;
}

.chart-grid-item__chart-icons {
    height: 108px;
    margin-bottom: 16px;
}

.chart-group__header {
    padding: 20px 20px 0px 20px;
}

.chart-group__chart-icon {
    margin: 6px;
    height: 40px;
    width: 40px;
}

.chart-grid--chart-group-snapshot {
    min-height: 232px;
}

.chart-group__view-all {
    padding: 5px 12px;
    border-radius: 4px;
    border: solid 1px var(--N200);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: var(--N700);
    background-color: var(--N000);
}

.deploy-selected-chart-hr {
    width: 100%;
    margin: 24px 0px 20px;
    background-color: var(--N100);
}

.deploy-selected-charts__applications-edit {
    background-color: transparent;
    padding: 0px;
    height: 24px;
    width: 24px;
    border: none;
}

.deploy-selected-chart__list {
    height: 0px;
    overflow: hidden;
}

.deploy-selected-chart__list.show {
    height: auto;
    overflow: auto;
}

.deploy-selected-chart__list-item {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-column-gap: 16px;
}

.deploy-selected-chart__list-item:first-child {
    margin-top: 24px;
}

.deploy-selected-chart__list-item:last-child {
    margin-bottom: 0px;
}

.deploy-selected-charts__applications-title {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: var(--N900);
    margin: 0px;
}

.deploy-selected-charts__applications {
    display: flex;
    align-items: center;
}

.deploy-selected-charts__app_names {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #404040;
}

.deploy-selected-charts__bottom {
    padding: 16px 24px;
    box-shadow: 0 -1px 0 0 var(--N200);
    background-color: var(--N000);
}

.chart-group-deployment__row {
    padding: 0 20px;
    min-height: 52px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 -1px 0 0 #f5f5f5;
    color: inherit;
}

.chart-group-deployment__expanded-row {
    height: 0px;
    display: block;
    transition: height 1s;
    overflow: hidden;
}

.chart-group-deployment__expanded-row .chart-group-deployment__row:hover {
    background-color: var(--window-bg);
}

.chart-group-deployment__expanded-row.show {
    height: auto;
}

.chart-group-deployment__deployed-app {
    min-height: 52px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 -1px 0 0 #f5f5f5;
}

.chart-group-deployment__cell {
    padding: 0 20px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    flex-grow: 1;
    min-width: 0px;
}

.chart-group-deployment__row:hover {
    color: inherit;
    text-decoration: none;
}

.chart-group-deployment-cell__chart-name {
    width: calc(100% - 56px);
}

.chart-group-deployment__cell--first-child {
    flex-basis: 230px;
    padding-left: 0px;
    flex-grow: 0;
}

.chart-group-deployment__cell--child-2 {
    flex: 1;
}

.chart-group-deployment__cell--last-child {
    flex-basis: 36px;
    padding-right: 0px;
    justify-content: flex-end;
}

.chart-store__more-option {
    margin-left: 4px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #404040;
}

.chart-group-deployment__expand-row {
    cursor: pointer;
    transition: transform 600ms 100ms ease;
}

.chart-group-deployment__expand-row.chart-group-deployment__expand-row--rotated {
    transform: rotate(180deg);
}

.chart-group-deployment__expand-row .fill-color {
    fill: var(--N600);
}

.chart-group-deployment__delete-app .stroke-color {
    stroke: var(--N400);
}

.chart-group-deployment__delete-app:hover .stroke-color {
    stroke: var(--R500);
}

.form__error.flex {
    display: flex;
}
