.theme-preference-option {
    &__label-container {
        transition: padding 0.2s;
    }

    &__label-container:hover {
        padding: 2px;
    }

    &__container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__auto-figure {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;

        &--light {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
        }

        &--dark {
            grid-column: 7 / -1;
            grid-row: 1 / -1;
        }
    }
}