.filter {
    position: relative;
    margin: auto 8px;
    min-width: 155px;
    flex-basis: 200px;
}

.transparent-div {
    position: fixed;
    background: transparent;
    top: 0px;
    left: 0px;
    right: 0;
    height: 100vh;
    z-index: var(--transparent-div-index)
}

.filter__no-result {
    margin: 10px 18px;
    text-align: center;
}

.filter__trigger {
    width: 100%;
    height: 36px;
    border-radius: 4px;
    border: solid 1px var(--N200);
    background-color: var(--white);
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--N900);
    display: flex;
    align-items: center;
}

.filter__trigger.disable__button {
    background-color: var(--N100);
    color: var(--N500);
    cursor: not-allowed;
}

.filter__apply {
    background-color: var(--B500);
    position: absolute;
    bottom: 0px;
    width: 90%;
    height: 36px;
    display: block;
    border-radius: 4px;
    margin: auto;
    color: var(--white);
    border: none;
    margin: 10px;
}

.filter-icon {
    font-size: 12px;
    margin-left: auto;
}

.filter__menu {
    display: none;
    background-color: var(--white);
    height: 300px;
    position: absolute;
    top: 36px;
    left: 0px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(21, 21, 21, 0.3);
    z-index: var(--filter-menu-index);
}

.filter__options {
    height: 195px;
    overflow: auto;
}

.filter-element {
    display: block;
    width: 100%;
    margin: 0px;
    position: relative;
    padding: 8px 26px 8px 32px;
    cursor: pointer;
    font-size: 12px;
    text-transform: lowercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-element__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.filter-element__checkmark {
    position: absolute;
    top: 12px;
    left: 12px;
    height: 14px;
    width: 14px;
    background-color: var(--white);
    border: solid 1px var(--N400);
    border-radius: 2px;
}

.badge {
    font-size: 10px;
    border-radius: 10px;
    background-color: var(--B500);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
    padding: 2px 10px;
    margin-left: 10px;
}

.filter__menu--show {
    display: block;
}

.filter__search {
    display: block;
    width: 90%;
    margin: 8px auto;
    background-color: var(--window-bg);
    border: none;
    border-radius: 4px;
    padding: 8px 10px;
}

.filter-element__input:checked~.filter-element__checkmark {
    background-color: var(--B500);
    border: 1px solid var(--B500);
}

.filter-element__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.filter-element__input:checked~.filter-element__checkmark:after {
    display: block;
}

.filter-element__checkmark:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.filter-element:hover {
    background-color: #f5f5f5;
}

.filter__apply:hover~:disabled {
    background-color: #0558af;
}

.filter__apply:disabled {
    background-color: var(--N200);
}

.filter__search:focus {
    outline: none;
    border: solid 1px var(--N400);
}

.filter:last-child {
    margin-right: 0px;
}

@media(min-width: 1024px) {
    .filter {
        margin: auto 10px;
    }
}

.pulse-highlight {
    width: 12px;
    height: 12px;
    border: solid 4px rgba(255, 126, 91, 0.4);
    background-color: #ff7e5b;
    position: absolute;
    top: -6px;
    right: -6px;
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,131,0, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255,131,0, 0.4);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255,131,0, 0.4);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(255,131,0, 0.4);
      box-shadow: 0 0 0 0 rgba(255,131,0, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}