.create-app-modal {
    width: 450px;
    max-height: 90vh;
    margin-top: 0px;
}

.footer {
    margin: 16px 20px;
}

.separator {
    width: 450px;
}

.scrollable-content {
    max-height: calc(90vh - 175px);
    overflow: auto;
}

span.form__label {
    font-size: 12px;
    color: #404040;
}

.info__container--create-app {
    padding: 10px 12px;
    align-items: start;
    grid-template-columns: 20px 1fr auto;
    grid-column-gap: 12px;
}

.info__title {
    display: inline;
}

.form-row {
    margin-bottom: 16px;
}

.form__text-field-info--create-app {
    align-items: flex-start;
}

.form__icon--create-app {
    position: relative;
    top: 3px;
}

.no-border {
    border: none;
    display: inline-block;
}

.no-border .form__radio-item {
    border: none;
    min-width: 110px;
}

.no-border .form__radio-item .form__radio-item-content {
    padding: 0;
}

.no-border .form__radio-item .form__radio-item-content .radio__title {
    text-transform: none;
}
