span.form__label {
    font-size: 12px;
    color: #404040;
}

.info__container--create-app {
    margin-bottom: 16px;
    padding: 16px;
    align-items: start;
}

.form__text-field-info--create-app{
    align-items: flex-start;
}

.form__icon--create-app {
    position: relative;
    top: 3px;
}