span.form__label {
    font-size: 12px;
    color: #404040;
}

.info__container--create-app {
    margin-bottom: 16px;
    padding: 16px;
    align-items: start;
}

.form__text-field-info--create-app{
    align-items: flex-start;
}

.form__icon--create-app {
    position: relative;
    top: 3px;
}

.no-border {
  border: none;
  display: inline-block;
}

.no-border .form__radio-item{
  border: none;
  min-width: 110px;
}

.no-border .form__radio-item .form__radio-item-content{
  padding: 0;
}