

.onboarding-container {
    .onboarding-cards__wrap {
        display: grid;
        grid-template-columns: 300px 1px 300px 300px;
        grid-gap: 20px;
    }

    .onboarding-header{
       background: var(--window-bg);
    }

    .onboarding-card__img {
        width: 298px;
        height: 210px;
    }

    .onboarding__upper{
      height: 300px;
    }

    .onboarding__bottom {
      height: calc(100vh - 300px);
     }

     .onboarding__line{
       width: 1px;
       height: 150px;
       background-color: var(--N200);
       align-self: center;
     }

     .onboarding__abs{
      position: absolute;
      top: -80px;
    }
}


.deploy-manage-container {
    .deploy_arrow {
        width: 56px;
        height: 56px;
        border: 1px solid var(--N200);
        border-radius: 50%;
    }

    .deploy-manage-cards__wrap {
        display: flex;
        grid-gap: 20px;
        flex-wrap: wrap;
        width: 820px;
        justify-content: center;
    }

    .deploy-manage__body{
      height: calc(100vh - 300px);
        .deploy-card:hover{
          border: 1px solid var(--B500);
          border-radius: 400;
        }
        a:hover{
          color: var(--N900);
        }

    }

    .deploy-manage__abs{
      position: absolute;
      top: -80px;
    }

}