.onboarding-container {
    .onboarding-cards__wrap {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-gap: 20px;
    }

    .onboarding-header {
        background: var(--window-bg);
    }

    .onboarding__bottom {
        height: calc(100vh - 300px);
    }

    .onboarding__line {
        width: 1px;
        height: 150px;
        background-color: var(--N200);
        align-self: center;
    }

    .onboarding__abs {
        position: absolute;
        top: -80px;
    }
}

.guide_skip a:hover {
    color: var(--B500);
}

.guide-body {
    height: calc(100vh - 454px);
}

.guide-container {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);

    .guide-cards__wrap {
        display: grid;
        grid-template-columns: 300px 300px;
        grid-gap: 20px;
        position: absolute;
        top: -80px;
    }

    .guide-card__img {
        width: 298px;
        height: 210px;
    }

    .guide-card:hover {
        box-shadow: 0 8px 12px 0 var(--gray);
    }
}

.common-guide__container {
    .deploy-manage__upper {
        &.pt-64 {
            padding-top: 64px;
        }
    }
}