.hosturl__description{
    margin: 20px 24px;
    padding: 16px;
    border-radius: 4px;
    border: solid 1px var(--B200);
    background-color: #f0f7ff;
    font-size: 14px;
}

.hosturl__container{
    color: #404040;
}

.hosturl__autodetection{
    color: #6b778c;
    font-size: 11px;
}

.hosturl__url{
    color: var(--B500);
    background: none;
    border: none;
}

.hosturl__url:focus{ 
    outline:0; 
}