.artifact-collapsed {
    display: flex;
    margin-bottom: 12px;
    padding: 15px 20px;
    border: solid 1px #d6dbdf;
    align-items: center;
    cursor: pointer;
}

.collapsed__icon {
    display: block;
    margin-left: auto;
}

.git__icon {
  /*  background-image: url('../../assets/icons/git/git.svg');*/
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
}

.git__provider {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--N900);
}

.git__url {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: --N400;
    margin-bottom: 0px;
}

.git-providers {
    width: 100%;
    height: 56px;
    border-radius: 4px;
    border: solid 1px var(--N200);
    background-color: var(--white);
}

.form-row__material {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-column-gap: 16px;
}

.sample-repo-container{
    background-color: #F3F0FF;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #C5BBFA;
    margin: 20px 0;
    display: flex;
}

.sample-title{
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 4px 0;
}

.link-container{
  color: #0066CC;
}