.chart-detail-container {
    display: grid;
    height: 100%;
    overflow: hidden;
    grid-template-rows: 48px 1fr;
    .chart-deployment {
        position: sticky;
        top: 16px;
        .repository {
            font-size: 16px;
            line-height: 24px;
            .anchor {
                color: #969696;
            }
        }
        .cta {
            width: 100%;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .detailed-container {
        flex: 1;
    }
    .deployments {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;
        .deployments-table {
            overflow-y: auto;
            width: 100%;
            margin: 0px 20px 16px 20px;
            a:hover {
                text-decoration: none;
                color: var(--N700);
            }
            a {
                color: var(--N700);
            }
            thead th {
                height: 40px;
                color: var(--N700);
                position: sticky;
                top: 0;
                background: white;
            }
            .deployment-table-row {
                td {
                    height: 72px;
                }
            }
            tr {
                border-bottom: 1px solid #f5f5f5;
            }
        }
    }
}

.chart-detail-left {
    display: block;
    max-width: 100%;
    overflow: auto;
    & > * {
        margin-bottom: 16px;
        width: 100%;
    }
    .white-card.deployments {
        height: 375px;
    }
}

.chart-detail-right {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    position: sticky;
    top: 0;
}

.chart-store-card__header {
    flex-basis: 24px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #f5f5f5;
    width: 100%;
    line-height: 1.5;
    padding: 16px 20px;
    color: var(--N900);
}

.chart-store-card__body {
    padding: 16px 20px;
}

.chart-store-card__subtitle {
    font-size: 12px;
    color: #404040;
    margin-bottom: 6px;
    font-weight: normal;
}

.chart-store-card__text.chart-store-card__text--no-margin {
    margin: 0px;
}

.chart-store-card__text {
    min-height: 20px;
    margin-bottom: 16px;
    word-wrap: break-word;
    max-width: 100%;
    font-size: 14px;
    color: var(--N900);
}

.chart-store-card__text--see-more {
    margin-bottom: 0px;
}

.chart-store-card__deployment-list {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 8px;
}

.left-right-container {
    padding: 16px 24px;
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: 1fr 300px;
    width: 100%;
}

.white-card--no-deployments {
    width: 100%;
    height: 100%;
}

.deployment-table-row:hover {
    background-color: var(--B100);
}

.deployed-app-name:hover {
    text-decoration: none;
}

.full-screen-modal.deploy-update {
    background: white;
}

.discover__readme {
    &.discover__readme--horizontal {
        background: white;
        border-radius: 8px;
        overflow: hidden;
        border: solid 1px #d6dbdf;
        .list__title.not-available {
            color: #f32e2e;
            font-weight: 600;
        }
    }
}

.deploy-chart__readme-markdown {
    padding: 0 20px;
    overflow: hidden;
    .table-container {
        width: 100%;
        overflow-x: auto;
    }
    table {
        border-spacing: 0;
        border-collapse: collapse;
        tbody {
            td,
            th {
                padding: 6px 13px;
                border: 1px solid #dfe2e5;
            }
            tr {
                height: 37px;
            }
            tr:nth-child(2n + 3) {
                background: #f6f8fa;
            }
            tr:first-child {
                th {
                    text-align: center;
                }
            }
        }
        code {
            background-color: rgba(27, 31, 35, 0.05);
        }
    }
    pre {
        padding: 16px;
        background-color: #f6f8fa;
        border-radius: 4px;
        border: unset;
    }
    a.anchor {
        color: var(--N900);
    }
}

.deployment-table-row__delete {
    padding: 6px 0;
    width: 100px;
    & > * {
        height: 40px;
        padding: 0 16px;
        cursor: pointer;
        color: var(--R500);
        &:hover {
            background: var(--window-bg);
        }
        img {
            height: 20px;
            width: 20px;
            margin-right: 4px;
        }
    }
}

.modal__body.modal__body--manage-values {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.modal__header.modal__header--manage-values {
    padding: 0 24px;
}

.chart-values {
    background-color: var(--white);
    display: grid;
    grid-template-rows: 80px 1fr;
    height: 100%;
    overflow: hidden;
}

.chart-values__container {
    width: 100%;
    padding: 24px calc((100% - 600px) / 2);
    overflow: auto;
}

@media (min-width: 1024px) {
    .chart-values__container {
        width: 100%;
        padding: 24px calc((100% - 800px) / 2);
    }
}

.text-button {
    border: none;
    background-color: inherit;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: right;
    color: var(--B500);
}

.manage-values__list {
    padding: 0px;
    margin: 0px;
    height: 326px;
    overflow-y: auto;
    font-size: 14px;
}

.manage-values__chart-values-name {
    width: 70%;
}

.manage-values__empty-state {
    height: 326px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.manage-values__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    padding: 0 24px;
}

.manage-values__create-new {
    display: flex;
    position: sticky;
    bottom: 0px;
    align-items: center;
    height: 56px;
    margin-top: 0px;
    padding: 0 24px;
    box-shadow: 0 -1px 0 0 var(--N200);
    cursor: pointer;
    font-size: 14px;
}

.manage-values__list-item:hover {
    background-color: var(--N100);
}

.manage-values__empty-state-img {
    margin-bottom: 8px;
    width: 48px;
    height: 48px;
}

.manage-values__empty-state-title {
    width: 250px;
    height: 18px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--N700);
}

.manage-values__item-action {
    display: none;
}

.manage-values__list-item:hover .manage-values__item-action {
    display: block;
}

.manage-values__empty-state-img .stroke-color {
    stroke: var(--N300);
}

.manage-values__create-new svg .fill-color {
    fill: var(--N600);
}

.manage-values__list-item svg .fill-color {
    fill: var(--N600);
}

.manage-values__list-item svg .stroke-color {
    stroke: var(--N600);
}

.form__label.form__label--no-margin {
    margin: 0px;
}
