.default-tab-cell{
    text-transform: capitalize;
}

.default-tab-cell:hover{
   color: var(--B500);
}

.default-tab-row{
    border-bottom: solid 2px var(--B500) ;
}       

.dark-background{
    background-color: #0b0f22;
}

.summary-view__card {
    background-color: #f2f4f7;
}