.dynamic-tabs-section {
    .dynamic-tabs-container {
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .more-tabs-option {
        margin-left: 8px;

        &.hide-more-tabs-option {
            display: none !important;
        }

        .tab-option__select {
            width: calc(100% - 24px);
        }
    }

    .dynamic-tab__close {
        width: 16px;
        height: 16px;

        svg {
            padding: 2px;

            path {
                fill: var(--N600);
                stroke: var(--N600);
            }
        }

        &:hover {
            background-color: var(--R100);

            svg {
                path {
                    fill: var(--R500);
                    stroke: var(--R500);
                }
            }
        }
    }

    .dynamic-tab__border {
        height: 16px;
        border-left: 1px solid var(--N200);
    }

    .dynamic-tabs-container,
    .fixed-tabs-container {

        .dynamic-tabs-wrapper,
        .fixed-tabs-wrapper {
            list-style: none;
            display: flex;
            margin: 0px;
            padding: 0px;

            .dynamic-tab {
                max-width: 276px;
                width: 100%;
                min-width: 91px;
            }

            .dynamic-tab,
            .fixed-tab {
                &.dynamic-tab__item-selected {
                    +.dynamic-tab__border {
                        display: none;
                    }
                }

                .dynamic-tab-selected {
                    border-top: 1px solid var(--N200);
                    border-bottom: 1px solid var(--N0);
                    border-left: 1px solid var(--N200);
                    border-right: 1px solid var(--N200);
                    border-top-right-radius: 8px;
                    border-top-left-radius: 8px;

                    .dynamic-tab__resource {
                        user-select: none;
                        text-align: center;
                        color: var(--N700);

                        &:hover {
                            color: var(--B500) !important;
                        }

                        .dynamic-tab__deleted {
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
    }
}