.modal__body--ci {
    width: 800px;
    margin-top: 24px;
}

.ci-button-container {
    border-top: solid 1px var(--N100);
}

.ci-pipeline-advance {
    min-height: calc(100vh - 690px);
}

.repo-name {
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: var(--N900);
}

.select-button--source-info {
    height: 40px;
    padding: 12px 10px;
    background-color: var(--white);
}

.disabled .select-button--source-info {
    background-color: var(--N100);
}

.ci-artifact__select-label {
    display: flex;
    align-items: center;
    margin: 0px;
    position: relative;
}

.ci-artifact__icon {
    width: 20px;
    height: 20px;
    margin: 0 8px 0 0;
}

.ci-artifact {
    border: solid 1px #d5dbdf;
    margin-bottom: 12px;
    border-radius: 4px;
}

.ci-artifact__header {
    padding: 12px 16px;
    display: flex;
    align-items: center;
}

.ci-artifact__body {
    padding: 14px 16px;
    display: flex;
    background-blend-mode: multiply;
    background-image: linear-gradient(to bottom, #f2f4f7, #f2f4f7);
    border-top: solid 1px #d5dbdf;
    border-radius: 0 0 4px 4px;
}

.docker-build-args {
    border: solid 1px #d5dbdf;
    border-radius: 4px;
    margin-bottom: 24px;
}

.docker-build-args__header {
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.docker-build-args__wrapper {
    border-top: solid 1px #d5dbdf;
}

.docker-build-args__text {
    line-height: 24px;
}

.form__key-value-inputs--docker-build {
    margin: 16px;
}

.form__add-parameter--docker-build {
    margin: 16px;
}

.ext-ci-config {
    border-radius: 8px;
    border: solid 1px var(--N200);
    background-color: var(--window-bg);
    padding: 16px 20px;
    border-style: dashed;
}

.ext-ci-config__title {
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--N900);
    margin-bottom: 4px;
}

.ext-ci-config__description {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: var(--N700);
    margin-bottom: 24px;
}

.copy-button--ext-ci {
    position: absolute;
    top: 32px;
    right: 5px;
}

.ci-artifact:last-child {
    margin-bottom: 0px;
}

.ci-stage__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--N900);
    margin-bottom: 4px;
}

.ci-stage__description {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: var(--N700);
}

.ci-file-icon {
    transform: rotate(+90deg);
    margin-right: 10px;
}

.info__container.info__container--linked-ci {
    margin-bottom: 16px;
}

.script-container {
    border: 1px solid #d6dbdf;
    padding: 8px 0;
    border-radius: 4px;
}

.script-container .react-monaco-editor-container {
    min-height: 300px;
}

.script-container .shebang {
    padding: 0 60px;
    color: #e00000;
}

.configure-ci-webhook {
    display: grid;
    grid-template-columns: 32px auto;
}

.ci-webhook-condition {
    display: grid;
    grid-template-columns: 200px 500px 30px;
    gap: 16px;
}

.ci-webhook-info {
    display: grid;
    grid-template-columns: 20px auto;
    gap: 12px;
    padding: 10px 16px;
}

.webhook-config-container .add-filter {
    width: 100px;
}

.webhook-warning-padding {
    padding-top: 100px;
}

.ci-error {
    text-align: center;
    margin-left: 19%;
}

.modal__body__ci_new_ui {
    width: 800px;
    margin-top: 0;
}

.advanced-option-container {
    height: 100%;
    width: 75%;
}

.title-padding {
    padding: 17px 20px;
}

.pipeline-container {
    display: grid;
    grid-template-columns: 280px 1fr;
    height: calc(100vh - 150px);
    background: var(--white);
    overflow: hidden;
}

.pipeline-container .sidebar-container {
    border-right: 1px solid var(--N200);
    padding: 0 20px;
}

.bottom-border-radius {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.justify-right {
    justify-content: right;
}

.ci-scrollable-content {
    overflow: auto;
    max-height: calc(100vh - 125px);
}

.task-container {
    max-height: 235px;
    overflow: auto;
}

.task-item {
    height: 34px;
    background: var(--window-bg);
    border-radius: 4px;
    margin: 12px 0;
    padding: 6px 10px;
    display: flex;
}

.drag-icon {
    cursor: move;
    height: 20px;
    width: 20px;
}

.add-task-container {
    border: 1px dashed var(--N300);
    cursor: pointer;
    margin-bottom: 0;
}
.add-icon {
    height: 20px !important;
}
.add-icon path {
    fill: var(--B500);
}

.sidebar-action-container {
    padding: 16px 0;
}

.sidebar-action-container-border {
    border-bottom: 1px solid var(--N100);
}

.text-uppercase {
    text-transform: uppercase;
}

.no-border {
    border: none;
    display: inline-block;
}

.no-border .form__radio-item {
    border: none;
    min-width: 125px;
    margin-right: 20px;
}

.no-border .form__radio-item .form__radio-item-content {
    padding: 8px 0;
}

.no-border .form__radio-item .form__radio-item-content .radio__title {
    text-transform: none;
}
.no-border .form__radio-item input:checked ~ .form__radio-item-content .radio__title {
    color: var(--N900);
}

.configuration-container {
    margin-bottom: 12px;
}

.configuration-container input + .radio__item-label {
    text-align: center;
    display: table;
    padding: 3px;
    background: var(--N0);
    border: 1px solid var(--N200);
    width: 120px;
    color: var(--N400);
}

.configuration-container .left-radius input + .radio__item-label {
    border-radius: 4px 0 0 4px !important;
}

.configuration-container .right-radius input + .radio__item-label {
    border-radius: 0 4px 4px 0 !important;
}

.radio-group input[type='checkbox']:checked + .radio__item-label {
    background: var(--N100);
    color: var(--N900);
}

.plugin-card:hover {
    box-shadow: 1px 1px 1px 1px var(--N200);
    border-radius: 4px;
}

.tag-container {
    padding: 0px 4px;
    text-transform: capitalize;
}

.lh-16 {
    line-height: 16px;
}

.pc-icon-container {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.row-container {
    display: grid;
    grid-template-columns: 200px auto;
}

.label-width {
    width: 250px;
}

.justify-start {
    justify-content: flex-start;
    padding-left: 0;
}

.variable-container {
    display: grid;
    grid-template-columns: 200px 100px auto;
}

.custom-variable-container{
    display: grid;
    grid-template-columns: 200px auto 70px auto 30px;
}

.condition-container {
    display: grid;
    grid-template-columns: 80px auto 70px auto 30px;
}

.content-fit {
    width: fit-content;
}

.justify-space {
    justify-content: space-between;
}

.border-bottom-1-n2 {
    border-bottom: 1px solid var(--N200);
}

.active-tab {
    border-bottom: 2px solid var(--N900);
}
