#root>main {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 64px 1fr;
    overflow-y: hidden;
}

.main {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
}

.expanded-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 64px;
    width: 0px;
    transition: width 300ms ease-out 0s;
    background: var(--B500);
    align-items: left;
    overflow: hidden;

    .title-container {
        color: white;
        font-size: 14px;
        font-weight: 600;
        width: 100%;
        height: 40px;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align-last: left;
    }

    .text-logo {
        width: 76px;
        height: 16px;
    }
}

#root>main {
    &>nav {
        background: var(--B500);
        position: sticky;
        top: 0;
        display: flex;
        overflow: visible;
        z-index: var(--navigation-index);

        .main-nav {
            display: grid;
            grid-template-rows: 84px 84px repeat(5, 50px) auto repeat(2, 50px) 90px;
            place-items: center;

            a,
            button {
                &:hover {
                    text-decoration: none;
                }

                &:focus {
                    outline: none;
                    border: none;
                }
            }
        }

        .short-nav {
            width: 100%;
            padding: 0 10px;

            .svg-container {
                height: 40px;
                width: 40px;
                border-radius: 8px;
            }

            a {
                .short-nav-icon {
                    width: 24px;
                    height: 24px;
                    fill: white;
                    opacity: 0.5;

                }

                .logo {
                    width: 40px;
                    height: 40px;
                    opacity: 1;
                    fill: #ffffff;
                }

                &.active-nav,
                &:hover {
                    svg.short-nav-icon {
                        opacity: 1;
                    }
                }

                &:not(.active-nav):focus {
                    border: 1px solid white;
                    border-radius: 8px;
                }

            }
        }

        .active-nav {
            .svg-container {
                background: #0000007d;
            }
        }

        &:hover {
            .expanded-nav {
                transition: width 300ms ease-out 700ms;
                width: 188px;
                height: 100vh;
            }
        }
    }

    .hubspot-placeholder {
        height: 80px;
        width: 100%;
    }
}


.logout-card {
    width: 260px;
    border-radius: 4px;
    background-color: white;
    position: fixed;
    bottom: 15px;
    left: 66px;
    border: solid 1px rgba(255, 255, 255, 0);
    box-shadow: 0 2px 4px -1px rgba(0, 56, 112, 0.3);
}

.logout-card__initial {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.9;
    // width: 38px;
    // height: 38px;
    text-align: center;
    border-radius: 50%;
    color: var(--N000);
    user-select: none;
    cursor: pointer;
    margin: auto;
    border: solid 1px transparent;
}

.logout-card__name {
    margin: 0px 0 0 0px;
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    width: 180px;
    letter-spacing: normal;
    color: var(--N900)
}

.logout-card__email {
    margin: 0px 0 0 0px;
    font-size: 12px;
    line-height: 1.5;
    width: 180px;
    letter-spacing: normal;
    color: var(--N700);
}

.logout-card__logout {
    padding: 14px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--N900);
    border-top: solid 1px var(--N100);
}

.logout-card__logout:hover {
    background-color: var(--N100);
}

.logout-card__initial--nav {
    border-color: var(--N000);
}