.modal__title__fs-16 { 
    font-size: 16px;
}

.wrapper-pointer-disabled{
    cursor: not-allowed;
}

.pointer-disabled{
    opacity: 0.5;
    pointer-events: none;
}

.ml-0{
    margin-left: 0 !important;
}