.test-details{
    width: 100%;
    &.app-details{
        overflow: visible;
    }
}

.test--list{
    border: 1px solid var(--N200);
    border-radius: 4px;
    background: white;
    cursor: pointer;
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-rows: 56px auto;
    grid-template-columns: 24px 24px 1fr auto;
    grid-column-gap: 8px;
    align-items: center;
    padding: 0 20px;
    &:last-child{
        margin-bottom: 20px;
    }

    &.not-collapsible{
        grid-template-columns: 24px 1fr auto;
    }

    &.testsuites{
        grid-template-rows: 72px auto;
    }

    &.testsuite{
        grid-template-rows: 56px auto;
    }

    &.testsuites{
        margin-left:0;
        margin-right: 0;
    }
}

@mixin testcase-status($border, $background){
    border: 1px solid $border;
    background: $background;
    color: $border;
}

.testcase-status{
    &.passed{ @include testcase-status(
        var(--G500),
        var(--G100)
    )}

    &.error, &.errors{ @include testcase-status(
        #ffcb5d,
        var(--Y100)
    )}
    &.failure, &.failed{ @include testcase-status(
        var(--R500),
        var(--R100)
    )}

    &.skipped{ @include testcase-status(
        var(--N500),
        var(--N100)
    )}

    &.unknown{ @include testcase-status(
        var(--N900),
        white
    );
    background-image: unset;

}
}

li.testcase{
    height: 56px;
    border-radius: 4px;
    padding: 0 16px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 24px 1fr auto;
    grid-column-gap: 8px;
    align-items: center;
    border: 1px solid var(--N200);
    background: white;

    &:not(:first-child){
        margin-top: 16px;
    }
}

.test--detail{
    width: calc( 100% + 40px );
    margin: 0 -20px;
    border-top: 1px solid var(--N200);
    grid-row: 2 / span 1;
    grid-column: 1 / span 4;

    & > li.testcase-status {
        color: unset;
    }

    svg.folder-icon{
        path{
            fill: #959ba1;
        }
    }
}

ul.test--detail{
    padding: 16px 20px;
    margin-block-start: unset;
    margin-block-end: unset;
}

.testcase--detail{
    overflow: auto;
    .testcase--title{
        display: grid;
        grid-template-columns: auto 1fr 24px;
        height: 68px;
        align-items: center;
        grid-column-gap: 16px;
        border-bottom: 1px solid var(--N200);
        padding: 0 20px;
        position: sticky;
        top: 0;
        background-color: white;
        h1{
            margin: unset;
            line-height: unset;
            font-weight: 600;
        }

        .status{
            height: 24px;
            padding: 2px 8px;
            border-radius: 2px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
        }
    }
    .testcase--body{
        padding: 20px;

        section{
            margin-bottom: 16px;
            width: 100%;
            overflow: auto;
            label{
                display: block;
                margin-bottom: unset;
                &.light{
                    font-size: 14px;
                    color: #404040;
                    font-weight: normal;
                }
            }
            b{
                display: block;
            }
            p{
                color: var(--N900);
                font-size: 14px;
            }

            samp{
                width: 100%;
                overflow: auto;
                white-space: pre-wrap;
            }
        }
    }
}

ul.test-stats{
    padding-inline-start: 0px;
    margin-bottom: 0px;
    margin-top: 4px;
    li.testcase-status{
        margin-right: 16px;
        border: unset;
        background: unset;
        font-size: 12px;
        line-height: 16px;
        span{
            margin-left: 2px;
        }
    }
}

table.properties-table{
    width: 100%;
    thead{
        box-shadow: inset 0 -1px 0 0 var(--N200);
    }
    tbody{
        tr{
            box-shadow: inset 0 -1px 0 0 var(--N100);
        }
    }
    th{
        height: 40px;
        position: sticky;
        top: 0;
        color: var(--N500);
        font-size: 12px;
        font-weight: 600px;
        background-color: white;
    }
    td{
        height: 48px;
        color: var(--N900);
        font-size: 14px;
    }
    th, td{
        padding-left: 20px;
    }
}

li.suite-meta{
    height: 56px;
    width: 100%;
    list-style: none;
    .suite-meta-container{
        display:grid;
        grid-auto-columns:1fr;
        grid-auto-flow:column;
        height: 100%;
        grid-column-gap: 12px;
    }

    .testsuite-meta{
        padding: 0 20px;
        border: 1px solid var(--N200);
        border-radius: 4px;
        svg{
            margin-right: 20px;
        }
    }
}

.testcase--detail.testsuite {
    .testsuite-detail--body{
        padding: 20px;

        samp{
            white-space: pre-wrap;
        }
    }
}

.trigger-table-container{
    border: 1px solid var(--N200);
    width:100%;
    background: var(--N000);
    border-radius: 8px;
}
.trigger-table{
    width: 100%;

    thead{
        border-bottom: 1px solid var(--N200);
    }

    th, td{
        &:first-child{
            padding-left: 20px;
        }
    }

    th{
        height: 40px;
        color: var(--N500);
        font-weight: 600;
    }

    td{
        height: 56px;
        vertical-align: center;
        color: var(--N900);
    }
    tbody{
        tr{
        &:hover{
            background: var(--window-bg);
        }
    }
    }
    

    .count{
        height: 24px;
        padding: 0 6px;
        min-width: 24px;
        margin-right: 8px;
        border-radius: 6px;
        color: white;

        &.failureCount{
            background-color: var(--R500);
        }
        &.skippedCount{
            background-color: #d8d8d8;
        }
        &.errorCount{
            background-color: var(--Y500);
        }
        &.unknownCount{
            background-color: #58508d;
        }

        &.disabledCount{
            background-color: var(--N500);
        }

        &.successCount{
            background-color: var(--G500);
        }
    }

    .hover-only{
        visibility: hidden;
    }

    .hover-trigger:hover{
        .hover-only{
            visibility: visible;
        }
    }

    svg path:nth-child(2){
        stroke: var(--N500);
    }
}