.code-editor__header {
    height: 40px;
    background: var(--N100);
    padding: 0 16px;
    border-bottom: 1px solid var(--N200);
    .radio-group {
        height: 24px;
        overflow: hidden;
    }
    .radio-group input[type=checkbox]:checked+.radio__item-label {
        background: var(--N700);
        border-radius: 0;
        color: var(--white);
    }
    .radio__item-label {
        // color: var(--N700);
        padding: 0 8px;
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 24px;
        cursor: pointer;
    }
    .radio-group {
        padding: 0;
    }
    .code-editor__split-pane {
        color: var(--N700);
        margin-left: auto;
        fill: var(--N700);
    }
    label.form__error {
        margin-left: 8px;
    }
    button.clipboard {
        margin-left: auto;
        height: 20px;
        width: 20px;
        padding: 0;
        background: transparent;
        border: unset;
        outline: unset;
        svg {
            height: 100%;
            width: 100%;
        }
        &:active svg {
            height: 90%;
            width: 90%;
            path {
                fill: green;
            }
        }
    }
}

.code-editor__header-error {
    padding: 8px 16px;
    font-size: 12px;
    border: solid 1px #d6dbdf;
    background-color: var(--R100);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #f32e2e;
}

.code-editor-container {
    width: 100%;
    border: 1px solid #d6dbdf;
    border-radius: 4px;
    overflow: hidden;
}

.react-monaco-editor-container {
    min-height: 300px;
}

.code-editor__warning {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: normal;
    color: var(--Y700);
    height: auto;
    padding: 8px 16px;
    border-bottom: 1px solid #d6dbdf;
    background-color: var(--Y100);
}

.code-editor__information {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: normal;
    color: var(--N900);
    height: auto;
    padding: 8px 16px;
    border-bottom: 1px solid #d6dbdf;
    background-color: var(--B100);
}

.code-editor__information-info-icon {
    width: 16px;
    height: 16px;
    margin: 0 8px 0 0;
    vertical-align: bottom;
}

.code-editor__toggle {
    .toggle__switch {
        width: 32px;
        margin: 0 12px;
    }
    color: var(--white);
}

.diff-icon {
    height: 20px;
    width: 20px;
    margin-right: 4px;
    background: url('../../assets/icons/ic-compare.svg');
}

.code-editor__error {
    background-color: #fde7e7;
    color: #862020;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    padding: 8px 16px;
    border-bottom: 1px solid #d6dbdf;
}
