.sso-login__wrapper {
    .code-editor__text {
        resize: none;
        line-height: 1.4;
        border: none;
        padding: 0 35px;
        overflow: hidden;
        color: #f32e2e;
        font-size: 14px;
        font-family: Consolas, "Courier New", monospace;
    }
}