#table-wrapper-table__generic-app-list {
    .generic-table__row {
        padding-block: 10px;
        padding-inline-end: 0px;
    }

    .generic-table__row--expanded-row {
        padding-block: 0px;
    }

    .generic-table__header {
        padding: 0 0 0 20px;
    }
}
