.deployment-config-diff {
    display: grid;
    grid-template-columns: 255px 1fr;
    height: 100%;

    &__accordion {
        scroll-margin-top: 12px;
    }

    &__main-top {
        &__header:first-child {
            flex: 1 0 calc(50% - 2px);
        }

        &__header:last-child {
            flex: 1 0 50%;
        }
    }

    &__main-content {
        height: calc(100vh - 122px);
        overflow: auto;

        &__heading {
            display: grid;
            // -15px to accommodate the right side bar of the code-editor
            grid-template-columns: calc(50% - 15px) calc(50% - 15px);
            grid-template-rows: auto;
        }

        &__comparison {
            margin: 16px 0 0;
        }
    }

    & .react-monaco-editor-container {
        min-height: 100px;
    }

    &__tab-list {
        label {
            flex-grow: 1
        }

        .radio__item-label {
            justify-content: center;
        }
    }
}
