.form-row__select-external-type {
    justify-content: flex-start;

    .edit {
        margin-left: auto;
    }

    .popup-button {
        width: 50%;
    }

    .select-button {
        height: 40px;
        padding-left: 10px;
    }
}

.deployment-diff__upper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.cm-secret-main-container {
    &.with-comment-drawer {
        display: grid;
        grid-template-columns: 1fr 0;
        position: absolute;
        left: 56px;
        width: calc(100% - 56px);
        height: calc(100% - 78px);
        animation: comments-view-opening;
        animation-duration: 200ms;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        .main-content {
            height: calc(100vh - 76px);
            overflow: scroll;
            padding: 20px;
            background-color: var(--window-bg);
        }
    }

    @keyframes comments-view-opening {
        0% {
            grid-template-columns: 1fr 0;
        }

        100% {
            grid-template-columns: 1fr 286px;
        }
    }

    .tippy-over {
        .tippy-box {
            top: 42px;
        }
    }
    .approval-config-disabled {
        opacity: 0.5;
        cursor: not-allowed;
        background: var(--B500);
        color: var(--white);
        border: 1px solid transparent;
    }
}
