.form-row__select-external-type {
    justify-content: flex-start;

    .edit {
        margin-left: auto;
    }

    .popup-button {
        width: 50%;
    }

    .select-button {
        height: 40px;
        padding-left: 10px;
    }
}

.deployment-diff__upper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.cm-secret-main-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    &.with-comment-drawer {
        display: grid;
        grid-template-columns: 70% 30%;
    }
    .draft-comments-container {
        position: fixed;
        height: 100%;
        width: 300px;
        right: 0;
        .no-comments-state,
        .draft-comment-list {
            height: calc(100% - 145px);
        }
    }
}
