.navigation {
    $navigation-expanded-width: 224px;

    &__default {
        grid-template-rows: 56px repeat(auto-fill, 52px);
        background-image: var(--devtron-bg);
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
        z-index: calc(#{var(--navigation-index)} + 1);

        &.is-expanded {
            background-image: linear-gradient(
                    90deg,
                    var(--sidenav-bg-section-expanded) 0%,
                    var(--sidenav-bg-section-expanded) 100%
                ),
                var(--devtron-bg);
        }
    }

    &__expanded {
        width: #{$navigation-expanded-width};
        background:
            linear-gradient(90deg, var(--sidenav-bg-subsection) 0%, var(--sidenav-bg-subsection) 100%),
            var(--devtron-bg) -56px / 100vw 100vh no-repeat;
        z-index: var(--navigation-index);

        &__backdrop {
            height: 100%;
            width: calc(100vw - 100% - #{$navigation-expanded-width});
            transform: translateX(calc(100vw - 100%));
            z-index: var(--modal-index);
        }
    }

    &__small-dt-logo {
        bottom: -10px;
    }

    .nav-group {
        &:focus {
            outline: none;
        }

        &:not([aria-disabled='true']) {
            &:focus .nav-group__icon-container,
            &:hover .nav-group__icon-container {
                background-color: var(--sidenav-bg-section-collapsed-hover);
            }

            &.is-selected .nav-group__icon-container {
                background-color: var(--sidenav-bg-section-collapsed-selected);
            }

            &.is-expanded {
                &:focus .nav-group__icon-container,
                &:hover .nav-group__icon-container {
                    background-color: var(--sidenav-bg-section-expanded-hover);
                }

                &.is-selected .nav-group__icon-container {
                    background-color: var(--sidenav-bg-section-expanded-selected);
                }
            }
        }

        &:last-child {
            .nav-group__divider-container {
                display: none;
            }
        }
    }

    .nav-item:not([aria-disabled='true']) {
        &:hover {
            background-color: var(--sidenav-subsection-item-hover);
        }

        &.is-selected {
            background-color: var(--sidenav-subsection-item-selected);
        }
    }
}

// This is outside .navigation class, since tooltip is rendered outside body
.nav-group__tooltip.tippy-box {
    background-color: var(--bg-tooltip-black);
    border: 1px solid var(--white-20);
    padding: 5px 9px;
    transform: translateX(-14px);

    .tippy-content {
        line-height: 20px;
    }
}
