.info-bar-container {
    .info_text .success {
        background-color: var(--G100);
    }
    .warn {
        background: var(--Y100);
        border: solid var(--Y200);

        .warning-icon path:nth-child(2) {
            fill: var(--Y700);
        }
    }

    .info_bar {
        background-color: var(--B100);
        border: 1px solid var(--B200);
    }

    .error_bar {
        background-color: var(--R100);
        border: 1px solid var(--R200);
    }

    .question-bar {
        background-color: var(--V100);
        border: 1px solid var(--V200);
    }

    .announcement-bar {
        background-color: var(--Y500);
        border: 1px solid var(--Y700);
        border-top: none;
        padding: 8px 12px !important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
