.white-card__docker-config {
    padding: 20px 24px 12px 24px;
    .form-row {
        margin-bottom: 24px;
    }
    .form-row__key-value {
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-column-gap: 16px;
    }
    .form-row__add-parameters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .add-parameter {
            .fa.fa-plus {
                margin-right: 4px;
            }
            color: var(--B500);
            text-align: right;
        }
    }
    .form-row__docker {
        display: grid;
        grid-template-columns: 240px 1fr;
        grid-column-gap: 16px;
        .popup-button {
            height: 40px;
        }
        .select-popup {
            width: 240px;
        }
        .form__field {
            margin-bottom: 16px;
            .registry-icon,
            .repository-icon {
                width: 24px;
                height: 24px;
                &.docker-hub {
                    background: url('../../assets/icons/git/docker.svg')
                }
                &.acr {
                    background: url('../../assets/icons/ic-azure.svg');
                }
                &.quay {
                    background: url('../../assets/icons/ic-quay.svg');
                }
                &.ecr {
                    background: url('../../assets/icons/ic-ecr.svg');
                }
                &.artifact-registry {
                    background: url('../../assets/icons/ic-google-artifact-registry.svg');
                }
                &.gcr {
                    background: url('../../assets/icons/ic-google-container-registry.svg');
                }
                &.other {
                    background: url('../../assets/icons/container.svg');
                }
            }
            .docker-flie-container {
                display: flex;
                .checkout-path-container {
                    padding: 10px;
                    background: #d0d4d9;
                    border-radius: 4px 0 0 4px;
                }
                .file-name {
                    border-radius: 0 4px 4px 0;
                }
            }
        }
        .form__error {
            position: unset;
            display: flex;
            align-items: center;
            margin-top: 4px;
            &.form__error--info {
                color: #6b778c;
                &:before {
                    content: '';
                    background: url('../../assets/icons/ic-info-warn.svg');
                    height: 14px;
                    width: 14px;
                    display: inline-block;
                    background-size: contain;
                    margin-right: 4px;
                }
            }
        }
    }
    .popup-button {
        .select-button {
            height: 40px;
            padding-left: 10px;
        }
    }
}
.docker__dropdown {
    margin: auto;
    margin-right: 0;
    margin-top: 0;
}
