.about-devtron__view-container {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;

    .about-devtron__view-image {
        max-width: 960px;
        width: 100%;
        max-height: 200px;
    }

    .about-devtron__view-heading {
        margin: 24px 0 20px;
        line-height: 36px;
    }

    .about-devtron__details-wrapper {
        display: grid;
        grid-template-columns: minmax(310px, 640px) 260px;
        column-gap: 60px;

        .about-devtron__view-tabs {
            .tab-list__tab-link {
                color: var(--C900);

                &.active {
                    color: var(--B500);
                    font-weight: 600;
                    border-bottom: none;
                    border-radius: 2px 2px 0px 0px;
                }
            }
        
            .about-devtron__active-tab {
                height: 2px;
                background-color: var(--B500);
                border-radius: 2px 2px 0px 0px;
                margin-top: -1px;
            }
        }

        .about-devtron__view-releases {
            .about-devtron__release-notes-wrapper {
                h2 {
                    line-height: 20px;
                }

                a {
                    color: var(--B500);
                }

                .about-devtron__release-notes {
                    padding: 0;

                    ul {
                        list-style: none;
                        padding: 16px 0 32px;

                        li {
                            line-height: 24px;
                        }

                        b,
                        strong {
                            font-weight: 400;
                        }
                    }
                }

                ul,
                h2,
                li {
                    margin: 0;
                }
            }
        }
    }
}
