.main {
    display: flex;
    flex-direction: column;
}

.resource-tree-wrapper {
    box-shadow: inset 0 -1px 0 0 var(--N200);
}

.resource-tree-tab {
    border-top: 1px solid var(--N200);
    border-bottom: 1px solid #fff;
    border-left: 1px solid var(--N200);
    border-right: 1px solid var(--N200);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.resource-tree-tab__border {
    width: 1px;
    height: 16px;
    background-color: var(--N200);
}

.resource-tab__close-wrapper {
    width: 16px;
    height: 16px;
}

.resource-tab__close-wrapper:hover {
    background-color: var(--N500);

    svg use {
        fill: var(--white);
    }
}

.app-detail__default-tab {
    max-width: 173px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resource-tab__node {
    margin-right: 0px !important;
}

.resource-tree__tab-hover:hover {
    color: #0066cc !important;
}

.resource-tree__tab-hover:hover div:not(.cn-9) .resource-tree__tab-hover svg path {
    fill: #0066cc;
}

.tab-list__deleted {
    text-decoration: line-through;
}

/* Start: Container height fixes */
.resource-node-wrapper .no-pod.no-pod--container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/* End: Container height fixes */
