.tab-list__tab {
    font-size: 13px;
}

.tab-list__tab-link {
    &.active {
        .tab-list__icon {
            path {
                fill: var(--B500);
            }
        }
    }
}

.app-details-page {
    .tab-list__tab-link {
        padding: 0 0 8px 0;
    }
}