.Select-menu-outer {
    z-index: 999 !important;
}

.Select__menu-list {
    min-height: 200px !important;
}

.auth-page__header {
    background: white;
    padding: 16px 24px 0;
    border-bottom: 1px solid var(--N200);
}

.auth-search {
    height: 40px;
    width: 250px;
    border: 1px solid var(--N200);
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 0 8px;
}

.auth-page__body {
    width: 100%;
    padding: 16px;
    min-height: 600px;
    height: 100%;
}

.auth-page__body-users__list-container {
    max-width: 1012px;
    min-width: 800px;
    margin: 0 auto;
}
.user-list {
    background: white;
    border-radius: 8px;

    border: solid 1px var(--N200);
    margin-bottom: 16px;
    .user-list__form {
        flex-basis: auto;
        overflow: hidden;
        transition: flex-basis 0.3s;
        padding: 20px 24px;
        border-top: 1px solid var(--N100);
    }
    &.user-list--collapsed {
        .user-list__form {
            flex-basis: 0;
            padding: 0;
            border-top: unset;
        }
    }

    &.user-list--add.user-list--collapsed {
        border: 1px dashed var(--N300);
    }

    &.user-list--add {
        .user-list__header {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    .user-list__header {
        display: grid;
        grid-template-columns: 40px 1fr 24px;
        align-items: center;
        grid-column-gap: 16px;
        height: 64px;
        padding: 12px 24px;
    }

    .user-list__alphabet {
        text-transform: uppercase;
        height: 40px;
        width: 40px;
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        color: white;
    }

    .arrow-svg {
        path:nth-child(2) {
            fill: #999;
        }
    }

    .add-svg {
        path {
            fill: #06c;
        }
    }

    .user-list__title {
        font-size: 14px;
        color: var(--N900);
    }

    .user-list__subtitle {
        font-size: 12px;
        color: var(--N600);
    }
}

.user-form {
    fieldset {
        margin-top: 24px;
    }
    legend {
        border-bottom: unset;
        border-top: 1px solid var(--N100);
        font-size: 14px;
        color: var(--N900);
        font-weight: 600;
        padding-top: 20px;
        margin-bottom: 16px;
    }

    input[type='checkbox'] {
        height: 16px;
        width: 16px;
    }
}

.light-color {
    color: #596168;
}

.unassigned-project-border {
    height: 3px;
    width: 100%;
    margin-left: -40px;
    position: absolute;
    top: 52px;
    border-bottom: 1px solid #d0d4d9;
}

.option-label-padding {
    padding: 8px 12px 0px 9px !important;
}

.select__group {
    border-bottom: 1px solid #d0d4d9;
    .select__group-heading {
        font-size: 12px;
        font-weight: 600;
        color: #596168;
        text-transform: initial;
    }
}

.select__option {
    mark {
        padding: 0;
        background-color: #ffd597;
        font-weight: 600;
    }
}

.select--is-disabled {
    pointer-events: auto !important;
}

.cluster-label-all {
    font-size: 13px;
    font-weight: 600;
    color: var(--n-900);
}

.margin-top-6px {
    margin-top: 6px;
}
