.ci-details__history.deployment-cards {
    grid-template-rows: 30px 1fr;
    flex-basis: 305px;
}

.ci-details__build-card {
    cursor: pointer;
}

.border-btm {
    border-bottom: 1px solid var(--N100);
}

.trigger-outputs-container .source-detail {
    display: grid;
    grid-template-columns: 30% 70%;
}

.deployment-tab-list {
    padding-left: 20px !important;
}

.error-exclamation-icon path {
    fill: #767d84;
}

.ci-details {
    .deploy-button {
        width: 85px;
        height: 32px;
        border-radius: 4px;
        padding: 0;

        .deploy-button-icon {
            width: 16px;
            height: 16px;
        }
    }
}

.confirmation-dialog__body.rollback-confirmation-dialog {
    width: 360px;
    height: 210px;

    .confirmation-dialog__title {
        color: var(--N900);
    }

    .confirmation-dialog__title + p {
        font-size: 14px;
        line-height: 1.5;
    }

    .cta.cancel {
        height: 36px;
    }

    .cta.deploy-button {
        width: 96px;
        height: 36px;
        border-radius: 4px;
        padding: 0;

        .deploy-button-icon {
            width: 20px;
            height: 20px;
        }
    }
}
