.cluster-list {
    &.no-result-container {
        height: calc(100vh - 48px);
        overflow: hidden;
    }
    .cluster-list-row {
        display: grid;
        grid-template-columns: auto 150px 50px 90px 100px 100px 120px;
        column-gap: 16px;
        .cluster-status {
            height: 12px;
            width: 12px;
        }
    }
}

.cluster-about-page
{
    display: grid;
    grid-template-rows: 77px 1fr;
    overflow: hidden;
    height: 100%;

    .cluster-about__body
    {
        height: 100%;
        overflow: hidden;
        display: flex;


        .cluster__body-details {
            height: 100%;
            overflow: auto;
            flex-basis: 100%;

            .cluster-note__card{
                border-radius: 4px;
                border: solid 1px var(--N200);
                background-color: var(--white);
                width: 100%;
            }
            .cluster-note__card-header{
                padding: 8px 16px;
                border-radius: 4px 4px 0 0;
                background-color: var(--N50);
                border-bottom: 1px solid var(--N200);
                display: flex;
                align-items: center;
                .pencil-icon:hover{
                    color: var(--B500);
                    text-decoration: none;
                    svg path {
                        stroke: var(--B500);
                    }
                }
            }
        }
    }
}
.cluster-column-container {
    max-height: 100%;
    background: white;
    flex-shrink: 0;
    flex-basis: 240px;
    border-right: 1px solid var(--N200);
    .cluster-icon-container {
        width: 48px;
        height: 48px;
    }
}

.node-list {
    height: calc(100vh - 77px);

    .list-min-height {
        min-height: calc(100vh - 250px);
        &.no-result-container {
            overflow: hidden;
            display: grid;
            grid-template-rows: 32px;
        }
        &.with-error-bar {
            min-height: calc(100vh - 270px);
        }
    }
    .search-wrapper {
        display: grid;
        grid-template-columns: auto 160px 1px 180px;
        column-gap: 8px;

        .outline-none {
            outline: none !important;
        }
        .bottom-2px {
            bottom: 2px;
        }
        .search-popup {
            z-index: 6;
            .search-title {
                background: var(--window-bg);
            }
        }
    }

    .setting-icon path {
        stroke: var(--N600);
    }
    .node-list-row {
        display: grid;
        grid-template-columns: auto 100px 60px 50px 100px 50px 60px 100px 100px 60px;
        column-gap: 16px;
    }

    .sticky-column {
        left: 0;
        z-index: 1;
        background-color: var(--N0);
    }

    .node-actions-menu-icon {
        path:nth-child(2) {
            fill: var(--N600);
        }
    }

    &.show-terminal {
        height: calc(50vh - 61px) !important;
    }
}

.node-details-container {
    .w-49 {
        width: 49%;
    }
    .w-51 {
        width: 51%;
    }
    .code-editor__header {
        height: 32px;
    }
    .code-editor__warning {
        color: var(--N900);
        background-color: var(--Y100);

        .code-editor__information-info-icon path:nth-child(2) {
            fill: var(--Y700);
        }
    }
    .error-icon-white {
        path[fill='#F33E3E'] {
            fill: var(--N0);
        }
        path[fill='#FFF'] {
            fill: var(--R500);
        }
    }
    .alert-icon-white {
        use {
            fill: var(--N0);
        }
        path {
            fill: var(--y500);
        }
    }
    .no-data-icon {
        path[fill='#06C'] {
            fill: var(--N600);
        }
    }
    .no-data-tab {
        padding-top: 105px;
        padding-bottom: 105px;
    }

    .hover-only {
        display: none;
    }

    .hover-trigger {
        .tippy-box.default-tt {
            display: none !important;
        }
        &:hover {
            .tippy-box.default-tt {
                display: block !important;
            }
            .hover-only {
                display: inline-block;
            }
        }
    }
    .subtab-grid {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .node-details-grid {
        display: grid;
        grid-template-columns: 300px calc(100vw - 415px);
        column-gap: 12px;
        .resource-row {
            display: grid;
            grid-template-columns: 20px minmax(auto, 200px) repeat(5, 100px);
            column-gap: 12px;
            &:hover:not(:first-of-type) {
                background-color: var(--N50);
            }
        }
        .pod-container {
            .pod-container-header {
                top: 76px;
                z-index: 1;
                padding-top: 12px;
                background: var(--window-bg);
            }
            .pods-grid {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr;
                grid-template-areas:
                    'header'
                    'main';
                header {
                    grid-area: header;
                    display: grid;
                    grid-template-columns: minmax(150px, 300px) minmax(100px, auto) repeat(4, 100px) 75px;
                    position: sticky;
                    top: 124px;
                    z-index: 1;
                }
                main {
                    grid-area: main;
                    display: grid;
                    grid-template-columns: minmax(150px, 300px) minmax(100px, auto) repeat(4, 100px) 75px;
                }
                .row-wrapper {
                    display: contents;
                }
                .row-wrapper:hover > div {
                    background-color: var(--N50);
                }
            }
            .scrollable-pod-list {
                max-height: 700px;
                overflow: scroll;
            }
        }
    }
    .condition-grid {
        display: grid;
        grid-template-columns: 200px 280px auto;
        column-gap: 16px;
    }
}
.cluster-list,
.node-list,
.node-details-container {
    .top-3 {
        top: 3px;
    }
    .top-88 {
        top: 88px;
    }

    .hover-class {
        &:hover {
            background-color: var(--N50);
            .sticky-column {
                background-color: var(--N50);
            }
        }
    }

    .list-title {
        .mw-85px {
            max-width: 85px;
        }
        .sort-icon {
            display: none;
            transform: rotate(0);
            top: -2px;
        }
        &.sort-by {
            .sort-icon {
                display: inline;
                path {
                    fill: var(--N700) !important;
                }
            }
            &.desc {
                .sort-icon {
                    transform: rotate(180deg);
                }
            }
        }
        &:hover {
            .sort-icon {
                display: inline;
                path {
                    fill: var(--N400);
                }
            }
        }
    }
}

.tab-list {
    .tab-list__tab {
        .tab-hover {
            &:hover,
            &.active {
                color: var(--B500);
                .edit-yaml-icon {
                    path {
                        stroke: var(--B500);
                    }
                }
                .terminal-icon {
                    path {
                        fill: var(--B500)
                    }
                }
            }
        }
        .node-details__active-tab {
            height: 2px;
            background-color: var(--B500);
            border-radius: 2px 2px 0px 0px;
            margin-top: -1px;
        }
    }
}

.cluster-terminal-view-container {
    height: calc(50vh + 13px);
}

.cluster-terminal__wrapper {
    position: relative;
    background: var(--terminal-bg);
    flex: 1 1;
    height: calc(100% - 60px);
    
    &.full-screen-terminal {
        height: calc(100vh - 108px);
    }

    &.node-details-full-screen {
        height: calc(100vh - 137px);
    }
}

.cluster-full_screen {
    position: absolute;
    width: calc(100vw - 56px);
    height: 0;
    z-index: 1;

    &.node-terminal {
       top: 48px;
       height: calc(100vh - 48px);
    }
}

.drain-node-options-container {
    .grace-period-timer-icon {
        margin-left: -3px;
    }

    .grace-period-input-wrapper {

        .grace-period-input,
        .grace-period-input-unit {
            padding: 6px 10px;
        }

        .grace-period-input {
            width: 98px;
            background-color: var(--N50);
            outline: none;
        }

        .grace-period-input-unit {
            background-color: white;
            border-left: none;
        }
    }

    .drain-option-help-icon {
        margin-top: -3px;
    }

    .form__checkbox-container {
        margin-left: -5px;
    }

    .form__checkbox-label {
        display: flex;
        margin-left: 8px;
    }
}
.mark-down-editor-preview{
    background-color: white !important;
}
    
.mark-down-editor-textarea-wrapper{
    border-radius: 3px !important;
    border: 1px solid var(--N200) !important;
    background-color: var(--N50) !important;
}

.mark-down-editor-container {
    border-bottom: none !important;
    border-radius: 3px 3px 0 0 !important;
    font-family: "Open Sans", Arial, sans-serif !important;
    font-size: 13px !important;
    line-height: 1.67;

    .mde-textarea-wrapper {
        background-color: white !important;
        padding: 10px !important;
    }

    .mark-down-editor-toolbar {
        justify-content: space-between !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
        background-color: white !important;
    }
}

.mde-header {
    height: 36px !important;
    .mde-tabs {
        height: inherit !important;
        button {
            margin: 0px 8px !important;
            margin-bottom: 1px !important;
        }
    }
    ul.mde-header-group {
        height: inherit !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        .mde-header-item button {
            padding: 10px 4px !important;
            height: inherit !important;
        }
    }
}
.mde-preview {
    .mde-preview-content {
        padding: 0px !important;
    }
}

.cluster__description-footer {
    border-radius: 0 0 3px 3px;
    border: 1px solid var(--N200);
}

.active-tab {
    border-bottom: 2px solid var(--B500) !important;
    border-radius: 0px !important;
}

.mark-down-editor__hidden {
    display: none !important;
}

.mark-down-editor__no-border {
    border: 0px !important;
}