.cluster-list {
    .cluster-list-row {
        display: grid;
        grid-template-columns: auto 60px 50px 50px 100px 100px 120px;
        column-gap: 16px;
    }
}
.node-list {
    .width-50 {
        width: 50%;
    }
    .width-25 {
        width: 25%;
    }

    .error-icon path[fill='#06C'] {
        fill: var(--R500);
    }
    .node-list-row {
        display: grid;
        grid-template-columns: auto 100px 60px 50px 100px 50px 60px 100px 100px 60px;
        column-gap: 16px;
    }
}

.node-details-container {
    .error-icon-white {
        path[fill='#06C'] {
            fill: var(--N0);
        }
        path[fill='#FFF'] {
            fill: var(--R500);
        }
    }
    .alert-icon-white {
        use {
            fill: var(--N0);
        }
        path {
            fill: var(--y500);
        }
    }
    .node-details-grid {
        display: grid;
        grid-template-columns: 300px auto;
        column-gap: 12px;
        .resource-row {
            display: grid;
            grid-template-columns: 20px minmax(auto, 200px) 100px 100px 100px 100px;
            column-gap: 12px;
        }
        .pods-row {
            display: grid;
            grid-template-columns: minmax(100px, 200px) auto 100px 100px 100px 100px 50px;
            column-gap: 12px;
        }
    }
}
.node-details__active-tab {
    height: 2px;
    background-color: var(--B500);
    border-radius: 2px 2px 0px 0px;
    margin-top: -1px;
}

.edit-yaml-icon {
    path {
        stroke: var(--B500);
    }
}
