.drawer{
    position: absolute;
    overflow: hidden;
    &.left, &.right{
        top: 0;
        bottom: 0;
        width: 0;
        transition: width 200ms;
        &.show{
            min-width: var(--minWidth);
            width: var(--width);
            max-width: var(--maxWidth);
        }
    }

    &.top, &.bottom{
        left: 0;
        right: 0;
        height: 0;
        transition: height 200ms;
        &.show{
            height: var(--height);
        }
    }
    &.right{
        right: 0;
    }
    &.left{
        left: 0;

    }
    &.top{
        top: 0;
    }

    &.bottom{
        bottom: 0;
    }
}