.add-notification__title {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--N900);
}

.pipeline-list__row {
    vertical-align: top;
    box-shadow: inset 0 -1px 0 0 var(--N100);
}

.pipeline-list__row:hover {
    background-color: #edf1f5;
}

.pipeline-list__row:hover .pipeline-list__hover {
    visibility: visible;
}

.pipeline-list__row--selected {
    background-color: var(--B100);
}

.pipeline-list__empty-state {
    margin: 90px auto;
}

.pipeline-list__table {
    width: 100%;
}

.pipeline-list__header {
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.67;
    letter-spacing: normal;
    color: var(--N500);
    text-transform: capitalize;
    display: table-row;
    box-shadow: inset 0 -1px 0 0 var(--N200);
    padding: 10px 0 16px 0;
}

.pipeline-list__checkbox {
    width: 24px;
    padding: 10px;
    padding-top: 15px;
}

.pipeline-list__pipeline-name {
    width: 25%;
    padding: 10px;
}

.pipeline-list__type {
    width: 13%;
    padding: 10px;
}

.pipeline-list__environment {
    width: 15%;
    padding: 10px;
}

.pipeline-list__stages {
    padding: 10px;
    width: 120px;
}

.pipeline-list__recipients {
    width: 30%;
    padding: 10px;
}

.pipeline-list__hover {
    width: 10%;
    visibility: hidden;
}

.notification-page__header {
    background: white;
    padding: 16px 24px 0;
    border-bottom: 1px solid var(--N200);
}

.notification-tab {
    padding: 0px 20px 16px 20px;
    background-color: var(--N000);
    height: 100%;
    width: 100%;
}

.kebab-menu__sticky-bottom {
    padding: 16px 20px;
    background-color: var(--N000);
    height: 100%;
    box-shadow: 0 -1px 0 0 var(--N200);
}

.configuration-tab__header {
    display: flex;
    justify-content: space-between;
    padding: 18px 24px;
}

.configuration-tab__title {
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
}

.white-card--configuration-tab {
    overflow-y: auto;
    padding: 0px;
    min-height: 300px;
    height: 100%;
}

.configuration-tab {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 16px 24px;
    grid-gap: 16px;
    height: calc(100vh - 220px);
}

.configuration-tab__table-row {
    display: flex;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--N600);
    align-items: center;
    padding: 10px 24px;
    height: 48px;
    cursor: default;
    box-shadow: inset 0 -1px 0 0 var(--N100);
}

.configuration-tab__table-header {
    display: flex;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--N500);
    text-transform: uppercase;
    align-items: center;
    padding: 9px 24px;
    cursor: default;
    box-shadow: 0 1px 0 0 var(--N200);
}

.ses-config-table__name {
    flex-basis: 25%;
    color: var(--N900);
    font-weight: inherit;
}

.ses-config-table__access-key {
    flex-basis: 20%;
    font-weight: inherit;
}

.ses-config-table__email {
    flex-basis: 40%;
    font-weight: inherit;
}

.slack-config-table__name {
    flex-basis: 25%;
    color: var(--N900);
    font-weight: inherit;
}

.slack-config-table__webhook {
    flex-basis: 60%;
}

.slack-config-table__action,
.ses-config-table__action {
    display: none;
    margin: auto;
    margin-right: 0;
}

.configuration-tab__table-row:hover {
    background-color: var(--window-bg);
}

.form__row--ses-account {
    width: 45%;
    min-width: 300px;
}

.configuration-tab__table-row:hover .slack-config-table__action,
.configuration-tab__table-row:hover .ses-config-table__action {
    display: flex;
    background-color: var(--window-bg);
}

.kebab-menu__list--notification-tab {
    width: 216px;
}

.pipeline-filter__menu {
    position: absolute;
    width: 100%;
    z-index: 6;
    background-color: white;
    top: 44px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(21, 21, 21, 0.3);
    max-height: 300px;
    overflow-y: auto;
}

.pipeline-filter__sticky-bottom {
    height: 56px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    background-color: var(--N000);
    position: sticky;
    bottom: 0px;
    box-shadow: 0 -1px 0 0 var(--N200);
}

.pipeline-filter__select-pipeline {
    position: relative;
    width: 100%;
    /* z-index: 4; */
    background-color: white;
    min-height: 44px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-wrap: wrap;
}
.react-select--height-44 {
    min-height: 44px;
}
.select-button--pipeline-filter {
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--N400);
    padding: 14px;
    padding-bottom: 4px;
}

.pipeline-filter__search {
    width: 310px;
}

.pipeline-filter__option {
    padding: 6px 24px;
    font-size: 14px;
    cursor: pointer;
}

.form__row {
    padding: 1px;
}

.pipeline-list__recipients .devtron-tag {
    margin: 2px;
}

.popup-button--notification-tab {
    width: unset;
    border: unset;
}

.popup-button--notification-tab:hover {
    border: unset;
}

.notification-tab__option {
    cursor: pointer;
}

.pipeline-filter__search:focus {
    outline: none;
}

.notification-tab__option:hover .fill-color {
    fill: var(--N800);
}

.notification-tab__option:hover .stroke-color {
    stroke: var(--N800);
}

.notification-tab__option .fill-color {
    fill: var(--N400);
}

.notification-tab__option .stroke-color {
    stroke: var(--N400);
}

.select-button--pipeline-filter.loading-applist {
    text-align: center;
    padding: 12px;
    font-size: 13px;
}

.no-border {
    border: none;
    display: inline-block;
}

.no-border .form__radio-item {
    border: none;
    margin: 10px 20px 0 0;
}

.no-border .form__radio-item .form__radio-item-content {
    padding: 0;
}

.no-border .form__radio-item .form__radio-item-content .radio__title {
    text-transform: none;
}
