.api-token-container {
    width: 922px;
    margin: 0 auto;

    .api-list-row {
        display: grid;
        grid-template-columns: 30px 30% 15% auto 25% 24px 24px;
        grid-column-gap: 16px;

        .api-key-expired-icon {
            path:first-of-type {
                stroke: var(--R500);
            }

            path:last-of-type {
                fill: var(--R500);
            }
        }
    }

    .api__row-actions {
        display: none;
    }

    .api-list-row {
        &:hover {
            background-color: var(--N50);

            .api__row-actions {
                display: flex;

                button {
                    height: 24px;
                }
            }
        }
    }

    .form__row {
        margin-bottom: 16px;

        .form__label {
            margin-bottom: 6px;
        }

        .form__input {
            height: 36px;
        }
    }

    .form__permission {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
