.api-token-container {
    max-width: 1024px;
    min-width: 960px;
    margin: 0 auto;

    .api-token__list {
        height: calc(100vh - 194px);
        overflow: hidden;
        min-height: 500px;
    }

    .api-list-row {
        display: grid;
        grid-template-columns: 24px minmax(278px, 346px) 120px 120px 190px minmax(80px, 90px);
        grid-column-gap: 16px;

        .api-key-expired-icon {
            path:first-of-type {
                stroke: var(--R500);
            }

            path:last-of-type {
                fill: var(--R500);
            }
        }
    }

    .api__row-actions {
        display: none;
    }

    .api-list-row {
        &:hover:not(:first-of-type) {
            background-color: var(--N50);

            .api__row-actions {
                display: flex;

                button {
                    height: 24px;
                }
            }
        }
    }

    .form__row {
        margin-bottom: 16px;

        .form__label {
            margin-bottom: 6px;
        }

        .form__input {
            height: 36px;
        }

        .form__error {
            display: flex !important;
            align-items: center;
            margin-top: 6px;

            .form__icon.form__icon--error {
                width: 16px;
                height: 16px;
            }
        }
    }

    .form__permission {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .search {
        margin-right: 0;
        margin-bottom: 0 !important;
        background-color: white;

        .search__input {
            &.search-applied {
                width: 90%;
            }

            &:focus {
                border: none;
            }
        }
    }

    .anchor {
        font-weight: 600;

        .add-svg path {
            fill: var(--B500);
        }
    }
}

.generate-token-modal,
.regenerate-token-modal {
    top: -84px;

    .modal__body {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: none;
    }
}

.generate-token-modal {
    .api-token-icon {
        path:first-of-type {
            stroke: var(--G500);
        }

        path:last-of-type {
            fill: var(--G500);
        }
    }

    .api-token-text {
        width: 94%;
    }
}
