.api-token__container {
    margin: 20px 95px;

    .api-list-row {
        display: grid;
        grid-template-columns: 30px 30% 15% auto 25% 24px 24px;
        grid-column-gap: 16px;
    }

    .api__row-actions {
        display: none;
    }

    .api-list-row {
        &:hover {
            background-color: var(--N50);

            .api__row-actions {
                display: flex;
            }
        }
    }

    .form__label {
        margin-bottom: 6px;
    }

    .form__row {
        margin-bottom: 16px;
    }
}
