.deployment-strategy {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: var(--N700);
    margin-bottom: 12px;
}

.deployment-strategy__info {
    border-radius: 4px;
    border: solid 1px var(--N200);
    background-color: var(--white);
    margin-bottom: 16px;
}

.set-as-default {
    border-radius: 2px;
    font-weight: 600;
    font-size: 11px;
    padding: 2px 8px;
    text-transform: uppercase;
    border: solid 1px var(--N900);
    color: var(--N900);
    background-color: var(--white);
    margin-left: 8px;
    cursor: pointer;
}

.default-strategy {
    border-radius: 2px;
    font-weight: 600;
    font-size: 11px;
    padding: 2px 8px;
    text-transform: uppercase;
    margin-left: 8px;
    background-color: var(--N900);
    color: var(--white);
}

.deployment-strategy__info-header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deployment-strategy__info-body {
    border-top: solid 1px var(--N200);
}

.cd-stage {
    border-radius: 8px;
    border: solid 1px var(--N200);
    padding: 20px;
}

.flex-basis-50 {
    flex-basis: 50%;
}

.info__container--cd-pipeline {
    margin-bottom: 24px;
}

.select-button--deployment-strategy {
    padding: 16px;
    color: var(--B500);
    font-weight: 600;
}


/* .delete-pipeline {
    width: 120px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--white);
    border: solid 1px var(--R500);
    margin-right: 16px;
    color: var(--R500);
} */

.code-textarea--cd-pipeline {
    height: 300px;
    display: block;
}

.cd-checkbox {
    margin: 26px 0 6px 0;
}

.checkbox-tooltip-body {
    display: none;
    opacity: 0.95;
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.4);
    background-color: var(--N900);
    color: var(--N000);
    font-size: 12px;
    font-weight: normal;
    line-height: 1.33;
    padding: 6px 8px;
    position: absolute;
    top: 28px;
}

.cd-checkbox-tooltip:hover .checkbox-tooltip-body {
    display: inline-block;
}

.deployment-strategy__controls {
    width: 78px;
    display: flex;
    justify-content: space-between;
}

.select-option--deployment-strategy img {
    visibility: hidden;
}

.delete-stage-icon {
    margin-left: auto;
    display: block;
    width: 22px;
    height: 22px;
}

.form__label--caps {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--N900);
}

.cd-stage .code-editor {
    border: 1px solid #d6dbdf;
    border-radius: 4px;
    overflow: hidden;
}

.success-header-container{
  display: flex;
  margin-bottom: 20px;
}

.success-icon{
  width: 50px;
  text-align: center;
  padding: 10px;
}

.success-title{
  font-weight: 600;
  font-size: 16px;
}

.action-card{
  border: 1px solid #D0D4D9;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
}

.action-title{
  font-size: 13px;
  font-weight: 600;
}

.action-link{
  color: #0066CC;
  font-size: 13px;
}

.close-button-container{
  text-align: right;
}

.close-button{
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  min-width: auto;
}