@import url('./modal.css');
@import url('./whiteCard.css');
@import url('./workflow.css');
@import url('./workflow.css');
@import url('./icons.css');
@import url('./colorPalette.css');
@import url('./triggerView.css');

:root {
    --modal-index: 20;
    --full-screen-modal-index: 10;
    --page-header-index: 4;
    --filter-menu-index: 7;
    --transparent-div-index: 6;
    --app-list-header-index: 3;
    --navigation-index: 5;
    --tooltip-index: 7;
    --events-logs: 4;
    --index-next-section: 3;
}

body {
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
        'Helvetica Neue', sans-serif;
    background: var(--window-bg);

    a {
        color: var(--B500);
    }
}

html {
    width: 100vw;
    overflow-x: hidden;
    max-width: 100%;
}

// Info bar
.dc__info-container {
    display: grid;
    grid-template-columns: 20px 1fr auto;
    padding: 10px 16px;
    grid-column-gap: 16px;
    align-items: center;
    background: var(--B100);
    border: solid 1px var(--B200);
    border-radius: 4px;
}

.dc__info-container.dc__info-container--documentation-link {
    padding: 9px 16px;
    margin-bottom: 16px;
    grid-template-columns: 20px 1fr auto;
    grid-column-gap: 8px;
}

.dc__info-title {
    font-size: 13px;
    color: var(--N900);
    font-weight: 600;
}

.dc__info-subtitle {
    color: var(--N900);
    font-size: 13px;
}

.dc__chart-grid-item__icon-wrapper {
    height: 64px;
    width: 120px;
    margin-bottom: 12px;
}

.dc__chart-list-item__icon-wrapper {
    height: 48px;
    width: 48px;
}

.dc__chart-grid-item__icon {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.dc__chart-grid-item__icon.dc__list-icon {
    max-height: none;
}

a:hover {
    outline: none;
}

a:focus {
    text-decoration: none;
}

#hubspot-messages-iframe-container iframe {
    right: unset !important;
    left: -10px !important;
    bottom: -10px !important;
}

.dc__page-header {
    all: unset;
    margin: unset;
    border-bottom: unset;
    height: 100%;
    padding: 0 24px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    background-color: var(--N000);
    color: var(--N900);
    z-index: var(--page-header-index);
    border-bottom: 1px solid var(--N200);
    position: sticky;
    top: 0px;
    overflow: visible;
}

.dc__page-header__height {
    height: 47px;
}

.dc__page-header__tabs {
    grid-template-rows: 1.5fr 0.9fr;
}

.dc__page-header__title {
    margin: 0px;
    font-size: 20px;
    color: var(--N900);
    font-weight: 600;

    .dc__page-header__close-icon use {
        fill: var(--N600);
    }
}

.dc__page-header__cta-container {
    grid-row: 1 / span 2;
    grid-column: 2;
}

.dc__page-header-tabs__height {
    height: 76px;
    display: grid;
    grid-template-columns: 1fr;
}

.tab-list {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.tab-list__tab {
    user-select: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: var(--N700);
    margin-right: 16px;
}

.tab-list__tab-link {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: solid 2px transparent;

    &.active {
        color: var(--B500);
        font-weight: 600;
        border-bottom: solid 2px var(--B500);
    }

    &:hover,
    &.focus {
        color: var(--B500);
        text-decoration: none;
    }
}

.dc__loading-wrapper {
    height: calc(100vh - 172px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dc__empty__subtitle {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--N900);
}

.dc__bold {
    font-weight: 700;
}

.dc__small-text {
    font-size: 9px;
}

.dc__float-right {
    float: right;
}

.dc__float-left {
    float: left;
}

.dc__clear-both {
    clear: both;
}

.dc__truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0px;
}

.dc__transparent {
    background: transparent;
    border: none;
    padding: 2px;
}

.dc__position-rel {
    position: relative;
}

.dc__position-abs {
    position: absolute;
}

.dc__position-sticky {
    position: sticky;
}

.dc__vertical-align-middle {
    vertical-align: middle;
}

.dc__vertical-align-bottom {
    vertical-align: bottom;
}

//duplicate style use .cursor class
.pointer {
    cursor: pointer;
}

.dc__cursor--ns-resize {
    cursor: ns-resize;
}

.cursor {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}

// block
.dc__block {
    display: block;
}

.dc__inline-block {
    display: inline-block;
}

//remove
.form {
    margin: 0px;
    background-color: white;
}

// ClassName of text area
.dc__code-textarea {
    min-width: 100%;
    height: 550px;
    color: white;
    border: unset;
    white-space: nowrap;
    overflow: auto;
    resize: none;
    background: #0b0f22;
    padding: 16px;
    font-family: monospace;
}

// Pop Up
.popup {
    position: fixed;
    z-index: var(--modal-index);
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(21, 21, 21, 0.3);

    .no-option-found {
        height: 36px;
        opacity: 0.5;
        justify-content: flex-start;
        padding: 0 20px;
    }
}

.popup-button {
    background-color: inherit;
    padding: 0px;
    border: solid 1px var(--N200);
    border-radius: 4px;
    width: 100%;
}

.popup-button.popup-button--error {
    border: 1px solid var(--R500);
}

.popup-button-kebab {
    border: none;
    background-color: inherit;
    padding: 0px;
    border: solid 1px transparent;
    border-radius: 4px;
}

.popup-body.popup-body--empty {
    height: 0;
    width: 0;
    padding: 0;
}

.popup-button:hover {
    border: solid 1px var(--N400);
}

.popup-button:focus,
.popup-button:active {
    border: solid 1px var(--B500);
    outline: none;
}

.popup-button[disabled] {
    background-color: var(--N100);
    cursor: not-allowed;
    border: 1px solid var(--N200);
}

//TODO: remove. unused
.logs {
    .log {
        display: grid;
        width: 100%;
        height: 100%;

        &.active {
            color: var(--B500);
            font-weight: 600;
            border-bottom: solid 2px var(--B500);
        }
    }

    .tab-list__tab.active {
        color: var(--B500);
        font-weight: 600;
        border-bottom: solid 2px var(--B500);
    }

    .tab-list__tab-link:hover,
    .tab-list__tab-link:focus {
        text-decoration: none;
    }

    .white-card {
        border-radius: 8px;
        border: solid 1px var(--N100);
        background-color: var(--white);
    }
}

.dc__ellipsis-right {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dc__ellipsis-right__2nd-line {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.dc__ellipsis-left {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: rtl;
}

.anchor {
    color: var(--B500);
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: var(--B500);
    }
}

button.anchor {
    outline: none;
    box-shadow: unset;
    border: unset;
    background: transparent;
}

.dc__git-logo {
    width: 24px;
    height: 24px;
    background: url('../assets/icons/git/git.svg');
}

.dc__cd-trigger-status {
    margin: 12px;
    margin-top: 6px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 600;
    min-height: 20px;
    display: flex;
    color: var(--N400);
}

.dc__cd-trigger-status__icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    display: inline-block;
    background-size: 100% 100%;
}

.dc__loading-dots::after {
    animation-name: loadingDots;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    content: ' .';
}

@keyframes loadingDots {
    25% {
        text-shadow: 6px 0;
    }

    50% {
        text-shadow: 6px 0, 12px 0;
    }

    75% {
        text-shadow: 6px 0, 12px 0, 18px 0;
    }
}

.logs {
    .log {
        display: grid;
        width: 100%;
        grid-template-columns: minmax(min-content, max-content) auto;
        grid-column-gap: 4px;

        .index {
            padding: 0px 5px;
        }

        .content {
            overflow-wrap: break-word;
            white-space: pre-wrap;
        }
    }
}

.dc__app-summary__icon {
    flex-shrink: 0;
}

.app-summary__app-status {
    display: flex;
    align-items: center;

    .dc__app-summary__icon {
        position: unset;
        margin: 0 4px 0 10px;
    }
}

.app-summary__status-name {
    text-transform: uppercase;
}

.app-summary__status-name {
    &.f-healthy,
    &.f-synced,
    &.f-sync.ok,
    &.f-running,
    &.f-scalingreplicasetdown {
        color: var(--green);
    }

    &.f-suspended,
    &.f-switchedtoactiveservice {
        color: var(--orange);
    }

    &.f-degraded,
    &.f-sync.failed,
    &.f-failed,
    &.f-imagepullbackoff,
    &.f-errimagepull,
    &.f-outofsync {
        color: var(--R500);
    }

    &.f-progressing,
    &.f-inprogress,
    &.f-unknown,
    &.initiated {
        color: var(--yellow);
    }
}

.rotate {
    transform: rotate(var(--rotateBy));
    transition: transform 0.3s;
}

.Toastify__toast-container--top-right {
    top: 8em;
}

.Toastify__toast--default,
.Toastify__toast--info,
.Toastify__toast--warning,
.Toastify__toast--error,
.Toastify__toast--success {
    font-family: inherit;
    border-radius: 8px;
    box-shadow: 0 4px 12px 0 rgba(0, 51, 102, 0.2);

    &.devtron-toast {
        background: #2c3354;
        position: relative;
        padding: 12px 16px;

        &:before {
            background-repeat: no-repeat;
            background-position: top center;
            content: '';
            flex: 0 0 32px;
        }

        .devtron-toast__body {
            color: white;
            font-size: 13px;
            margin: 0 0 0 16px;
            flex: 0 0 213px;
            word-wrap: anywhere;
            white-space: pre-line;
            padding: 0;
            .Toastify__toast-icon {
                display: none;
            }
        }

        .Toastify__close-button {
            color: white;
            opacity: 0.5;
            padding: 0 4px;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.Toastify__toast--info,
.Toastify__toast--default {
    &.devtron-toast {
        &:before {
            background-image: url('../assets/icons/ic-info-filled.svg');
        }
    }
}

.Toastify__toast--success {
    &.devtron-toast {
        &:before {
            background-image: url('../assets/icons/ic-success.svg');
        }
    }
}

.Toastify__toast--warning {
    &.devtron-toast {
        &:before {
            background-image: url('../assets/icons/ic-warning.svg');
        }
    }
}

.Toastify__toast--error {
    &.devtron-toast {
        &:before {
            background-image: url('../assets/icons/misc/errorInfo.svg');
        }
    }
}

.dc__no-apps {
    background-color: var(--window-bg);
    min-height: calc(100vh - 160px);
    padding-top: 70px;
}

.no-results {
    background-color: var(--window-bg);
    height: calc(100vh - 250px);
    padding-top: 50px;
}

.empty {
    width: 320px;
    margin: auto;
}

.dc__empty__img {
    display: block;
    margin: auto;
}

.dc__empty-title {
    max-width: 250px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--N900);
    margin-bottom: 4px;
}

.dc__empty__message {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--N700);
    margin: 0px;
    margin-bottom: 20px;
}

.dc__empty-state__no-deploymentgroup {
    min-height: calc(100vh - 82px);
    padding-top: 100px;
}

.dc__devtron-tag__container {
    padding: 6px 0px;
    display: flex;
    flex-wrap: wrap;
}

.dc__devtron-tag {
    border-radius: 4px;
    border: solid 1px var(--N200);
    padding: 2px 8px;
    text-transform: lowercase;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--N900);
    cursor: default;
    user-select: none;
    display: inline-flex;
    align-items: center;
    background-color: var(--N000);
}

.dc__ses_config-table__tag {
    border-radius: 2px;
    padding: 2px 8px;
    font-size: 11px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.82;
    text-transform: uppercase;
    margin: 0 8px;
    color: var(--B500);
    border: solid 1px #b5d3f2;
    background-blend-mode: multiply;
    background-image: linear-gradient(to bottom, #f0f7ff, #f0f7ff);
}

.dc__saved-filter__clear-btn--dark {
    height: 36px;
    background-color: var(--white);
    color: var(--B500);
    border: solid 1px var(--B500);
    border-radius: 4px;
    margin: auto 6px;
    font-weight: 600;
    padding: 6px 12px;

    &:hover {
        background-color: var(--B500);
        color: var(--white);
    }
}

.dc__kebab-menu__list {
    padding: 8px 0px;
    width: 160px;
    font-weight: 500;
    font-size: 12px;
    list-style: none;
    margin: 0px;
}

.dc__kebab-menu__list-item {
    height: 36px;
    cursor: pointer;
    padding: 0 12px;
    display: flex;
    align-items: center;
}

.dc__kebab-menu__list-item--delete {
    color: var(--R400);
    display: flex;
    justify-content: space-between;

    svg {
        path {
            stroke: var(--R400);
        }
    }
}

.dc__kebab-menu__list-item:hover {
    background-color: #f5f5f5;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loader__svg {
    display: block;
    width: 100%;
    height: 100%;
}

.details-loader {
    width: 100vw;
}

.details-loader.details-loader-height {
    height: calc(100vh - 80px);
}

.dc__configuration-list {
    display: grid;
    grid-template-columns: 24px 1fr 24px;
    grid-column-gap: 16px;
}

.animate-background {
    animation: colorchange 0.5s ease-in 2;
    background: linear-gradient(-45deg, rgba(102, 163, 225, 100), white);
    background-size: 400% 400%;
}

.toast {
    .toast__title {
        font-size: 14px;
        font-weight: 600;
    }

    .toast__subtitle {
        font-size: 13px;
    }
}

@keyframes colorchange {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.dc__element-scroller {
    width: 40px;
    height: 80px;
    border-radius: 50px;
    opacity: 0.8;
    box-shadow: 0 0 4px 0 rgba(0, 10, 20, 0.5), 0 0 4px 0 rgba(0, 10, 20, 0.5);
    border: unset;
    overflow: hidden;

    button {
        background: #2c3354;
        height: 50%;
        outline: unset;
        border: unset;
        padding: unset;

        &:first-child {
            border-bottom: 1px solid var(--N900);
        }

        &:last-child {
            border-top: 1px solid var(--N700);
        }

        svg path {
            stroke: white;
        }

        &:disabled {
            cursor: not-allowed;

            svg path {
                stroke: var(--N400);
            }
        }

        svg {
            height: 32px;
            width: 32px;
        }
    }

    &:hover {
        opacity: 1;
    }
}

.dc__app-status-icon {
    background-repeat: no-repeat;
}

@mixin dc__app-status-icon($background) {
    height: 24px;
    width: 24px;
    z-index: 2;

    &.pending {
        background-size: contain, contain;
        background: url('../assets/icons/ic-clock.svg'), $background;
    }

    &.failed,
    &.error {
        background-size: contain, contain;
        background: url('../assets/icons/appstatus/ic-appstatus-failed.svg'), $background;
    }

    &.cancelled,
    &.aborted {
        background-size: contain, contain;
        background: url('../assets/icons/ic-appstatus-cancelled.svg'), $background;
    }

    &.healthy,
    &.synced,
    &.sync.ok,
    &.succeeded {
        background-size: contain, contain;
        background: url('../assets/icons/appstatus/healthy.svg'), $background;
        &.healthy--node {
          background: url('../assets/icons/appstatus/ic-heart-green.svg'), transparent;
          background-size: contain, contain;
        }
    }

    &.missing {
        background: url('../assets/icons/appstatus/missing.svg'), $background;
        background-size: contain, contain;
    }

    &.unknown {
        background-size: contain, contain;
        background: url('../assets/icons/appstatus/unknown.svg'), $background;
    }

    &.not-deployed,
    &.not-triggered {
        background-size: contain, contain;
        background: url('../assets/icons/appstatus/notdeployed.svg'), $background;
    }

    &.suspended {
        background-size: contain, contain;
        background: url('../assets/icons/appstatus/suspended.svg'), $background;
    }

    &.degraded {
        background-size: contain, contain;
        background: url('../assets/icons/appstatus/degraded.svg'), $background;
    }

    &.progressing,
    &.running,
    &.request_accepted,
    &.starting {
        background-size: contain, contain;
        background: url('../assets/icons/appstatus/progressing-rotating.svg'), $background;
        animation: unset;
    }

    &.hibernating,
    &.hibernated {
        background-size: contain, contain;
        background: url('../assets/icons/ic-hibernate-2.svg'), $background;
    }
}

@mixin dc__striped-row($background) {
    background-color: $background;
}

.dc__striped-row {
    &:nth-child(odd) {
        @include dc__striped-row(var(--window-bg));

        .app-status__icon {
            @include dc__app-status-icon(var(--window-bg));
        }
    }

    &:nth-child(even) {
        @include dc__striped-row(white);

        .app-status__icon {
            @include dc__app-status-icon(white);
        }
    }

    &:hover {
        @include dc__striped-row(var(--B100));

        .app-status__icon {
            @include dc__app-status-icon(var(--B100));
        }
    }
}

.dc__app-summary__icon {
    @include dc__app-status-icon(transparent);

    &.icon-dim-20 {
        width: 20px;
        height: 20px;
    }

    &.icon-dim-16 {
        width: 16px;
        height: 16px;
    }
}

.ci-details__build-card {
    .app-status__icon {
        @include dc__app-status-icon(transparent);
    }
}

.dc__app-update-toast {
    font-size: 14px;

    .info {
        line-height: 1.43;
        color: var(--N000);
        font-size: 13px;
        text-transform: none;
    }

    button {
        outline: unset;
        border: unset;
        margin-left: auto;
        background: transparent;
        font-weight: 600;
        text-transform: uppercase;
        margin: 14px 0 0 auto;
    }
}

.gui-yaml-switch.radio-group {
    padding: 0;
    height: 25px;
    overflow: hidden;
    border-radius: 4px;

    input + .radio__item-label {
        border-radius: 0;
        border: 1px solid var(--N200);
    }

    input[type='checkbox']:checked + .radio__item-label {
        border-radius: 0;
        border: 1px solid #2c3354;
    }

    .radio:first-child input + .radio__item-label {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-right: unset;
    }

    .radio:last-child input + .radio__item-label {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left: unset;
    }
}

//Tippy

.tippy-box.default-tt {
    font-size: 12px;
    line-height: 1.6;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: var(--N900);
}

.tippy-box.default-white {
    font-size: 12px;
    line-height: 1.6;
    color: var(--N900);
    border: 1px solid var(--N200);
    background-color: var(--N000);
}

.dc__devtron-breadcrumb {
    font-size: 12px;
    line-height: 1.34;
    color: var(--N700);
}

.dc__devtron-breadcrumb__item {
    color: inherit;
    text-transform: capitalize;
    font-weight: 400;
    color: var(--B500);
}

.dc__devtron-breadcrumb__item:hover {
    color: var(--B500);
    text-decoration: none;
}

.dc__devtron-breadcrumb__item:last-child {
    text-decoration: none;
    cursor: unset;
    font-weight: 400;

    &:hover {
        color: var(--B500);
    }
}

.dc__devtron-breadcrumb__item.param {
    text-transform: unset;
    font-weight: 400;
}

.dc__devtron-breadcrumb__item__separator {
    margin: 0 4px;
}

.multi-chart-summary__values-select.popup-body,
.multi-chart-summary__versions-select.popup-body {
    width: 298px;
    right: 10px !important;
}

.shimmer {
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    display: inline-block;
    position: relative;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
}

@keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

.dc__resizable-textarea {
    resize: none;
    border-radius: 4px;
    outline: none;
    border: solid 1px #d6dbdf;
    padding: 12px 10px;

    &:disabled {
        background: var(--N100);
    }
    &:hover {
        border-color: var(--N500);
    }
}

.dc__resizable-textarea__with-max-height {
    max-height: 100px;
    overflow: auto;
}

.dc__app-commit__hash {
    font-size: 12px;
    border-radius: 4px;
    background-color: var(--N100);
    color: var(--N700);
    padding: 2px 6px;
    display: flex;
    align-items: center;
    font-family: monospace;
    border: none;

    &.dc__app-commit__hash--no-bg {
        background-color: unset;
        padding: 0;
    }
}

.dc__app-commit__hash .stroke-color {
    stroke: var(--N500);
}

.dc__app-commmit__body {
    border-radius: 4px;
    background-color: var(--N000);
    width: 400px;
    box-shadow: 0 4px 8px -2px rgba(0, 56, 112, 0.2);
    padding: 16px;
    cursor: default;
}

.dc__app-commit__git-provider {
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: var(--N900);
    margin-bottom: 8px;
}

.dc__bullet {
    width: 4px;
    height: 4px;
    background: var(--N700);
    border-radius: 50%;

    &.dc__bullet--d2 {
        width: 2px;
        height: 2px;
    }
}

.dc__visible-hover {
    .dc__visible-hover--child {
        display: none;
    }

    &.dc__visible-hover--parent:hover {
        .dc__visible-hover--child {
            display: inherit;
        }
    }
}

.grayscale {
    filter: grayscale(1);
}

.dc__underline {
    text-decoration: underline;
}

.dc__underline-onhover {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.dc__no-decor {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.dc__tertiary-tab__radio {
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #151515;
}

.dc__tertiary-tab {
    border: solid 1px var(--N200);
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.dc__tertiary-tab__radio input {
    visibility: hidden;
    vertical-align: middle;
    width: 8px;
}

.dc__tertiary-tab__radio svg {
    vertical-align: bottom;
}

.dc__tertiary-tab__radio input:checked ~ .dc__tertiary-tab {
    border: solid 1px var(--B500);
    background-color: var(--B100);
}

.dc__secondary-nav {
    width: 240px;
    height: 100%;
    border-right: solid 1px #d6dbdf;
    padding: 16px;
    background-color: var(--N000);
}

.dc__secondary-nav__item {
    padding: 16px;
    max-height: 200px;
    overflow: auto;
    font-size: 13px;
    line-height: 40px;
    color: var(--N700);
    width: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &.active {
        color: var(--B500);
        font-weight: 600;
        background: #f0f7ff;
    }
}

// Start Security CSS
.dc__fill-pass {
    border-radius: 4px;
    border: solid 1px var(--G300);
    color: var(--G500);
    padding: 0 8px 0 8px;
    text-transform: capitalize;
    background-color: var(--G100);
}

.dc__fill-critical {
    border-radius: 4px;
    border: solid 1px var(--R300);
    color: var(--R500);
    padding: 0 8px 0 8px;
    text-transform: capitalize;
    background-color: var(--R100);
}

.dc__fill-moderate {
    border-radius: 4px;
    border: solid 1px #ffbc76;
    color: #ff8300;
    text-transform: capitalize;
    padding: 0 8px 0 8px;
    background-color: #ffead4;
}

.dc__fill-low {
    border-radius: 4px;
    border: solid 1px var(--Y300);
    color: var(--Y600);
    padding: 0 8px 0 8px;
    text-transform: capitalize;
    background-color: var(--Y100);
}

.dc__security-tab__table-row:hover .dc__cve-cell:after {
    display: inline-block;
}

.dc__security-tab__table-row:hover .dc__cve-cell a {
    color: var(--B500);
    text-decoration: underline;
}

.dc__cve-cell a {
    color: var(--N900);
    line-height: 23px;
}

.dc__cve-cell:hover a {
    color: var(--B500);
}

.dc__cve-cell::after {
    content: '';
    background-image: url('../assets/icons/ic-open-in-new.svg');
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin: 0 3px;
    background-size: contain;
}
// End Security CSS

.saved-filter {
    border-radius: 4px;
    border: solid 1px #72767a;
    background-color: var(--white);
    text-transform: lowercase;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--N900);
    margin: 6px;
    cursor: default;
    padding-left: 7px;
    user-select: none;
}

.dc__saved-filter__close-btn {
    font-size: 14px;
    line-height: 1;
    margin-left: 10px;
    color: #72767a;
    border: none;
    padding: 1px;
    background-color: #f7fafc;
}

.saved-filter__clear-btn {
    font-size: 13px;
    line-height: 1;
    margin-left: 10px;
    color: var(--B500);
    border: 1px solid var(--B500);
    padding: 6px 12px;
    margin: 2px;
    background-color: var(--white);
}

.saved-filters__clear-btn {
    background-color: var(--white);
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    padding: 7px 10px;
    margin-right: 12px;
    color: var(--B500);
    border: none;
    width: 115px;
    margin: 6px;
}

.dc__deprecated-warn-text {
    margin: 0 0 0 4px;
    font-size: 12px;
    line-height: 1.67;
    color: #f32e2e;
}

.dc__search-with-dropdown {
    width: 100%;
    border: solid 1px var(--N200);
    display: flex;
    border-radius: 4px;
    background-color: var(--N100);
    align-items: center;
}

.btn-confirm {
    text-decoration: none !important;
    margin-left: 12px;
}

.dc__link {
    color: var(--B500);
    &:hover {
        color: var(--B500);
    }
}

.dc__link-bold {
    color: var(--B500);
    font-weight: 600;
    &:hover {
        color: var(--B500);
    }
}

.dc__link-n9 {
    color: var(--N900);
    &:hover {
        color: var(--N900);
    }
}

.dc__sso-description {
    margin: 20px 24px;
    padding: 16px;
    border-radius: 4px;
    border: solid 1px var(--B200);
    background-color: #f0f7ff;
    font-size: 14px;
}

.dc__hosturl-error {
    border-radius: 4px;
    border: solid 1px var(--R200);
    color: var(--N900);
    padding: 10px 16px;
    background-color: var(--R100);
    font-size: 13px;
}

.dc__artifact-add {
    font-weight: 600;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--B500);
    font-size: 14px;
}

// Text Justify Content section
.dc__content-space {
    justify-content: space-between !important;
}

.dc__content-center {
    justify-content: center !important;
}

.dc__content-start {
    justify-content: flex-start !important;
}

.dc__content-end {
    justify-content: flex-end !important;
}

// Text alignment
.dc__align-start {
    align-items: flex-start !important;
}

.dc__align-center {
    text-align: center !important;
}

.dc__align-left {
    text-align: left;
}

.dc__align-right {
    text-align: right;
    margin-left: auto;
}

.dc__align-baseline {
    align-items: baseline !important;
}

// Border
.dc__border {
    border: 1px solid var(--N200);
}

.dc__border-transparent {
    border: 1px solid transparent;
}

.dc__border-top {
    border-top: solid 1px var(--N200);
}

.dc__border-bottom {
    border-bottom: solid 1px var(--N200);
}

.dc__border-left {
    border-left: solid 1px var(--N200);
}

.dc__border-right {
    border-right: solid 1px var(--N200);
}

.dc__border-top-n1 {
    border-top: solid 1px var(--N100);
}

.dc__border-bottom-n1 {
    border-bottom: solid 1px var(--N100);
}

.dc__border-right-n1 {
    border-right: solid 1px var(--N100);
}

.dc__no-border{
  border: none
}

.dc__box-shadow {
    box-shadow: inset 0 -1px 0 0 #d6dbdf;
}

.dc__box-shadow-top {
    box-shadow: inset 0 1px 0 0 #d6dbdf;
}

.dc__cluster-error {
    border: solid 1px #ffcb5d;
}

.dc__text__subtitle {
    font-size: 13px;
    font-weight: 600;
    color: var(--n-900);
    line-height: 1.5;
}

.dc__text-center {
    text-align: center;
}

.dc__mxw-300 {
    max-width: 300px;
}

.fw-n {
    font-weight: normal !important;
}

.dc__hide-section {
    display: none;
}

.dark-background {
    background-color: #0b0f22;
}

.white-background {
    background-color: #fff;
}

.light-gray-background {
    background-color: var(--N100);
}

.dc__registry-icon,
.repository-icon {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-image: url('../assets/icons/container.svg');

    &.git {
        background-image: url('../assets/icons/git/git.svg');
    }
    &.github {
        background-image: url('../assets/icons/git/github.svg');
    }

    &.gitlab {
        background-image: url('../assets/icons/git/gitlab.svg');
    }

    &.bitbucket {
        background-image: url('../assets/icons/git/bitbucket.svg');
    }

    &.docker {
        background-image: url('../assets/icons/git/docker.svg');
    }

    &.docker-hub {
        background-image: url('../assets/icons/git/docker.svg');
    }
    &.acr {
        background-image: url('../assets/icons/ic-azure.svg');
    }
    &.quay {
        background-image: url('../assets/icons/ic-quay.svg');
    }

    &.ecr {
        background-image: url('../assets/icons/ic-ecr.svg');
    }

    &.artifact-registry {
        background-image: url('../assets/icons/ic-google-artifact-registry.svg');
    }

    &.gcr {
        background-image: url('../assets/icons/ic-google-container-registry.svg');
    }
    &.other {
        background-image: url('../assets/icons/container.svg');
    }
}

.xterm .xterm-viewport {
    width: initial !important;
}

// Radius
.dc__bottom-radius-4 {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dc__top-radius-4 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dc__no-top-radius {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.dc__no-bottom-radius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dc__left-radius-4 {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.dc__right-radius-4 {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dc__border-radius-24 {
    border-radius: 24px;
}

.dc__border-radius-50-per {
    border-radius: 50%;
}

.dc__no-top-border {
    border-top: 0px !important;
}

.dc__no-bottom-border {
    border-bottom: 0px !important;
}

.dc__no-left-border {
    border-left: 0px !important;
}

.dc__no-right-border {
    border-right: 0px !important;
}

.dc__top-left-radius {
    border-top-left-radius: 4px;
}

input,
textarea {
    background-color: var(--N50);
}

.dc__split-header {
    display: flex;
    background-color: var(--N100);
    border-bottom: 1px solid #d6dbdf;
    height: 40px;
    color: var(--N700);
    font-size: 12px;
    font-weight: 600;
    line-height: 40px;
    width: 100%;
    .dc__left-pane {
        width: 49%;
        border-right: 1px solid #d6dbdf;
        padding-left: 10px;
    }
    .dc__right-pane {
        width: 51%;
        padding-left: 25px;
        .apply-change {
            float: right;
            margin-top: 9px;
        }
    }
}

.basic-multi-select > .select__control--is-disabled {
    background-color: var(--N100) !important;
}

.warning-icon-y7 path:nth-child(2) {
    fill: var(--Y700);
}

.icon-color-n9 {
    path:nth-child(2) {
        fill: var(--N900);
    }
}

// Text Transform
.dc__lowercase {
    text-transform: lowercase;
}

.dc__uppercase {
    text-transform: uppercase;
}

.dc__capitalize {
    text-transform: capitalize;
}

.dc__first-letter-capitalize {
    text-transform: lowercase;

    &::first-letter {
        text-transform: uppercase;
    }
}

.dc__no-text-transform {
    text-transform: none !important;
}

.dc__react-select__bottom {
    position: sticky;
    bottom: 0px;
    width: 100%;
    border-radius: 4px;
    z-index: 1;
}

.dc__break-word {
    word-wrap: break-word;
}

.dc__ff-monospace {
    font-family: monospace;
}

@mixin tab-container($bgColor, $color) {
    .tab {
        border-radius: 4px;
        background-color: transparent;
        color: $color;
        margin-right: 8px;
        padding: 0 6px;
        cursor: pointer;
        box-shadow: 0px 0px 0px 1px rgba($color, 0.5);

        &.active {
            background-color: $color;
            color: $bgColor;
            box-shadow: 0px 0px 0px 1px rgba($color, 1);
        }

        &:hover {
            box-shadow: 0px 0px 0px 1px rgba($color, 1);
        }
    }
}

.tab-container {
    display: flex;

    &.column {
        flex-direction: column;
    }

    @include tab-container(#2c3354, white);
}

// Width in pixels
.w-0 {
    width: 0px;
}

.w-32 {
    width: 32px !important;
}

.mw-48 {
    min-width: 48px;
}

.w-100-px {
    width: 100px;
}

.w-180 {
    width: 180px;
}

.w-200 {
    width: 200px;
}

.w-250 {
    width: 250px;
}

.w-280 {
    width: 280px;
}

.w-300 {
    width: 300px;
}

.w-400 {
    width: 400px;
}

.w-600 {
    width: 600px;
}

// Width in percentage
.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-95 {
    width: 95% !important;
}

.w-100 {
    width: 100%;
}

.w-auto {
    width: auto;
}

// Height in pixels

.dc__height-inherit {
  height: inherit;
}

.h-0 {
    height: 0px;
}

.h-8 {
    height: 8px;
}

.h-18 {
    height: 18px;
}

.h-20 {
    height: 20px !important;
}

.h-22 {
    height: 22px !important;
}

.h-28 {
    height: 28px !important;
}

.h-32 {
    height: 32px !important;
}

.h-36 {
    height: 36px !important;
}

.h-42 {
    height: 42px !important;
}

.h-44 {
    height: 44px !important;
}

.h-48 {
    height: 48px !important;
}

.h-60 {
    height: 60px !important;
}

.h-300 {
    min-height: 300px;
}

.mh-28 {
    min-height: 28px;
}

.mh-48 {
    min-height: 48px;
}

.mh-66 {
    min-height: 66px;
}

// Height in percentage
.h-100 {
    height: 100%;
}

// Line height
.lh-16 {
    line-height: 16px;
}

.lh-18 {
    line-height: 18px;
}

.lh-20 {
    line-height: 20px;
}

.lh-22 {
    line-height: 22px;
}

.lh-28 {
    line-height: 28px;
}

.lh-32 {
    line-height: 32px;
}

.lh-36 {
    line-height: 36px !important;
}

.lh-n {
    line-height: normal !important;
}

// Padding in pixels
.pl-16 {
    padding-left: 16px !important;
}

.pl-200 {
    padding-left: 200px;
}

.pl-220 {
    padding-left: 220px;
}

.p-lr-20 {
    padding-left: 20px;
    padding-right: 20px;
}

// Margin in pixels
.dc__m-auto {
    margin: auto;
}

.m-tb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.m-lr-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.mb-4-imp {
    margin-bottom: 4px !important;
}

.mb-8-imp {
    margin-bottom: 8px !important;
}

.mb-16-imp {
    margin-bottom: 16px !important;
}

.ml-0-imp {
    margin-left: 0px !important;
}

.mt-0-imp {
    margin-top: 0px !important;
}

.mt-120 {
    margin-top: 120px;
}

// background
.dc__window-bg {
    background: var(--window-bg);
}

.dc__no-background {
    background: none;
}

//Overflow
.dc__overflow-hidden {
    overflow: hidden !important;
}

.dc__overflow-scroll {
    overflow: scroll !important;
}

.dc__no-svg-fill {
    path {
        fill: none !important;
    }
}

.dc__column-gap-24 {
    column-gap: 24px;
}

.dc__flip-180 {
    transform: rotate(180deg);
}

textarea::-webkit-input-placeholder {
    color: var(--N400);
}

textarea:-moz-placeholder {
    color: var(--N400);
}

textarea::-moz-placeholder {
    color: var(--N400);
}

textarea:-ms-input-placeholder {
    color: var(--N400);
}

textarea::placeholder {
    color: var(--N400);
}

.dc__italic-font-style {
    font-style: italic !important;
}

// Start: accouncement banner
.announcement-banner-container {
    &.page-header-banner {
        width: fit-content;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &.cd-trigger-announcement {
        .info-bar-container {
            .announcement-bar {
                border-radius: 0;
                border: none;
                border-bottom: 1px solid var(--Y700);
            }
        }
    }
}

// End: accouncement banner