summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

.dc__unset-button-styles {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    &:focus,
    &:active,
    &:hover {
        outline: unset;
        border: unset;
    }
}

.theme {
    &__dark {
        input {
            color-scheme: dark;
        }
    }
}
