.svg-wrapper-trigger {
    min-height: calc(100vh - 80px);
    padding: 16px 24px;
    overflow: auto;
}

.material-last-update {
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: var(--N700);
    margin-top: 12px;
    display: flex;
    align-items: flex-end;
}

.material__error {
    width: 150px;
    color: var(--R500);
    font-size: 11px;
    font-weight: 500;
    line-height: 1.45;
}

.material-list {
    width: 234px;
    background-color: var(--white);
}

.material-list__title {
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--N700);
}

.material-list__title--border-bottom {
    border-bottom: solid 1px #dedede;
}

.material-list__item {
    cursor: pointer;
    padding: 16px;
    min-height: 76px;
}

.material-info {
    display: flex;
    justify-content: space-between;
}

.material-info__name {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--N900);
    margin-bottom: 4px;
}

.material-selected {
    box-shadow: inset 4px 0 0 0 var(--B500);
    background-color: var(--window-bg);
}

.material-refresh {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: solid 1px var(--N600);
    background: transparent;
    padding: 3px;
    align-self: center;
    animation: spin 6s infinite linear paused forwards;
}

.material-refresh svg path[fill='#06C'] {
    fill: var(--N600);
}

.material-last-update__fetching {
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: var(--B500);
}

.select-material {
    background-color: var(--window-bg);
    overflow: auto;
    flex: 1;
}

.select-material--trigger-view {
    height: calc(100vh - 72px);
}

.select-material--regex-body {
    height: calc(100vh - 108px);
    overflow: auto;
}

.select-material__empty-state-container {
    height: calc(100% - 74px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.material-history {
    width: 530px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: solid 1px var(--N200);
    background-color: var(--white);
    margin: 16px 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 4px;
}

.material-history--cd {
    width: 100%;
    background-color: transparent;
    padding: 0px;
    margin: 0 0 12px;
}

.material-history__header {
    display: flex;
    font-family: monospace;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.material-history__top {
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    grid-column-gap: 24px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.material-history__info {
    font-family: 'open sans';
}

.material-history__select-text {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 2px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--B500);
    width: 150px;
    text-align: right;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
        'Helvetica Neue', sans-serif;
}

.material-history__scan-error {
    color: var(--R500);
}

.material-history-selected {
    box-shadow: 0px 2px 2px rgb(217, 236, 255);
    border: solid 1px var(--B400);
}

.material-history__all-changes {
    max-height: 200px;
    overflow: auto;
    font-family: monospace;
}

.material-history__source-info {
    background-color: var(--white);
    padding: 12px 16px;
    margin: 16px;
    border-radius: 4px;
    font-family: monospace;
    /* padding: 4px 8px;
    display: grid;
    grid-template-columns: 1fr 1fr; */
}

.material-history__changes-btn {
    height: 36px;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--N700);
    text-align: right;
    padding: 8px 16px;
    display: block;
    width: 100%;
    background-color: var(--white);
    border: none;
    box-shadow: inset 0 1px 0 0 var(--N200);
    font-family: 'open sans';
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.material-history__grid {
    padding: 4px 8px;
    display: grid;
    grid-template-columns: 150px auto;
}

.material-history__text {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--N700);
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0px auto;
    margin-left: 16px;
    font-family: monospace;
    margin-right: 16px;
}

.material-history__commit-msg {
    padding-left: 16px;
    margin-top: 12px;
}

.material-history__text--padded {
    padding-left: 26px;
}

.last-deployed-status {
    font-size: 12px;
    font-family: 'open sans';
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--G500);
}

.commit-hash {
    background-color: var(--B100);
    color: var(--B500);
    border-radius: 4px;
    padding: 2px 8px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
}

.commit-hash--cd {
    background-color: transparent;
    margin-left: 0px;
    display: inline-block;
}

.commit-hash--docker {
    white-space: nowrap;
    background-color: var(--N100);
    color: var(--N900);
}

.commit-hash__icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.trigger-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: block;
    overflow: hidden;
    /* -webkit-overflow-scrolling: touch; */
    outline: 0;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.trigger-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: var(--N900);
    border-bottom: solid 1px #d6dbdf;
    margin: 0px;
}

.trigger-modal__header .modal__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.trigger-modal__content {
    background-color: var(--white);
    right: 0px;
    position: absolute;
}

.trigger-modal__trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    box-shadow: inset 0 1px 0 0 var(--N200);
    background-color: var(--white);
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 9;
}

.trigger-modal__trigger.trigger-modal__trigger--empty-state {
    height: calc(100vh - 72px);
    position: static;
    box-shadow: none;
}

.cta-with-img.cta-with-img--ci-trigger-btn {
    width: 260px;
    padding: 14px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--B500);
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    letter-spacing: normal;
    margin-left: auto;
    user-select: none;
}

.cta-with-img.cta-with-img--cd-trigger-btn {
    width: auto;
    padding: 8px 16px;
    height: 36px;
    border-radius: 4px;
    background-color: var(--B500);
    color: var(--white);
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: normal;
    margin-left: auto;
    -webkit-user-select: none;
    user-select: none;
}

.trigger-btn__icon {
    width: 22px;
    height: 22px;
    margin-right: 6px;
}

.cta-with-img--ci-trigger-btn:disabled svg path[fill='#FFF'],
.cta-with-img--cd-trigger-btn:disabled svg path[fill='#FFF'] {
    fill: var(--N400);
}

.caching-label {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--N700);
    position: relative;
    cursor: pointer;
    display: flex;
    user-select: none;
    align-items: center;
}

.check {
    display: none;
    position: absolute;
    top: 2px;
    left: 0;
    background-image: url('../assets/icons/appstatus/ic-check.svg');
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
}

.caching-label input {
    opacity: 0;
}

.form__checkbox-label--ignore-cache {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--N700);
    display: flex;
    align-items: center;
}

.form__checkbox-label--ignore-cache .form__checkbox-container{
  height: 32px;
  width: 32px;
}

.form__checkbox-label--ignore-cache .form__checkbox-label {
  margin-left: 24px;
}

.caching-label input:checked + .check {
    display: inline-block;
}

.trigger-btn:hover {
    background-color: #0558af;
}

.material-detail {
    border-bottom: solid 1px silver;
    margin: 10px;
    display: flex;
}

.trigger-modal__body {
    display: flex;
    background-color: var(--window-bg);
    height: calc(100vh - 49px);
    overflow: auto;
    flex-direction: column;
    padding: 20px;
}

.trigger-modal__body .show-older-images-cta.cta.ghosted {
    border: 1px solid var(--N200);
}

.trigger-modal__body .show-older-images-cta.cta.ghosted .loader__svg path {
    fill: var(--B500);
}

.trigger-modal__body .show-older-images-cta.cta.ghosted:hover,
.trigger-modal__body .show-older-images-cta.cta.ghosted:active,
.trigger-modal__body .show-older-images-cta.cta.ghosted:focus {
    background: white;
    color: var(--B500);
    border: 1px solid var(--B500);
}

.config-text {
    display: flex;
    flex-direction: column;
    color: var(--N700);
}

.config-text--bold {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    letter-spacing: normal;
}

.trigger-modal__small-text {
    display: block;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: normal;
}

.material-history:last-child {
    margin-bottom: 92px;
}

.w-fs-160 {
    width: 160px;
}

.modal-body--cd-material {
    width: 800px;
    position: fixed;
    right: 0;
    background: var(--N000);
    top: 0;
}

.modal-body--cd-material.contains-diff-view {
    width: 100%;
    min-width: 992px;
    max-width: 1112px;
}

.modal-body--cd-material.contains-diff-view .material-history:last-child {
    margin-bottom: 8px;
}

.modal-body--ci-material {
    position: fixed;
    width: 800px;
    right: 0;
    background: var(--N000);
    top: 0;
}

.trigger-modal__empty-state {
    background-color: var(--window-bg);
    font-family: 'Open sans';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
    width: 100%;
}

.cd-material__img {
    width: 250px;
    height: 200px;
}

.empty-state__img--ci-material {
    width: 200px !important;
    height: 160px !important;
}

.material-refresh:disabled {
    animation-play-state: running;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.security-tab {
    padding: 1px 20px 20px 20px;
    background-color: var(--N000);
    overflow: auto;
    max-height: 292px;
}

.security-tab-empty {
    height: 192px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--N000);
}

.security-tab-empty__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 4px;
    color: var(--N900);
}

.security-tab-empty__subtitle {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #404040;
}

.tab-list.tab-list--vulnerability {
    padding: 0 20px;
    background-color: var(--N000);
    border: solid 1px var(--N200);
    border-left: none;
    border-right: none;
}

.tab-list__tab-link.tab-list__tab-link--vulnerability {
    padding: 10px 0;
}

.security-tab__last-scanned {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: normal;
    margin: 12px 0;
    color: var(--N700);
}

.trigger-modal__trigger .deploy-config-select__group {
    padding-top: 4px;
    padding-bottom: 4px;
}

.trigger-modal__trigger .deploy-config-select__group .deploy-config-select__group-heading {
    font-size: 12px;
    font-weight: 600;
    text-transform: none;
    color: var(--N900);
    background-color: var(--window-bg);
    padding: 4px 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0;
}

.trigger-modal__config-diff-status:not(.config-not-found):hover {
    background-color: var(--N100);
}

.trigger-modal__trigger:hover .trigger-modal__config-diff-status:not(.config-not-found) .config-diff-status::after {
    content: " from Last Deployed";
}

.trigger-modal__config-diff-status svg.loader__svg path,
.trigger-modal__config-diff-status svg.config-diff-found-icon path:nth-of-type(2) {
    fill: white;
}

.trigger-modal__config-diff-status svg.config-diff-found-icon path:last-of-type {
    fill: var(--R500);
}

.trigger-modal__config-diff-status svg.no-config-found-icon path:nth-of-type(2) {
    fill: var(--Y500);
}

.code-editor-green-diff {
    background: var(--code-editor-green);
}

.code-editor-red-diff {
    background: var(--code-editor-red);
}
