.bg {
    &__primary {
        background: var(--bg-primary);
    }

    &__secondary {
        background: var(--bg-primary);
    }

    &__tertiary {
        background: var(--bg-primary);
    }
}

.text {
    &__white {
        color: var(--text-white);
    }
}
