.branch-name {
    width: 128px;
    height: 18px;
    margin-right: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--N600);
    display: flex;
    align-items: center;
}

.workflow {
    border: solid 1px #d6dbdf;
    border-radius: 8px;
    background-color: white;
    width: 100%;
}

.link-count {
    position: absolute;
    border-radius: 50px;
    border: 1px solid var(--N200);
    font-size: 10px;
    color: var(--N700);
    top: -10px;
    right: 10px;
    padding: 2px 8px;
    font-weight: 600;
    background-color: var(--N100);
}

.workflow--create {
    min-width: 840px;
}

.workflow--trigger {
    min-width: 1280px;
}

.workflow__header {
    padding: 16px 20px;
    border-radius: 8px 8px 0 0;
    border-bottom: solid 1px #d6dbdf;
    display: flex;
    align-items: center;
}

.workflow__body {
    position: relative;
    border-radius: 0 0 8px 8px;
}

.workflow__name {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--N900);
}

.workflow-node {
    height: 100%;
    width: 100%;
    background: var(--white);
    border-radius: 8px;
    border: solid 1px var(--N200);
    position: relative;
    padding-left: 16px;
}

.workflow-node--static {
    padding-left: 12px;
    display: flex;
    align-items: center;
}

.workflow-node__trigger-type {
    height: 16px;
    opacity: 0.4;
    background-color: #1e2360;
    color: var(--white);
    margin: 0px;
    transform: rotate(-90deg);
    position: absolute;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.workflow-node__details-link {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--B500);
}

.workflow-node__trigger-type--cd {
    width: 126px;
    left: -56px;
    bottom: 54px;
}

.workflow-node-trigger-type--external-ci {
    width: 84px;
    left: -35px;
    bottom: 33px;
}

.workflow-node__trigger-type--ci {
    width: 126px;
    left: -56px;
    bottom: 54px;
}

.workflow-node__trigger-type--create {
    width: 64px;
    left: -25px;
    bottom: 23px;
}

.workflow-node__btn-grp {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    margin: 12px;
    margin-top: 0px;
}

.workflow-node__configure-btn {
    border: none;
    padding: 0px;
    position: absolute;
    right: 12px;
    top: 12px;
}

.workflow-node__btn-icon {
    width: 20px;
    height: 20px;
}

.workflow-node__git-icon {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../assets/icons/git/git.svg');
    background-size: 100% 100%;
}

.workflow-node__CI-icon {
    background-image: url('../assets/icons/ic-CI.svg');
}

.workflow-node__CD-pre-post-icon {
    background-image: url('../assets/icons/ic-cd-stage.svg');
}

.workflow-node__CI-webhook-icon {
    background-image: url('../assets/icons/ic-CIWebhook.svg');
}

.workflow-node__CI-linked-icon {
    background-image: url('../assets/icons/ic-CILinked.svg');
}

.workflow-node__CD-icon {
    background-image: url('../assets/icons/ic-CD.svg');
}

.workflow-node__full-width-minus-Icon {
    flex: 1;
    min-width: 0;
}

.workflow-node__icon-common {
    display: block;
    width: 24px;
    height: 24px;
    background-size: 100% 100%;
}

.workflow-node__add-cd-btn {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px var(--N200);
    font-size: 10px;
    background-color: var(--white);
    width: 22px;
    height: 22px;
    padding: 0px;
    border-radius: 50%;
}

.workflow-node__deploy-btn {
    flex: 1;
    height: 30px;
    border-radius: 4px;
    border: solid 1px var(--N200);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--N700);
    background-color: var(--white);
}

.workflow-node__deploy-btn--ci {
    width: 100%;
}

.workflow-node__rollback-btn {
    width: 40px;
    height: 30px;
    border-radius: 4px;
    border: solid 1px var(--N200);
    margin-right: 8px;
    background-color: var(--white);
}

.workflow-node__title {
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: var(--N900);
    margin: 12px 12px 0px 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
}

.workflow-node__text-light {
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: normal;
    text-transform: capitalize;
    color: var(--N700);
    display: block;
    font-weight: 400;
}

.workflow-node-text--cd {
    position: relative;
}

.workflow-node-tooltip {
    position: absolute;
    display: none;
    background-color: var(--N700);
    color: var(--white);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: normal;
    padding: 4px 12px;
    word-break: break-all;
    white-space: normal;
    max-width: 180px;
    z-index: 2;
    border-radius: 2px;
}

.workflow-node-tooltip--env {
    top: 48px;
}

.workflow-node-tooltip--static {
    top: 52px;
}

.workflow-node-tooltip--ci {
    top: 33px;
}

.workflow-node-tooltip--rollback {
    top: 120px;
}

.workflow-node__title--static {
    margin-top: 0px;
    margin-bottom: 0px;
}

.workflow-node.cursor:hover {
    box-shadow: 0 2px 4px -1px rgba(0, 56, 112, 0.3);
}

.workflow-node__deploy-btn:hover,
.workflow-node__rollback-btn:hover {
    color: var(--B500);
    background-color: var(--B100);
    border: none;
}

.delete-pipeline:disabled,
.delete-pipeline.disabled {
    border: solid 1px var(--N400);
    color: var(--N400);
    background-color: var(--N200);
}

.cta.cta--workflow {
    height: 36px;
    line-height: unset;
}