.workflow-editor {
    min-height: calc(100vh - 128px);
    overflow: visible;
    min-width: 840px;
    padding: 24px;
    margin-bottom: 220px;
}

.create-here {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 125px;
    width: 250px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.form__title.form__title--workflow-editor {
    margin-top: 20px;
}

.form__subtitle.form__subtitle--workflow-editor {
    margin-top: 4px;
}

.white-card__header.white-card__header--pipeline-webhook {
    font-size: 16px;
    margin: 16px;
}

.pipeline-webhook {
    width: 416px;
    padding: 0px 0px 16px 0px;
    box-shadow: 0 6px 12px -3px rgba(0, 56, 112, 0.3);
}

.pipeline-webhook__icon {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 8px;
}

.pipeline-webhook__item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
}

.pipeline-webhook__title {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--N900);
    margin-top: 0px;
    margin-bottom: 4px;
}

.pipeline-webhook__text {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: var(--N700);
    margin-bottom: 0px;
}

.pipeline-webhook__err-text {
    color: var(--R500);
}

.pipeline-select__button {
    width: 200px;
    height: 64px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    border: solid 1px var(--N200);
    background-color: var(--white);
    border-style: dashed;
    position: relative;
    z-index: 3;
}

.pipeline-webhook__item:hover {
    background-color: var(--N100);
}

.icon-container {
    height: 60px;
}

.close-button-container {
    text-align: right;
}

.action-card:hover {
    background: var(--N50);
}
