
@keyframes openCIPipelineBanner {
    from {
        top: -40px;
    }

    to {
        top: 8px;
    }
}

.workflow-editor {
	min-height: calc(100vh - 128px);
	overflow: visible;
	min-width: 840px;
	padding: 24px;
	margin-bottom: 220px;
	.open-cipipeline-banner {
		top: -40px;
		left: 50%;
		transform: translate(-50%, 0);
		animation-name: openCIPipelineBanner;
		animation-timing-function: ease;
		animation-duration: 300ms;
		animation-delay: 500ms;
		animation-fill-mode: forwards;
	}
}
.create-here {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: auto;
  margin-top: 125px;
  width: 300px;
  border-radius: 4px;
  margin-bottom: 20px;
}
.form__title {
	&.form__title--workflow-editor {
		margin-top: 20px;
	}
}
.form__subtitle {
	&.form__subtitle--workflow-editor {
		margin-top: 4px;
	}
}
.pipeline-select-container {
	width: 320px;
	box-shadow: 0 6px 12px -3px rgba(0, 56, 112, 0.3);
}
.pipeline-select-item {
	&:hover {
		background-color: var(--N50);
	}
}
.pipeline-select-container__err-text {
	color: var(--R500);
}
.pipeline-select__button {
	width: 200px;
	height: 64px;
	border-radius: 8px;
	font-size: 12px;
	font-weight: 600;
	border: solid 1px var(--N200);
	background-color: var(--white);
	border-style: dashed;
	position: relative;
	z-index: 3;
}
.cd-success-icon-container {
	height: 60px;
}
.close-button-container {
	text-align: right;
}
.action-card {
	&:hover {
		background: var(--N50);
	}
}
.webhook-tippy-card-container {
	.webhook-tippy-card {
		background-color: var(--tippy-card-black-bg);
		position: fixed;
		z-index: 6;
		right: 20px;
		top: -100px;
	}
	.webhook-icon-white {
		path[fill='#4A4A4A'] {
			fill: var(--N0);
		}
	}
	.arrow-down {
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-top: 12px solid var(--tippy-card-black-bg);
		right: 50%;
		position: fixed;
		top: 85px;
	}
}

.floating-scoped-variables-widget {
    z-index: 21;
    margin-right: 104px;
    margin-top: -148px;
}