.empty-state {
    height: 100%;
    img {
        height: 40%;
        max-height: 200px;
        width: auto;
        margin-bottom: 12px;
        max-width: 250px;
    }
    svg {
        height: 40%;
        max-height: 200px;
        width: auto;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--N900);
    }
    .title {
        font-weight: 600;
    }
    .subtitle {
        font-size: 13px;
        width: 250px;
        font-weight: 400;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    .cta {
        height: 36px;
    }
    p {
        width: 250px;
        text-align: center;
        font-size: 13px;
        color: var(--N700);
    }
    strong {
        font-size: 16px;
        margin-bottom: 4px;
        color: var(--N900);
        font-weight: normal;
    }
    .select-popup {
        height: min-content;
        max-height: 250px;
        overflow: auto;
        padding: 8px 0;
    }
    .empty-state__loader {
        width: 34px;
        height: 34px;
        margin-bottom: 16px;
    }
    .empty-state__loading-text {
        font-size: 12px;
        width: 200px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: var(--N900);
    }
    //TODO: use name
    // .subtitle a {
    //     color: inherit;
    // }
    // .subtitle a:focus,
    // .subtitle a:hover {
    //     color: inherit;
    // }
}
