.chart-list {
    margin: 20px 95px;
    .margin-right-0 {
        margin-right: 0 !important;
    }
    .chart-list-row {
        display: grid;
        gap: 16px;
        grid-template-columns: 250px 150px auto 16px;
        .devtron-tag {
            white-space: nowrap;
        }
        .chart-version-row:hover {
            background-color: var(--N50);
        }
    }

    .custom-chart-info-bar {
        padding: 6px 16px;
        border-radius: 8px 8px 0 0;
    }
}
.upload-modal {
    width: 600px;
    position: relative;
    padding: 0;
    .prerequisite-table {
        display: grid;
        grid-template-columns: 55% 45%;
    }
    .footer {
        position: absolute;
        bottom: 0px;
        width: 100%;
        margin: 0;
    }
}
