.dc-table {
    width: 100%;
    table-layout: fixed;
    position: relative;

    &__head {
        position: sticky;
        top: 0;
        // Table uses collapsed border which are not visible with position sticky hence using box-shadow as a border
        box-shadow: 0 0 0 1px var(--N200);
        
        > tr {
            // height: 36px;
            background: var(--N0);
            border-bottom: none;

            &:hover {
                background-color: inherit;
                cursor: auto;
            }
        }
    }

    &__header-cell {
        color: var(--N700, #3B444C);
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
        text-transform: uppercase;
        padding-inline: 8px;
    }

    &__body {
        // TODO: Remove this
    }

    &__row {
        > th, td {
            &:first-child {
                padding-left: 20px;
            }

            &:last-child {
                padding-right: 20px;
            }
        }

        > th {
            padding-block: 6px;
        }

        > td {
            padding-block: 10px;
        }

        &:hover {
            background-color: var(--N50);
            cursor: pointer;
        }
    }

    &__cell {
        color: var(--N900);
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        padding-inline: 8px;
    }
}
