
.events-logs {
    position: fixed;
    bottom: 0;
    left: 64px;
    width: calc(100vw - 64px);
    background: #0b0f22;
    display: grid;
    grid-template-rows: 36px 40px 1fr;
    grid-template-columns: 1fr 1fr;
    box-shadow: inset 0 -1px 8px 0 var(--N900);
    z-index: var(--events-logs);

    .event-logs__logs {
        color: white;
        padding-left: 20px;
    }

    .events-logs__dropdown-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0 20px;
        border-bottom: 1px solid #2c3354;

        .tab-container {
            padding-left: 16px;
            border-left: 1px solid #2c3354;
        }
    }

    .events-logs__events-table-row{
        width:100%
    }

    .events-logs__event,
    .events-logs__log {
        color: white;
        font-family: monospace;
        font-size: 12px;
        margin-bottom: 0px;
    }

    .events-logs__events-table {
        width: 100%;
        padding: 0 20px;

        .events-logs__events-table-row {
            display: grid;
            grid-template-columns: 180px auto 50px 140px;
            grid-column-gap: 60px;
            grid-auto-rows: minmax(56px, max-content);
            justify-items: start;
            align-items: center;

            // margin: 12px 0;
            &.header {
                font-weight: 600;
                position: sticky;
                top: 0;
                background: #0b0f22;
                grid-template-rows: 32px;
            }
        }
    }

    .events-logs__title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        cursor: pointer;
        padding: 0 20px;
        background: #2c3354;
    }

    .events-logs__title-container--resize {
        cursor: row-resize;
    }

    .events-logs__toggle-btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 100%;
    }

    .events-logs__label {
        margin-right: 10px;
        color: white;
        opacity: 0.6;
    }

    .events-logs__dropdown-selector {
        display: flex;
        align-items: center;
        padding: 0 20px;
        border-left: 1px solid #2c3354;
        height: calc(100% - 16px);

        .pod-selector-button,
        .container-selector-button {
            width: 200px;
            background: transparent;
            border: 1px solid transparent;
            justify-content: space-between;
            border-radius: 4px;

            span.ellipsis-left {
                border-radius: 4px;
                padding: 8px 10px 8px 12px;
                font-size: 12px;
                color: white;
                text-align: left;
            }
        }

        .popup-button {
            border: unset;
        }
    }

    .log-viewer-container {
        height: 100%;
        width: 100%;
        align-items: flex-start;
        position: relative;

        &:focus {
            outline: none;
        }

        .log-viewer {
            height: 100%;
            width: 100%;
            padding: 0 0 0 20px;
            overflow: hidden;

            &:focus {
                outline: none;
            }

            .xterm {
                height: 100%;
            }
        }

        .logs {
            font-family: monospace;

            .log {
                grid-template-columns: 100%;

                .content {
                    padding-right: 16px;
                }
            }
        }
    }
}

.pod-readyState {
    position: relative;
    left: 0;
    right: 0;
    height: 0;
    transition: height 200ms;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    z-index: 4;
    padding-left: 16px;

    &:focus {
        outline: none;
    }

    &.pod-readyState--top {
        top: 0;
    }

    &.pod-readyState--bottom {
        bottom: 0;
        background: #0b0f22;
        right: 24px;
    }

    &.pod-readyState--show {
        height: 24px;
        transition: height 200ms;
    }
}