@mixin sub-vh{
    &.sub130-vh {
        .react-monaco-editor-container,
        .overflow-guard,
        .details-loader-height {
            height: calc(100vh - 130px) !important;
        }
        .monaco-editor{
            .monaco-editor-background, .margin {
              background-color: var(--N000) !important;
            }
            height: calc(100vh - 130px) !important;
        }
    }
    
    &.sub160-vh {
        .react-monaco-editor-container,
        .overflow-guard,
        .details-loader-height {
            height: calc(100vh - 160px) !important;
        }
        .monaco-editor{
            .monaco-editor-background, .margin {
              background-color: var(--N000) !important;
            }
            height: calc(100vh - 160px) !important;
        }
    }

    &.sub189-vh {
        .react-monaco-editor-container,
        .overflow-guard,
        .details-loader-height {
            height: calc(100vh - 189px) !important;
        }
        .monaco-editor{
            .monaco-editor-background, .margin {
              background-color: var(--N000) !important;
            }
            height: calc(100vh - 189px) !important;
        }
    }

    &.sub193-vh {
        .react-monaco-editor-container,
        .overflow-guard,
        .details-loader-height {
            height: calc(100vh - 193px) !important;
        }
        .monaco-editor{
            .monaco-editor-background, .margin {
              background-color: var(--N000) !important;
            }
            height: calc(100vh - 193px) !important;
        }
    }

    &.sub200-vh {
        .react-monaco-editor-container,
        .overflow-guard,
        .details-loader-height {
            height: calc(100vh - 200px) !important;
        }
        .monaco-editor{
            .monaco-editor-background, .margin {
              background-color: var(--N000) !important;
            }
            height: calc(100vh - 200px) !important;
        }
    }

    &.sub229-vh{
        .react-monaco-editor-container,
        .overflow-guard,
        .details-loader-height {
            height: calc(100vh - 229px) !important;
        }
        .monaco-editor{
            .monaco-editor-background, .margin {
              background-color: var(--N000) !important;
            }
            height: calc(100vh - 229px) !important;
        }
    }
}