.config-json {
    padding: 10px;
    width: 100%;
}

#deployment-config .tab-content {
    width: 100%;
}

.json-bottom-row {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.chart-version-warning {
    background-color: #ffebeb;
    color: var(--R500);
    margin-bottom: -1px;
}

#opt-metrics {
    margin-bottom: 8px;
    padding: 0;
    overflow: hidden;
}

.app-compose__deployment-config {
    min-width: 960px;

    &.full-view {
        position: absolute;
        left: 64px;
        width: calc(100% - 64px);
        height: calc(100% - 75px);

        .white-card__deployment-config {
            grid-template-rows: 48px auto;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 'tab tab' 'readme editor';

            &.comparison-view {
                grid-template-areas: 'tab' 'editor';
                grid-template-columns: 1fr;
            }
        }

        .deployment-template-override-form {
            grid-template-rows: 60px 48px auto;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 'override override' 'tab tab' 'readme editor';

            &.comparison-view {
                grid-template-areas: 'override' 'tab' 'editor';
                grid-template-columns: 1fr;
            }

            .dt-readme {
                .dt-readme-markdown {
                    height: calc(100vh - 216px);
                    overflow: scroll;
                }
            }
        }

        .white-card__deployment-config,
        .deployment-template-override-form {
            display: grid;

            &.comparison-view {
                .form__row--code-editor-container {
                    .code-editor__header {
                        display: grid;
                        grid-template-columns: 48.5% 51.5%;
                    }
                }
            }

            .form__row--code-editor-container {
                height: 100%;
                border: none;

                .code-editor__header {
                    height: 32px;
                    border: none;
                }
            }
        }
    }

    .white-card__deployment-config {
        .select-button {
            padding-left: 8px;
            height: 40px;
        }
    }

    .form-cta-section {
        height: 76px;

        .form-app-metrics-cta {
            width: 88%;
        }

        .form-submit-cta {
            &.cta {
                min-width: 116px;
                &.disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                    background: var(--B500);
                    color: var(--white);
                    border: 1px solid transparent;

                    .loader .loader__svg {
                        path {
                            fill: white;
                        }
                    }
                }
            }
        }
    }

    .dt-readme {
        grid-area: readme;

        .code-editor__header {
            height: 32px;
            padding: 0 12px;
            border-bottom: none;
        }

        .dt-readme-markdown {
            height: calc(100vh - 162px);
            overflow: scroll;
        }
    }

    .dt-options-tab-container {
        grid-area: tab;
        height: 48px;

        .dt-view-option {
            padding: 4px 8px;

            &.disabled {
                opacity: 0.5;
                user-select: none;
                cursor: not-allowed;
            }

            &.opened,
            &:hover {
                background-color: var(--N100);
                border-radius: 4px;
            }

            .option-open-icon path {
                stroke: var(--N700);
            }

            .option-close-icon use {
                fill: var(--N700);
            }
        }
    }

    .compare-template-values-select__group {
        padding-top: 0;
        padding-bottom: 0;

        .compare-template-values-select__group-heading {
            font-size: 12px;
            font-weight: 600;
            text-transform: none;
            color: var(--N900);
            background-color: var(--window-bg);
            padding: 4px 10px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            margin: 0;
        }
    }
}

.chart-type-version-options {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 16px;

    .chart-type-options,
    .chart-version-options {
        display: grid;
        align-items: center;
    }

    .chart-type-options {
        grid-template-columns: 75px 1fr;
    }

    .chart-version-options {
        grid-template-columns: 94px 1fr;
    }
}

.form__row--code-editor-container {
    height: calc(100% - 124px);
    display: grid;
    grid-template-rows: 32px 1fr;
    overflow: hidden;
    grid-area: editor;
    &.gui{
      height: calc(100% - 162px);
    }
    &.gui-with-warning{
      height: calc(100% - 195px);
    }
    &.scrollable {
        overflow: hidden scroll;
    }
    .w-650-px {
        width: 650px;
    }

    .row-container {
        display: grid;
        grid-template-columns: 220px auto 20px;
        column-gap: 8px;
    }

    &.form__row {
        margin-bottom: 0;
    }

    .code-editor__warning {
        height: 32px;
        color: var(--N900);
        background-color: var(--Y100);

        .code-editor__information-info-icon path:nth-child(2) {
            fill: var(--Y700);
        }
    }
}

.switch-to-advance-info-bar {
    padding: 6px 16px;
    border-radius: 0;
}

.deploymentConfig__warning {
    color: #6b778c;
}

.border-bottom-1px {
    border-bottom: 1px solid var(--N200);
}

.readme-container {
    display: grid;
    grid-template-columns: 1fr auto;
    background: var(--N100);
}

.rotateBy--90 {
    transform: rotate(-90deg);
}

.advanced-config-readme {
    height: calc(100vh - 80px);
    width: calc(100vw - 100px);
    background: var(--N000);
    margin: 40px 50px;
    display: grid;
    grid-row-gap: 12px;

    .config-editor {
        display: grid;
        grid-template-columns: 50% 50%;
        min-height: 0;
        height: 100%;
    }

    .infobar {
        flex-grow: 1;
        max-height: 36px;
    }

    .done-button {
        font-size: 13px !important;
        max-height: 36px;
    }

    .readme {
        height: calc(100% - 40px);
        overflow-y: scroll;
        min-height: 0;
    }

    .readmeEditor {
        background: var(--N000);
        border-right: 1px solid var(--N200);
        height: 100%;
        min-height: 0;
    }

    .code-editor {
        min-height: 0;
        height: 100%;
    }
}

.chart_select__group {
    padding: 0;
    .chart_select__group-heading {
        font-size: 12px;
        font-weight: 600;
        color: var(--N900);
        text-transform: initial;
        background-color: var(--window-bg);
        padding: 4px 10px;
        margin-bottom: 0;
    }
}
.chart_select__option {
    font-size: 13px;
    font-weight: 400;
    &.chart_select__option--is-disabled {
        color: var(--N700);
        pointer-events: none;
    }
}

.upload-custom-chart-link {
    background-color: rgb(255, 255, 255);
    bottom: 0 !important;
    margin: 0 !important;
    .upload-icon-stroke {
        path {
            stroke: var(--B500);
        }
    }
}

.deployment-template-override {
    .app-compose__deployment-config {
        min-width: 1024px;
    }

    .deployment-template-override-form {
        .form__row--code-editor-container {
            height: calc(100% - 184px);
        }

        .override-container {
            grid-area: override;
            border: none;
            border-radius: 0;
            margin-bottom: 0;
        }
    }
}
