.config-json {
    padding: 10px;
    width: 100%;
}

#deployment-config .tab-content {
    width: 100%;
}

.json-bottom-row {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.chart-version-warning {
    background-color: #ffebeb;
    color: var(--R500);
    margin-bottom: -1px;
}

.white-card__deployment-config {
    padding: 16px;
    margin-bottom: 16px;
    .select-button {
        padding-left: 8px;
        height: 40px;
    }
}

#opt-metrics {
    margin-bottom: 8px;
    padding: 0;
    overflow: hidden;
}

.form__row--code-editor-container {
    height: 500px;
    border: 1px solid var(--N200);
    display: grid;
    grid-template-rows: 40px 1fr;
    border-radius: 4px;
    overflow: hidden;
}

.deploymentConfig__warning {
    color: #6b778c;
}

.border-bottom-1px {
    border-bottom: 1px solid var(--N200);
}

.readme-container {
    display: grid;
    grid-template-columns: 1fr auto;
    background: var(--N100);
}

.rotateBy--90 {
    transform: rotate(-90deg);
}

.advanced-config-readme {
    height: calc(100vh - 80px);
    width: calc(100vw - 100px);
    background: var(--N000);
    margin: 40px 50px;
    display: grid;
    grid-row-gap: 12px;

    .config-editor {
        display: grid;
        grid-template-columns: 50% 50%;
        min-height: 0;
        height: 100%;
    }

    .infobar {
        flex-grow: 1;
        max-height: 36px;
    }

    .done-button {
        font-size: 13px !important;
        max-height: 36px;
    }

    .readme {
        height: calc(100% - 40px);
        overflow-y: scroll;
        min-height: 0;
    }

    .readmeEditor {
        background: var(--N000);
        border-right: 1px solid #d0d4d9;
        height: 100%;
        min-height: 0;
    }

    .code-editor {
        min-height: 0;
        height: 100%;
    }
}

.chart_select__group {
    padding: 0;
    .chart_select__group-heading {
        font-size: 12px;
        font-weight: 600;
        color: var(--N900);
        text-transform: initial;
        background-color: var(--window-bg);
        padding: 4px 10px;
    }
}
.chart_select__option {
    font-size: 13px;
    font-weight: 400;
    color: var(--N900);
    &.chart_select__option--is-disabled {
        color: var(--N700);
        pointer-events: none;
    }
}
