.dark-theme {
        border-top: 1px solid #2C3354;
        background: #0C0F21;
        color: var(--N000);
        z-index: 1000;

        .resource-link__dark-theme:hover,
        .resource-link__dark-theme:focus {
                color: var(--N000);
                text-decoration: none;
        }
}

.cluster-meta-data-wrapper {
        .resource-link__white-theme:hover,
        .resource-link__white-theme:focus {
                color: var(--N900) !important;
                text-decoration: none;
        }
}