.unassigned-project-border {
    height: 3px;
    width: 100%;
    margin-left: -40px;
    position: absolute;
    top: 52px;
    border-bottom: 1px solid var(--N200);
}

.option-label-padding {
    padding: 8px 12px 0px 9px !important;
}

.select__group {
    border-bottom: 1px solid var(--N200);

    .select__group-heading {
        font-size: 12px;
        font-weight: 600;
        color: #596168;
        text-transform: initial;
    }
}

.select__option {
    mark {
        padding: 0;
        background-color: #ffd597;
        font-weight: 600;
    }
}

.kubernetes-header {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr 1fr;
    grid-column-gap: 12px;
}

.dc__cluster-modal {
    background-color: var(--window-bg);
    height: calc(100vh - 116px);
}

// New Code
.authorization-container {
    // To make the loader take the full width
    .loader {
        flex-grow: 1;
    }
}

.user-permission {

    &__row,
    &__header {
        display: grid;
        grid-template-columns: 40px 250px minmax(150px, auto) 52px;
        column-gap: 16px;
        align-items: center;

        &--with-status {
            grid-template-columns: 40px 250px 150px minmax(200px, auto) 52px;
        }
    }

    &__header {
        grid-template-rows: 35px;
    }

    &__row {
        grid-template-rows: 44px;
    }
}

// Override the styling for the radio group
.form__radio-group {
    &.permission-type__radio-group {
        display: flex;
        align-items: center;
        gap: 16px;

        .form__radio-item .form__radio-item-content {
            padding: 6px 0;
        }
        
        .radio__button {
            margin-right: 0;
        }

        .form__radio-item-content {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}
