.select-width{
    width: 240px;
}

.updated-container{
    height: 100%;
    min-height: 0;
    display: grid;
    grid-template-rows: 48px 1fr;
    border: 1px solid #d6dbdf;
}

.updated-container--sample{
    align-items: flex-start;
    height: "700px";
}
